<div bsModal #confirmationRemarksModal="bs-modal" class="modal fade bsModal-content" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content modal-body-content">
      <div class="modal-header bsModal-header">
        <h4 class="modal-title">
          {{confirmationMsg}}
        </h4>
        <button type="button" class="close" (click)="hideModal()" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="confirmationModalForm">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="" class="form-label">Remarks</label>
                <div class="input-group">
                  <input type="text" id="remarks" class="form-control" name="remarks" required formControlName="remarks" />

                  <div *ngIf="confirmationModalForm.controls['remarks'].errors && !confirmationModalForm.controls['remarks'].pristine" class="form-validation">
                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" [hidden]="!confirmationModalForm.controls['remarks'].errors.required"
                      tooltip="Remarks is required"></i>
                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" [hidden]="!confirmationModalForm.controls['remarks'].errors.minlength"
                      tooltip="Remarks must be minimum of 4 length."></i>
                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" [hidden]="!confirmationModalForm.controls['remarks'].errors.maxlength"
                      tooltip="Remarks must be maximum of 150 length."></i>
                  </div>

                </div>
              </div>
            </div>

          </div>
          <div class="">
            <button *ngIf="!isButtonPressed" type="button" class="btn btn-gap btn-primary" disabled="disabled" [disabled]="confirmationModalForm.invalid || isButtonPressed"
              (click)="confirm()">Confirm</button>
            <button *ngIf="isButtonPressed" class="btn btn-default" [disabled]="true">Processing</button>
            <button *ngIf="!isButtonPressed" type="button" class="btn btn-default" (click)="hideModal()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
