<div class="admin-sidebar-header">
  <div class="admin-brand-logo text-center">
    <a href="#/dashboard">
      <!-- <img src="assets/img/brand.svg" onerror="this.onerror=null; this.src='assets/img/brand.png'"> -->
      LOGO
    </a>
  </div>
  <div class="admin-brand-logo-mini text-center">
    <a href="#/dashboard">
      <!-- <img src="assets/img/brand-logo.png" alt="logo"> -->
      LOGO
    </a>
  </div>

</div>
