<div class="animated fadeIn">
    <div class="row">
        <div class="col-md-12">
            <div class="page-title-wrapper">
                <div class="row">
                    <div class="col-md-12">
                        <div class="back-button-block">
                            <button type="button" (click)="back()" class="btn btn-icon-only casba-bck-btn">
                                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="page-title-block">
                            <div class="page-title">
                                <span>Create Department</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body ">

                    <form #createDepartmentForm="ngForm" class="form-horizontal" (submit)="create(createDepartmentForm)"
                        novalidate>

                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="text-input">Name<span class="required__signal">*</span></label>
                                    <div class="input-group">
                                        <input type="text" id="name" name="name" class="form-control"
                                            [(ngModel)]="department.name" #name="ngModel" required minlength="3"
                                            maxlength="55" appServerError>
                                        <div [hidden]="!name.errors?.required || name.untouched || name.errors['server']"
                                            class="form-validation">
                                            <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                                tooltip="Name is required"></i>
                                        </div>
                                        <div *ngIf="!name.errors?.required">
                                            <div [hidden]="!name.errors?.minlength" class="form-validation">
                                                <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                                    tooltip="Length must be between 3 to 55"></i>
                                            </div>
                                        </div>
                                        <div [hidden]="name.errors ? (!name.errors['server']) : true"
                                            class="form-validation">
                                            <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                                tooltip="{{serverErrorMessages['name']}}"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="text-input">Unicode Name<span class="required__signal">*</span></label>
                                    <div class="input-group">
                                        <input type="text" id="unicodeName" name="unicodeName" class="form-control"
                                            [(ngModel)]="department.unicodeName" #unicodeName="ngModel" required
                                            minlength="3" maxlength="55" appServerError>
                                        <div [hidden]="!unicodeName.errors?.required || unicodeName.untouched || unicodeName.errors['server']"
                                            class="form-validation">
                                            <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                                tooltip="Unicode Name is required"></i>
                                        </div>
                                        <div *ngIf="!unicodeName.errors?.required">
                                            <div [hidden]="!unicodeName.errors?.minlength" class="form-validation">
                                                <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                                    tooltip="Length must be between 3 to 55"></i>
                                            </div>
                                        </div>
                                        <div [hidden]="unicodeName.errors ? (!unicodeName.errors['server']) : true"
                                            class="form-validation">
                                            <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                                tooltip="{{serverErrorMessages['unicodeName']}}"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="text-input">Code<span class="required__signal">*</span></label>
                                    <div class="input-group">
                                        <input type="text" id="code" name="code" class="form-control"
                                            [(ngModel)]="department.code" #code="ngModel" required minlength="3"
                                            maxlength="55" appServerError>
                                        <div [hidden]="!code.errors?.required || code.untouched || code.errors['server']"
                                            class="form-validation">
                                            <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                                tooltip="Code is required"></i>
                                        </div>
                                        <div *ngIf="!code.errors?.required">
                                            <div [hidden]="!code.errors?.minlength" class="form-validation">
                                                <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                                    tooltip="Length must be between 3 to 55"></i>
                                            </div>
                                        </div>
                                        <div [hidden]="code.errors ? (!code.errors['server']) : true"
                                            class="form-validation">
                                            <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                                tooltip="{{serverErrorMessages['code']}}"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="section-block-seperator"></div>

                        <div class="section-block">

                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Ministry</label>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group--compact">
                                        <div class="input-group select">
                                            <select class="form-control" [(ngModel)]="department.ministryId"
                                                name="ministry" #ministry="ngModel" required appServerError>
                                                <option value="" disabled>Select Ministry</option>
                                                <option [value]="ministry.id"
                                                    *ngFor="let ministry of ministryService.ministries | async">
                                                    {{ ministry.name }}
                                                </option>
                                            </select>
                                            <span>
                                                <i class="mdi mdi-chevron-down"></i>
                                            </span>
                                            <div [hidden]="!ministry.errors?.required || ministry.untouched || ministry.errors['server']"
                                                class="form-validation">
                                                <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                                    tooltip="Office Type is required"></i>
                                            </div>
                                            <div [hidden]="ministry.errors ? (!ministry.errors['server']) : true"
                                                class="form-validation">
                                                <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                                    tooltip="{{serverErrorMessages['ministry']}}"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="admin-card-footer">
                            <button *ngIf="!buttonPressed" type="submit" class="btn btn-gap btn-primary"
                                [disabled]="createDepartmentForm.invalid || buttonPressed">Create</button>
                            <button *ngIf="!buttonPressed" type="button" (click)="resetForm()"
                                class="btn btn-gap default"><i class="cai cai-reset"></i>Reset</button>
                            <button *ngIf="buttonPressed" class="btn btn-gap default"
                                [disabled]="true">Processing</button>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>