<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">

          <div class="col-md-6">
            <div class="back-button-block">
<!--              <button type="button" (click)="goBack()" class="btn btn-icon-only casba-bck-btn">-->
<!--                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>-->
<!--              </button>-->
            </div>
            <div class="page-title-block">
              <div class="page-title">
                <span>Meta Table</span>
              </div>
            </div>
          </div>


          <div class="col-md-6 card-action-buttons-right card-buttons">
            <ul>
              <li>
                <div class="form-group">
                  <!-- <label for="text-input">Search</label> -->
                  <div class="input-group single__wide__search__box">
                      <i class="mdi mdi-magnify"></i>
                    <input name="searchMetaTable" class="form-control" [(ngModel)]='searchMetaTable' placeholder="Search">
                  </div>
                </div>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table admin-card-table table-no-cursor">
        <thead>
          <tr>
            <th>Label Name</th>
            <th>Field Value</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let metaTable of getSearchedFilterMeTable()">
            <td>{{metaTable.lableName ? metaTable.lableName: 'N/A'}}</td>
            <td>{{metaTable.fieldValue ? metaTable.fieldValue: 'N/A'}}</td>
            <td>
              <button type="button" class="btn btn-icon-only" [routerLink]="['edit',metaTable.id]" tooltip="Edit">
                <i class="cai cai-edit"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
