<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-6">
            <div class="back-button-block">
              <button type="button" (click)="goBack()" class="btn btn-icon-only casba-bck-btn">
                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
              </button>
            </div>
            <div class="page-title-block">
              <div class="page-title">
                <span>Manage Office</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- For Search -->
  <div class="card con__search__wrapper">
    <div class="card-body">
      <form #searchForm="ngForm">
        <div class="row">

          <ng-container *ngFor="let filter of filterParam; let i = index">
            <ng-container *ngIf="!filter.hidden">
              <div class="col-3">
                <div class="form-group">
                  <label>{{filter.alias ? filter.alias : filter.key}}</label>
                  <div class="input-group">
                    <input type={{filter.inputType}} name={{filter.key}} class="form-control" [(ngModel)]='filter.value'
                      *ngIf=filter.inputType>
                    <input name={{filter.key}} class="form-control" [(ngModel)]='filter.value' *ngIf=!filter.inputType>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>

        </div>

        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-primary" *ngIf="!searchButtonpressed"
              (click)="searchOfficeOnUserInput()">
              <i class="cai cai-search" aria-hidden="true"></i>Search
            </button>

            <button type="button" class="btn btn-primary" *ngIf="searchButtonpressed" [disabled]="true">
              <i class="cai cai-search" aria-hidden="true"></i>Please wait
            </button>
            <button type="button" class="btn btn-primary" (click)="resetSearch()">
              <i _ngcontent-c1="" class="cai cai-reset"></i>Reset
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="officeForManage?.length <= 0 ;then noRecordsFound"></div>

  <div class="row " *ngIf="!cardViewEnabled && officeForManage?.length > 0">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table admin-card-table ">
          <thead>
            <tr>
              <th>Name</th>
              <th>Unicode Name</th>
              <th>Office Code</th>
              <th>Office Type</th>
              <th>Province</th>
              <th>Department</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let office of officeForManage " (click)="clickViewDetailButton(office) " clickStopPropagation>
              <td>{{office.name ? office.name :'N/A' }}</td>
              <td>{{office.unicodeName ? office.unicodeName :'N/A' }}</td>
              <td>{{office.officeCode ? office.officeCode :'N/A' }}</td>
              <td>{{office.officeTypeDto.name ? office.officeTypeDto.name :'N/A' }}</td>
              <td>{{office.provinceDto?.name ? office.provinceDto.name :'N/A' }}</td>
              <td>{{office.departmentDto?.name ? office.departmentDto.name :'N/A' }}</td>
              <td>
                <span class="admin.statusDto.icon status-badge {{isActive(office.active) ? 'active': 'inactive' }}">
                  {{isActive(office.active) ? 'Active': 'InActive' }}
                </span>
              </td>
              <td>
                <div class="action-button">
                  <button type="button" *ngIf="getChildRole('Edit Office')" class="btn btn-icon-only"
                    (click)="clickEditOffice(office)" [tooltip]="getChildRole('Edit Office').description"
                    clickStopPropagation>
                    <i [class]="getChildRole('Edit Office').icon"></i>
                  </button>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <div class="row" *ngIf="cardViewEnabled ">
    <div class="col-md-4" *ngFor="let office of officeForManage " (click)="clickViewDetailButton(office) "
      clickStopPropagation>
      <div class="card user-card ">

        <div class="card-body ">
          <div class="card-primary-details ">
            <div class="card-name ">
              <span>{{office.name ? office.name :'N/A' }}</span>
            </div>
            <div class="card-subname">
              <span>{{office.unicodeName ? '('+office.unicodeName+')' :'N/A' }}</span>
            </div>
            <div class="card-subname">
              <span>{{office.officeCode ? '('+office.officeCode+')' :'N/A' }}</span>
            </div>
            <div class="card-subname">
              <span>{{office.officeTypeDto.id ? '('+office.officeTypeDto.id+')' :'N/A' }}</span>
            </div>
            <div class="card-subname">
              <span>{{office.provinceDto.id ? '('+office.provinceDto.id+')' :'N/A' }}</span>
            </div>

            <div class="card-action">

              <button type="button" *ngIf="getChildRole('Edit Office')" class="btn btn-icon-only"
                (click)="clickEditOffice(office)" [tooltip]="getChildRole('Edit Office').description"
                clickStopPropagation>
                <i [class]="getChildRole('Edit Office').icon"></i>
              </button>

            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

  <pagination [hidden]="officeForManage?.length < 1 || totalItems <= size" [boundaryLinks]="true"
    [totalItems]="totalItems" [rotate]="true" (pageChanged)="getAllOfficeForSearch($event)" [itemsPerPage]="size"
    [maxSize]="5" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>


  <ng-template #noRecordsFound>
    <app-no-records-found></app-no-records-found>
  </ng-template>