<div bsModal #confirmationModal="bs-modal" class="modal fade bsModal-content" tabindex="-1" role="dialog"
  aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content modal-body-content">
      <div class="modal-header bsModal-header">
        <h4 class="modal-title">
          {{confirmationMsg}}
        </h4>
        <button type="button" class="close" (click)="hideModal()" aria-label="Close">
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="confirmationModalForm">

          <div class="">
            <button *ngIf="!isButtonPressed" type="button" class="btn btn-gap btn-primary" disabled="disabled"
              [disabled]="confirmationModalForm.invalid || isButtonPressed" (click)="confirm()">Confirm</button>
            <button *ngIf="isButtonPressed" class="btn btn-default" [disabled]="true">Processing</button>
            <button *ngIf="!isButtonPressed" type="button" class="btn btn-default" (click)="hideModal()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>