<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="back-button-block">
              <button type="button" (click)="goBack()" class="btn btn-icon-only casba-bck-btn">
                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
              </button>
            </div>
            <div class="page-title-block">
              <div class="page-title">
                <span>Line Item Details</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Name</label>
                <div class="form-value">
                  <span>{{lineItem?.name ? lineItem?.name : 'N/A'}}</span>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Unicode Name</label>
                <div class="form-value">
                  <span>{{lineItem?.unicodeName ? lineItem?.unicodeName : 'N/A'}}</span>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Code</label>
                <div class="form-value">
                  <span>{{lineItem?.code ? lineItem?.code : 'N/A'}}</span>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Type</label>
                <div class="form-value">
                  <span>{{lineItem?.type ? lineItem?.type : 'N/A'}}</span>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Created Date</label>
                <div class="form-value">
                  <span>{{lineItem?.createdDate ? (lineItem?.createdDate | date): 'N/A'}}</span>
                </div>
              </div>
            </div>


            <div class="col-md-4">
              <div class="form-group">
                <label for="">Modified Date</label>
                <div class="form-value">
                  <span>{{lineItem?.modifiedDate ? (lineItem?.modifiedDate | date ): 'N/A'}}</span>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Created By</label>
                <div class="form-value">
                  <span>
                    {{lineItem?.createdBy ? lineItem?.createdBy : 'N/A'}}
                  </span>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>