<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="back-button-block">
              <button type="button" (click)="goBack()" class="btn btn-icon-only casba-bck-btn">
                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
              </button>
            </div>
            <div class="page-title-block">
              <div class="page-title">
                <span>User Group Details</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Name</label>
                <div class="form-value">
                  <span>{{userGroup?.name ? userGroup?.name : 'N/A'}}</span>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Created Date</label>
                <div class="form-value">
                  <span>{{userGroup.createdDate ? (userGroup.createdDate | date): 'N/A'}}</span>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Modified Date</label>
                <div class="form-value">
                  <span>{{userGroup.modifiedDate ? (userGroup.modifiedDate | date ): 'N/A'}}</span>
                </div>
              </div>
            </div>

          </div>

          <div class="row">

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Created By</label>
                <div class="form-value">
                  <span>
                    {{userGroup.createdBy}}
                  </span>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Profile</label>
                <div class="form-value">
                  <span>
                    {{userGroup.profileId}}
                  </span>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>