<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="back-button-block">
              <button type="button" (click)="back()" class="btn btn-icon-only casba-bck-btn">
                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
              </button>
            </div>
            <div class="page-title-block">
              <div class="page-title">
                <span>Edit Password Policy</span>
              </div>
              <div class="page-subtitle">
                <span>Edit password policy</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form #editForm="ngForm" class="form-horizontal" (submit)="edit(editForm)" novalidate>
            <div class="row">

              <div class="col-md-6">
                <div class="form-group">
                  <label for="label">Label</label>
                  <div class="input-group">
                    <input type="text" id="label" name="label" class="form-control" [(ngModel)]="modifyPasswordPolicyModel.label" #label="ngModel"
                      required minlength="3" maxlength="55" appServerError>
                    <div [hidden]="!label.errors?.required || label.untouched || label.errors['server']" class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Label is required"></i>
                    </div>
                    <div *ngIf="!label.errors?.required">
                      <div [hidden]="!label.errors?.minlength" class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Length must be between 3 to 55"></i>
                      </div>
                    </div>
                    <div [hidden]="label.errors ? (!label.errors['server']) : true" class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="{{serverErrorMessages['label']}}"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                    <label for="passwordPolicyDesc">Password Policy Description</label>
                    <div class="input-group">
                      <input type="text" id="passwordPolicyDesc" name="passwordPolicyDesc" class="form-control" [(ngModel)]="modifyPasswordPolicyModel.passwordPolicyDesc"
                        #passwordPolicyDesc="ngModel" disabled="disabled">
                    </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="regularExpression">Regular Expression</label>
                  <div class="input-group">
                    <input type="text" id="regularExpression" name="regularExpression" class="form-control" [(ngModel)]="modifyPasswordPolicyModel.regularExpression"
                      #regularExpression="ngModel" maxlength="100">
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="passwordPolicyValue">Password Policy Value</label>
                  <div class="input-group">
                    <input type="text" id="passwordPolicyValue" name="passwordPolicyValue" class="form-control" [(ngModel)]="modifyPasswordPolicyModel.passwordPolicyValue"
                      pattern="[0-9]" #passwordPolicyValue="ngModel" required maxlength="1" appServerError>
                    <div *ngIf="passwordPolicyValue.errors ? (!passwordPolicyValue.errors['server']) : true">
                      <div [hidden]="!passwordPolicyValue.errors?.required || passwordPolicyValue.untouched || passwordPolicyValue.errors['server']"
                        class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Password Policy Value Number is required"></i>
                      </div>
                      <div *ngIf="!passwordPolicyValue.errors?.required">
                        <div [hidden]="!passwordPolicyValue.errors?.pattern || passwordPolicyValue.untouched || passwordPolicyValue.errors['server']"
                          class="form-validation">
                          <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Invalid Password Policy Value number(One digit Number)"></i>
                        </div>
                      </div>
                    </div>
                    <div [hidden]=" passwordPolicyValue.errors ? (!passwordPolicyValue.errors[ 'server']): true" class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="{{serverErrorMessages['passwordPolicyValue']}}"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="passwordRegularExpressionLengthType">Regular Expression Length Type</label>
                  <div class="input-group">
                    <input id="passwordRegularExpressionLengthType" name="passwordRegularExpressionLengthType" class="form-control" [(ngModel)]="modifyPasswordPolicyModel.passwordRegularExpressionLengthType"
                      #passwordRegularExpressionLengthType="ngModel" minlength="3" maxlength="5" appServerError>
                    <div *ngIf="!passwordRegularExpressionLengthType.errors?.required">
                      <div [hidden]="!passwordRegularExpressionLengthType.errors?.minlength" class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Length must be between 3 to 5"></i>
                      </div>
                    </div>
                    <div [hidden]="passwordRegularExpressionLengthType.errors ? (!passwordRegularExpressionLengthType.errors['server']) : true"
                      class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="{{serverErrorMessages['passwordRegularExpressionLengthType']}}"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="admin-card-footer">
              <button *ngIf="!buttonPressed" type="submit" class="btn btn-gap btn-primary" disabled="disabled" [disabled]="editForm.invalid || !editForm.dirty">Modify</button>
              <button *ngIf="!buttonPressed" type="button" class="btn btn-gap default" (click)="back()">Cancel</button>
              <button *ngIf="buttonPressed" class="btn btn-primary" [disabled]="true">Processing</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
