<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="back-button-block">
              <button type="button" (click)="back()" class="btn btn-icon-only casba-bck-btn">
                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
              </button>
            </div>
            <div class="page-title-block">
              <div class="page-title">
                <span>Edit User Group</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form #editUserGroupForm="ngForm" class="form-horizontal" (submit)="submitEditUserGroup()" novalidate>
            <div class="row">

              <div class="col-md-4">

                <div class="form-group">
                  <label for="text-input">Name<span class="required__signal">*</span></label>
                  <div class="input-group">
                    <input type="text" id="name" name="name" class="form-control" [(ngModel)]="editUserGroup.name"
                      #name="ngModel" required minlength="3" maxlength="55" appServerError>
                    <div [hidden]="!name.errors?.required || name.untouched || name.errors['server']"
                      class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Name is required"></i>
                    </div>
                    <div *ngIf="!name.errors?.required">
                      <div [hidden]="!name.errors?.minlength" class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                          tooltip="Length must be between 3 to 55"></i>
                      </div>
                    </div>
                    <div [hidden]="name.errors ? (!name.errors['server']) : true" class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="{{serverErrorMessages['name']}}"></i>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-4">
                <div class="form-group">
                  <label for="gender">Status<span class="required__signal">*</span></label>
                  <div class="form-radio">
                    <div class="radio">
                      <input id="radio-1" name="visible" type="radio" value="Y" [(ngModel)]="editUserGroup.visibility"
                        required #gender="ngModel" appServerError>
                      <label class="radio-label" for="radio-1">Active</label>
                    </div>
                    <div class="radio">
                      <input id="radio-2" name="hidden" type="radio" value="N" [(ngModel)]="editUserGroup.visibility"
                        required appServerError>
                      <label for="radio-2" class="radio-label">InActive</label>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-4">
                <div class="form-group--compact">
                  <label for="text-input">Profile<span class="required__signal">*</span></label>
                  <div class="input-group select">
                    <select class="form-control" [(ngModel)]="editUserGroup.profileId"
                      [ngModelOptions]="{standalone: true}" #profile="ngModel" required appServerError>
                      <option value="" disabled>Select a Profile</option>
                      <option [value]="profile.id" *ngFor="let profile of profileService.profiles | async">
                        {{ profile.name }}
                      </option>
                    </select>
                    <span>
                      <i class="mdi mdi-chevron-down"></i>
                    </span>
                    <div [hidden]="!profile.errors?.required || profile.untouched || profile.errors['server']"
                      class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="Profile is required"></i>
                    </div>
                    <div [hidden]="profile.errors ? (!profile.errors['server']) : true" class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="{{serverErrorMessages['profile']}}"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="admin-card-footer">
              <button *ngIf="!buttonPressed" type="submit" class="btn btn-gap btn-primary"
                [disabled]="editUserGroupForm.invalid || buttonPressed">Modify
              </button>
              <button *ngIf="!buttonPressed" type="button" class="btn btn-gap default" (click)="back()">Cancel</button>
              <button *ngIf="buttonPressed" class="btn btn-primary" [disabled]="true">Processing</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>