<div bsModal #uploadImageModal="bs-modal" class="modal fade bsModal-content" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-info" role="document">
    <div class="modal-content modal-body-content">
      <div class="modal-header bsModal-header" *ngIf="uploadImageObject">
        <h4 class="modal-title">
          Upload Image For {{uploadImageObject.username ? uploadImageObject.username : uploadImageObject.name }}?
        </h4>
        <button type="button" class="close" (click)="hideModal()" aria-label="Close">
        </button>
      </div>

      <div class="modal-body bsModal-body text-center">

        <div class="card-image-wrapper">
          <div class="card-image">
            <img *ngIf="clientImageURL" src={{clientImageURL}} alt="Client Image" class="animated fadeIn">
            <img *ngIf="!clientImageURL" src="assets/img/default-profile.jpg" alt="Client Image" class="animated fadeIn">
          </div>
        </div>



        <form [formGroup]="uploadImageModalForm">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="photo" class="form-label">Photo</label>



                <div class="input-group">
                  <div class="custom-file button">
                    <label class="custom-file-label" for="inputGroupFile01">
                      <input #fileInput type="file" (change)="onFileChange($event)" accept="image/*" class="custom-file-input user-image-upload-input-button"
                        required/> Choose file
                    </label>
                  </div>

                  <div *ngIf="uploadImageModalForm.controls['photo'].errors && !uploadImageModalForm.controls['photo'].pristine" class="form-validation">
                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" [hidden]="!uploadImageModalForm.controls['photo'].errors.required"
                      tooltip="Photo is required"></i>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="modal-footer bsModal-footer text-center">
            <button *ngIf="!isButtonPressed" type="button" class="btn btn-primary" disabled="disabled" [disabled]="uploadImageModalForm.invalid || isButtonPressed"
              (click)="confirmUploadImage()">Confirm</button>
            <button *ngIf="isButtonPressed" class="btn btn-default" [disabled]="true">Processing</button>
            <button *ngIf="!isButtonPressed" type="button" class="btn btn-default" (click)="hideModal()">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
