<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="back-button-block">
              <button type="button" (click)="goBack()" class="btn btn-icon-only casba-bck-btn">
                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
              </button>
            </div>
            <div class="page-title-block">
              <div class="page-title">
                <span>Office Type Details</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Name</label>
                <div class="form-value">
                  <span>{{officeType?.name ? officeType?.name : 'N/A'}}</span>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Description</label>
                <div class="form-value">
                  <span>{{officeType?.unicodeName ? officeType?.unicodeName : 'N/A'}}</span>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Created Date</label>
                <div class="form-value">
                  <span>{{officeType?.createdDate ? (officeType?.createdDate | date): 'N/A'}}</span>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Modified Date</label>
                <div class="form-value">
                  <span>{{officeType?.modifiedDate ? (officeType?.modifiedDate | date ): 'N/A'}}</span>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Created By</label>
                <div class="form-value">
                  <span>
                    {{officeType?.createdBy ? officeType?.createdBy : 'N/A'}}
                  </span>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Status</label>
                <div class="form-value">
                  <span>{{status(officeType.active)}}</span>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>