<div class="animated fadeIn">

  <div class="row">
    <style>
      .dashboard__TD {
        max-height: 25rem;
        overflow-x: auto;
        margin-bottom: 2rem;
      }
    </style>
    <div class="col-md-6 dashboard__TD ">
      <div>Client Transaction Detail</div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <!-- <th>ID</th> -->
              <th>Name</th>
              <th>Total Transaction Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let clientTxnDetail of clientTxnDetails">
              <!-- <td>{{clientTxnDetail.id}}</td> -->
              <td>{{clientTxnDetail.name}}</td>
              <td>{{clientTxnDetail.totalAmount | number:'1.0-2'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-md-6 dashboard__TD ">
      <div>Merchant Transaction Detail</div>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <!-- <th>ID</th> -->
              <th>Name</th>
              <th>Total Transaction Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let merchantDetail of merchantTxnDetails">
              <!-- <td>{{merchantDetail.id}}</td> -->
              <td>{{merchantDetail.name}}</td>
              <td>{{merchantDetail.totalAmount | number:'1.0-2'}}</td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 text-center">
      <div class="card">
        <div class="card-body">
          <i class="cai cai-user">
            Total Registered Merchant : {{countRegisteredMerchant.message}}
          </i>
        </div>
      </div>
    </div>
  </div>
</div>
