  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="fallback-view">
            <div class="fallback-image no-records"></div>
            <div class="fallback-title-message">
              No Record(s) Found
            </div>
            <div class="fallback-subtitle-message">
              Please try refreshing the page or contact your admin if you think this is an error
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
