<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="back-button-block">
              <button type="button" (click)="goBack()" class="btn btn-icon-only casba-bck-btn">
                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
              </button>
            </div>
            <div class="page-title-block">
              <div class="page-title">
                <span>Manage Line Item</span>
              </div>
              <div class="page-subtitle"></div>
              <span>Manage Line Item</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive" *ngIf="lineItems?.length > 0">
        <table class="table admin-card-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Unicode Name</th>
              <th>Code</th>
              <th>Type</th>
              <th>Status</th>
              <!-- <th>Created Date</th>
              <th>Modified Date</th>
              <th>Created By</th> -->
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lineItem of lineItems" (click)="clickViewDetailButton(lineItem)" clickStopPropagation>
              <td>{{lineItem.name ? lineItem.name :'N/A' }}</td>
              <td>{{lineItem.unicodeName ? lineItem.unicodeName : 'N/A'}}</td>
              <td>{{lineItem.code ? lineItem.code : 'N/A'}}</td>
              <td>{{lineItem.type ? lineItem.type : 'N/A'}}</td>
              <td>
                <span
                  class="admin.statusDto.icon status-badge {{isActive(lineItem.enabled) ? 'active': 'inactive' }}">
                  {{isActive(lineItem.enabled) ? 'Active': 'InActive' }}
                </span>
              </td>
              <!-- <td>{{lineItem.createdDate ? (lineItem.createdDate | date:'dd/MM/yyyy') : 'N/A'}}</td>
              <td>{{lineItem.modifiedDate ? (lineItem.modifiedDate | date:'dd/MM/yyyy') : 'N/A'}}</td>
              <td>{{lineItem.createdBy ? lineItem.createdBy : 'N/A'}}</td> -->
              
              <td>
                <div class="action-button">
                  <button type="button" *ngIf="getChildRole('Edit Line Item')" class="btn btn-icon-only"
                    (click)="clickedEditLineItem(lineItem)" [tooltip]="getChildRole('Edit Line Item').description"
                    clickStopPropagation>
                    <i [class]="getChildRole('Edit Line Item').icon"></i>
                  </button>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <ng-template #noRecordsFound>
    <app-no-records-found></app-no-records-found>
  </ng-template>