<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="back-button-block">
              <button type="button" (click)="goBack()" class="btn btn-icon-only casba-bck-btn">
                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
              </button>
            </div>
            <div class="page-title-block">
              <div class="page-title">
                <span>Manage Fiscal Year</span>
              </div>
              <div class="page-subtitle"></div>
              <span>Manage Fiscal Year</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive" *ngIf="fiscalYears?.length > 0">
        <table class="table admin-card-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Start Date</th>
              <th>Nepali Start Date</th>
              <th>End Date</th>
              <th>Nepali End Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let fiscalYear of fiscalYears" (click)="clickViewDetailButton(fiscalYear)" clickStopPropagation>
              <td>{{fiscalYear.name ? fiscalYear.name :'N/A' }}</td>
              <td>{{fiscalYear.startDate ? (fiscalYear.startDate | date:'dd/MM/yyyy') : 'N/A'}}</td>
              <td>{{fiscalYear.nepaliStartDate ? (fiscalYear.nepaliStartDate | date:'dd/MM/yyyy') : 'N/A'}}</td>
              <td>{{fiscalYear.endDate ? (fiscalYear.endDate | date:'dd/MM/yyyy') : 'N/A'}}</td>
              <td>{{fiscalYear.nepaliEndDate ? (fiscalYear.nepaliEndDate | date:'dd/MM/yyyy') : 'N/A'}}</td>

              <td>
                <div class="action-button">
                  <button type="button" *ngIf="getChildRole('Edit Fiscal Year')" class="btn btn-icon-only"
                    (click)="clickedEditFiscalYear(fiscalYear)" [tooltip]="getChildRole('Edit Fiscal Year').description"
                    clickStopPropagation>
                    <i [class]="getChildRole('Edit Fiscal Year').icon"></i>
                  </button>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
  <ng-template #noRecordsFound>
    <app-no-records-found></app-no-records-found>
  </ng-template>