<div class="animated fadeIn">
    <div class="page-title-wrapper">
        <div class="back-button-block">
            <button type="button" (click)="back()" class="btn btn-icon-only casba-bck-btn">
                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
            </button>
        </div>
        <div class="page-title-block">
            <div class="page-title">
                <span>Edit Admin</span>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <form #editAdminForm="ngForm" class="form-horizontal" (submit)="edit(editAdminForm)" novalidate>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="name">Full Name<span class="required__signal">*</span></label>
                            <div class="input-group">
                                <input type="text" id="name" name="name" class="form-control" [(ngModel)]="admin.name"
                                    #name="ngModel" required minlength="3" maxlength="55" appServerError>
                                <div [hidden]="!name.errors?.required || name.untouched || name.errors['server']"
                                    class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                        tooltip="Name is required"></i>
                                </div>
                                <div *ngIf="!name.errors?.required">
                                    <div [hidden]="!name.errors?.minlength" class="form-validation">
                                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                            tooltip="Length must be between 3 to 55"></i>
                                    </div>
                                </div>
                                <div [hidden]="name.errors ? (!name.errors['server']) : true" class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                        tooltip="{{serverErrorMessages['name']}}"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="email">Email<span class="required__signal">*</span></label>
                            <div class="input-group">
                                <input type="text" id="email" name="email" email class="form-control"
                                    [(ngModel)]="admin.email" #email="ngModel" required minlength="6" maxlength="100"
                                    appServerError>
                                <div *ngIf="email.errors ? !email.errors['server']: true">
                                    <div [hidden]="!email.errors?.required || email.untouched || email.errors['server']"
                                        class="form-validation">
                                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                            tooltip="Email is required"></i>
                                    </div>
                                    <div *ngIf="!email.errors?.required">
                                        <div [hidden]="!email.errors?.email || email.untouched || email.errors['server']"
                                            class="form-validation">
                                            <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                                tooltip="Enter valid email"></i>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!email.errors?.required && !email.errors?.email">
                                    <div [hidden]="!email.errors?.minlength" class="form-validation">
                                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                            tooltip="Length must be between 6 to 100"></i>
                                    </div>
                                </div>
                                <div [hidden]="email.errors ? (!email.errors['server']) : true" class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                        tooltip="{{serverErrorMessages['email']}}"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="contact">Contact Number</label>
                            <div class="input-group">
                                <input type="text" id="contact" name="contact" class="form-control"
                                    [(ngModel)]="admin.contactNumber" pattern="[0-9]{7,10}" #contact="ngModel" required
                                    minlength="7" maxlength="10" appServerError>
                                <div *ngIf="contact.errors ? (!contact.errors['server']) : true">
                                    <div [hidden]="!contact.errors?.required || contact.untouched || contact.errors['server']"
                                        class="form-validation">
                                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                            tooltip="Contact Number is required"></i>
                                    </div>
                                    <div *ngIf="!contact.errors?.required">
                                        <div [hidden]="!contact.errors?.pattern || contact.untouched || contact.errors['server']"
                                            class="form-validation">
                                            <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                                tooltip="Invalid contact number"></i>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!contact.errors?.required && !contact.errors?.pattern">
                                    <div [hidden]="!contact.errors?.minlength" class="form-validation">
                                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                            tooltip="Length must be between 7 to 10"></i>
                                    </div>
                                </div>
                                <div [hidden]="contact.errors ? (!contact.errors['server']): true"
                                    class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                        tooltip="{{serverErrorMessages['contact']}}"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="username">Username<span class="required__signal">*</span></label>
                            <div class="input-group">
                                <input type="text" id="username" name="username" class="form-control"
                                    [(ngModel)]="admin.username" #username="ngModel" required minlength="3"
                                    maxlength="55" disabled appServerError>
                                <div [hidden]="username.valid || username.untouched || username.errors['server']"
                                    class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                        tooltip="Username is required"></i>
                                </div>
                                <div *ngIf="!username.errors?.required">
                                    <div [hidden]="!username.errors?.minlength" class="form-validation">
                                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                            tooltip="Length must be between 3 to 55"></i>
                                    </div>
                                </div>
                                <div [hidden]="username.errors ? (!username.errors['server']) : true"
                                    class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                        tooltip="{{serverErrorMessages['username']}}"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="address">Address</label>
                            <div class="input-group">
                                <textarea id="address" name="address" class="form-control form-control--textarea"
                                    [(ngModel)]="admin.address" #address="ngModel" required minlength="3" maxlength="55"
                                    appServerError></textarea>
                                <div [hidden]="!address.errors?.required || address.untouched || address.errors['server']"
                                    class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                        tooltip="Address is required"></i>
                                </div>
                                <div *ngIf="!address.errors?.required">
                                    <div [hidden]="!address.errors?.minlength" class="form-validation">
                                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                            tooltip="Length must be between 3 to 55"></i>
                                    </div>
                                </div>
                                <div [hidden]="address.errors ? (!address.errors['server']) : true"
                                    class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                        tooltip="{{serverErrorMessages['address']}}"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="serviceGroup">Service Group<span class="required__signal">*</span></label>
                            <div class="input-group">
                                <input type="text" id="serviceGroup" name="serviceGroup" class="form-control"
                                    [(ngModel)]="admin.serviceGroup" #serviceGroup="ngModel" disabled appServerError>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="superUser">User Type: </label>
                            <span>{{userType(admin.isSuper)}}</span>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="status">Status<span class="required__signal">*</span></label>
                            <div class="form-radio">
                                <div class="radio">
                                    <input id="radio-1" name="active" type="radio" value="Y" [(ngModel)]="admin.status"
                                        required #status="ngModel" appServerError>
                                    <label class="radio-label" for="radio-1">Active</label>
                                </div>
                                <div class="radio">
                                    <input id="radio-2" name="blocked" type="radio" value="N" [(ngModel)]="admin.status"
                                        required appServerError>
                                    <label for="radio-2" class="radio-label">InActive</label>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="section-block-seperator"></div>

                <div class="section-block">
                    <div class="section-header">
                        <span class="section-heading">Offices and User Groups</span>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Office</label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>User Group</label>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngFor="let list of admin.officeUserGroupList; let i = index;">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group--compact">
                                    <div class="input-group select">
                                        <select class="form-control" [(ngModel)]="list.officeId" name="officeId{{i}}"
                                            #office="ngModel" required appServerError>
                                            <option value="" disabled>Select an Office</option>
                                            <option [value]="office1.id" *ngFor="let office1 of offices">
                                                {{ office1.name }}
                                            </option>
                                        </select>
                                        <span>
                                            <i class="mdi mdi-chevron-down"></i>
                                        </span>
                                        <div [hidden]="!office.errors?.required || office.untouched || office.errors['server']"
                                            class="form-validation">
                                            <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                                tooltip="office is required"></i>
                                        </div>
                                        <div [hidden]="office.errors ? (!office.errors['server']) : true"
                                            class="form-validation">
                                            <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                                tooltip="{{serverErrorMessages['office']}}"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group--compact">
                                    <div class="input-group select">
                                        <select class="form-control" [(ngModel)]="list.userGroupId" name="userGroupId{{i}}"
                                            #userGroupId="ngModel" required appServerError>
                                            <option value="" disabled>Select a User Group</option>
                                            <option [value]="userGroup.id" *ngFor="let userGroup of userGroups">
                                                {{ userGroup.name }}
                                            </option>
                                        </select>
                                        <span>
                                            <i class="mdi mdi-chevron-down"></i>
                                        </span>
                                        <div [hidden]="!userGroupId.errors?.required || userGroupId.untouched || userGroupId.errors['server']"
                                            class="form-validation">
                                            <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                                tooltip="userGroupId is required"></i>
                                        </div>
                                        <div [hidden]="userGroupId.errors ? (!userGroupId.errors['server']) : true"
                                            class="form-validation">
                                            <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                                tooltip="{{serverErrorMessages['userGroupId']}}"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div *ngIf="admin.officeUserGroupList.length > 1">
                                    <button type="button" class="btn btn-link" (click)="removeOffice(i)">
                                        <i class="mdi mdi-delete"></i>
                                        Remove
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="section-block-seperator form-seperator"></div>
                    </ng-container>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <button *ngIf="!buttonPressed" type="submit" class="btn btn-gap btn-primary"
                            [disabled]="editAdminForm.invalid || buttonPressed">Modify</button>
                        <button *ngIf="!buttonPressed" type="button" (click)="resetForm()"
                            class="btn btn-gap default">Reset</button>
                        <button *ngIf="buttonPressed" class="btn btn-gap default" [disabled]="true">Processing</button>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-secondary" (click)="addOffice()">
                            Add an Office
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>