<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="back-button-block">
              <button type="button" (click)="back()" class="btn btn-icon-only casba-bck-btn">
                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
              </button>
            </div>
            <div class="page-title-block">
              <div class="page-title">
                <span>Create Fiscal Year</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div class="card">
        <div class="card-body">
          <form #createFiscalYearForm="ngForm" class="form-horizontal" (submit)="create()" (reset)="resetForm()">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="name">Name<span class="required__signal">*</span></label>
                  <div class="input-group">
                    <input type="text" id="name" name="name" minlength="3" maxlength="55" class="form-control"
                      placeholder="Enter name" [(ngModel)]="fiscalYear.name" #name="ngModel" required appServerError>
                    <div [hidden]="!name.errors?.required || name.untouched || name.errors['server']"
                      class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Name is required"></i>
                    </div>
                    <div *ngIf="!name.errors?.required">
                      <div [hidden]="!name.errors?.minlength" class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                          tooltip="Length must be between 3 to 55"></i>
                      </div>
                    </div>
                    <div [hidden]="name.errors ? (!name.errors['server']) : true" class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="{{serverErrorMessages['name']}}"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="startDate">Start Date<span class="required__signal">*</span></label>
                  <div class="input-group">
                    <input type="text" id="startDate" name="startDate" minlength="3" maxlength="55" class="form-control"
                      placeholder="Enter Start Date" [(ngModel)]="fiscalYear.startDate" #startDate="ngModel" required
                      appServerError>
                    <div [hidden]="!startDate.errors?.required || startDate.untouched || startDate.errors['server']"
                      class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="Start Date is required"></i>
                    </div>
                    <div *ngIf="!startDate.errors?.required">
                      <div [hidden]="!startDate.errors?.minlength" class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                          tooltip="Length must be between 3 to 55"></i>
                      </div>
                    </div>
                    <div [hidden]="startDate.errors ? (!startDate.errors['server']) : true" class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="{{serverErrorMessages['startDate']}}"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="nepaliStartDate">Nepali Start Date<span class="required__signal">*</span></label>
                  <div class="input-group">
                    <input type="text" id="nepaliStartDate" name="nepaliStartDate" minlength="3" maxlength="55"
                      class="form-control" placeholder="Enter Nepali Start Date"
                      [(ngModel)]="fiscalYear.nepaliStartDate" #nepaliStartDate="ngModel" required appServerError>
                    <div
                      [hidden]="!nepaliStartDate.errors?.required || nepaliStartDate.untouched || nepaliStartDate.errors['server']"
                      class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="Start Date is required"></i>
                    </div>
                    <div *ngIf="!nepaliStartDate.errors?.required">
                      <div [hidden]="!nepaliStartDate.errors?.minlength" class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                          tooltip="Length must be between 3 to 55"></i>
                      </div>
                    </div>
                    <div [hidden]="nepaliStartDate.errors ? (!nepaliStartDate.errors['server']) : true"
                      class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="{{serverErrorMessages['nepaliStartDate']}}"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="endDate">End Date<span class="required__signal">*</span></label>
                  <div class="input-group">
                    <input type="text" id="endDate" name="endDate" minlength="3" maxlength="55" class="form-control"
                      placeholder="Enter End Date" [(ngModel)]="fiscalYear.endDate" #endDate="ngModel" required
                      appServerError>
                    <div [hidden]="!endDate.errors?.required || endDate.untouched || endDate.errors['server']"
                      class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="End Date is required"></i>
                    </div>
                    <div *ngIf="!endDate.errors?.required">
                      <div [hidden]="!endDate.errors?.minlength" class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                          tooltip="Length must be between 3 to 55"></i>
                      </div>
                    </div>
                    <div [hidden]="endDate.errors ? (!endDate.errors['server']) : true" class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="{{serverErrorMessages['endDate']}}"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="nepaliEndDate">Nepali End Date<span class="required__signal">*</span></label>
                  <div class="input-group">
                    <input type="text" id="nepaliEndDate" name="nepaliEndDate" minlength="3" maxlength="55"
                      class="form-control" placeholder="Enter Nepali End Date" [(ngModel)]="fiscalYear.nepaliEndDate"
                      #nepaliEndDate="ngModel" required appServerError>
                    <div
                      [hidden]="!nepaliEndDate.errors?.required || nepaliEndDate.untouched || nepaliEndDate.errors['server']"
                      class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="Nepali End Date is required"></i>
                    </div>
                    <div *ngIf="!nepaliEndDate.errors?.required">
                      <div [hidden]="!nepaliEndDate.errors?.minlength" class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                          tooltip="Length must be between 3 to 55"></i>
                      </div>
                    </div>
                    <div [hidden]="nepaliEndDate.errors ? (!nepaliEndDate.errors['server']) : true"
                      class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="{{serverErrorMessages['nepaliEndDate']}}"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="gender">Enable<span class="required__signal">*</span></label>
                  <div class="form-radio">
                    <div class="radio">
                      <input id="radio-1" name="visible" type="radio" value="true" [(ngModel)]="fiscalYear.enabled"
                        required #gender="ngModel" appServerError>
                      <label class="radio-label" for="radio-1">Yes</label>
                    </div>
                    <div class="radio">
                      <input id="radio-2" name="hidden" type="radio" value="false" [(ngModel)]="fiscalYear.enabled"
                        required appServerError>
                      <label for="radio-2" class="radio-label">No</label>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-12">
                <div class="admin-card-footer">
                  <button *ngIf="!buttonPressed" type="submit" class="btn btn-gap btn-primary" disabled="disabled"
                    [disabled]="createFiscalYearForm.invalid || buttonPressed">
                    Submit
                  </button>
                  <button *ngIf="!buttonPressed" type="reset" class="btn btn-gap btn-default">Reset</button>
                  <button *ngIf="buttonPressed" class="btn btn-default" [disabled]="true">Processing</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>



    </div>
  </div>
</div>