<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="back-button-block">
              <button type="button" (click)="back()" class="btn btn-icon-only casba-bck-btn">
                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
              </button>
            </div>
            <div class="page-title-block">
              <div class="page-title">
                <span>Create Office</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body ">

          <form #createOfficeForm="ngForm" class="form-horizontal" (submit)="create(createOfficeForm)" novalidate>

            <div class="row">

              <div class="col-md-4">
                <div class="form-group">
                  <label for="text-input">Name<span class="required__signal">*</span></label>
                  <div class="input-group">
                    <input type="text" id="name" name="name" class="form-control" [(ngModel)]="office.name"
                      #name="ngModel" required minlength="3" maxlength="55" appServerError>
                    <div [hidden]="!name.errors?.required || name.untouched || name.errors['server']"
                      class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Name is required"></i>
                    </div>
                    <div *ngIf="!name.errors?.required">
                      <div [hidden]="!name.errors?.minlength" class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                          tooltip="Length must be between 3 to 55"></i>
                      </div>
                    </div>
                    <div [hidden]="name.errors ? (!name.errors['server']) : true" class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="{{serverErrorMessages['name']}}"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="text-input">Unicode Name<span class="required__signal">*</span></label>
                  <div class="input-group">
                    <input type="text" id="unicodeName" name="unicodeName" class="form-control"
                      [(ngModel)]="office.unicodeName" #unicodeName="ngModel" required minlength="3" maxlength="55"
                      appServerError>
                    <div
                      [hidden]="!unicodeName.errors?.required || unicodeName.untouched || unicodeName.errors['server']"
                      class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="Unicode Name is required"></i>
                    </div>
                    <div *ngIf="!unicodeName.errors?.required">
                      <div [hidden]="!unicodeName.errors?.minlength" class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                          tooltip="Length must be between 3 to 55"></i>
                      </div>
                    </div>
                    <div [hidden]="unicodeName.errors ? (!unicodeName.errors['server']) : true" class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="{{serverErrorMessages['unicodeName']}}"></i>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="section-block-seperator"></div>

            <div class="section-block">

              <div class="section-header">
                <span class="section-heading">Office Type and Province</span>
              </div>

              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <label>Office Type<span class="required__signal">*</span></label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label>Department<span class="required__signal">*</span></label>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group">
                    <label>Province<span class="required__signal">*</span></label>
                  </div>
                </div>
              </div>



              <div class="row">

                <div class="col-md-4">
                  <div class="form-group--compact">
                    <div class="input-group select">
                      <select class="form-control" name="officeType" [(ngModel)]="office.officeTypeId"
                        #officeType="ngModel" required appServerError>
                        <!-- <option value="" disabled>Select Office Type</option> -->
                        <option [value]="officeType.id"
                          *ngFor="let officeType of officeTypeService.officeTypes | async">
                          {{ officeType.name }}
                        </option>
                      </select>
                      <span>
                        <i class="mdi mdi-chevron-down"></i>
                      </span>
                      <div
                        [hidden]="!officeType.errors?.required || officeType.untouched || officeType.errors['server']"
                        class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                          tooltip="Office Type is required"></i>
                      </div>
                      <div [hidden]="officeType.errors ? (!officeType.errors['server']) : true" class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                          tooltip="{{serverErrorMessages['officeType']}}"></i>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group--compact">
                    <div class="input-group select">
                      <select class="form-control" name="departmentId" [(ngModel)]="office.departmentId"
                        #department="ngModel" required appServerError>
                        <option value="" disabled>Select Department</option>
                        <option [value]="department.id"
                          *ngFor="let department of departmentService.departments | async">
                          {{ department.name }}
                        </option>
                      </select>
                      <span>
                        <i class="mdi mdi-chevron-down"></i>
                      </span>
                      <div
                        [hidden]="!department.errors?.required || department.untouched || department.errors['server']"
                        class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                          tooltip="Department is required"></i>
                      </div>
                      <div [hidden]="department.errors ? (!department.errors['server']) : true" class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                          tooltip="{{serverErrorMessages['department']}}"></i>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="form-group--compact">
                    <div class="input-group select">
                      <select class="form-control" name="province" [(ngModel)]="office.provinceId" #province="ngModel"
                        required appServerError>
                        <option value="" disabled>Select Province</option>
                        <option [value]="province.id" *ngFor="let province of officeTypeService.provinces | async">
                          {{ province.name }}
                        </option>
                      </select>
                      <span>
                        <i class="mdi mdi-chevron-down"></i>
                      </span>
                      <div [hidden]="!province.errors?.required || province.untouched || province.errors['server']"
                        class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                          tooltip="Province is required"></i>
                      </div>
                      <div [hidden]="province.errors ? (!province.errors['server']) : true" class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                          tooltip="{{serverErrorMessages['province']}}"></i>
                      </div>
                    </div>
                  </div>
                </div>


              </div>
            </div>



            <div class="admin-card-footer">
              <button *ngIf="!buttonPressed" type="submit" class="btn btn-gap btn-primary"
                [disabled]="createOfficeForm.form.invalid || buttonPressed">Create</button>
              <button *ngIf="!buttonPressed" type="button" (click)="resetForm()" class="btn btn-gap default"><i
                  class="cai cai-reset"></i>Reset</button>
              <button *ngIf="buttonPressed" class="btn btn-gap default" [disabled]="true">Processing</button>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>
</div>