<div class="animated fadeIn">
  <div class="page-title-wrapper">
    <div class="row">
      <div class="col-md-6">
        <div class="back-button-block">
          <button type="button" (click)="goBack()" class="btn btn-icon-only casba-bck-btn">
            <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
          </button>
        </div>
        <div class="page-title-block">
          <div class="page-title">
            <span>Manage Admin</span>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="card con__search__wrapper">
    <div class="card-body">
      <form>
        <div class="row">
          <ng-container *ngFor="let filter of filterParam; let i = index">
            <ng-container *ngIf="filter.key != 'status.name'">
              <ng-container *ngIf="filter.key != 'adminProfile.id'">
                <div class="col-3">
                  <div class="form-group">
                    <label
                      for="text-input">{{filter.key.substring(filter.key.lastIndexOf('.')+1,filter.key.length)}}</label>
                    <div class="input-group">
                      <input name={{filter.key}} class="form-control" [(ngModel)]='filter.value'>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>

        </div>
        <div class="row">
          <div class="col-md-12">

            <button type="button" class="btn btn-primary" *ngIf="!searchButtonpressed"
              (click)="searchAdminOnUserInput()">
              <i class="cai cai-search" aria-hidden="true"></i>Search
            </button>

            <button type="button" class="btn btn-primary" *ngIf="searchButtonpressed" [disabled]="true">
              <i class="cai cai-search" aria-hidden="true"></i>Please wait
            </button>

            <button type="button" class="btn btn-primary" (click)="resetSearch()">
              <i class="cai cai-reset" aria-hidden="true"></i>Reset
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="!admins?.length;then noRecordsFound"></div>

  <div class="table-responsive" *ngIf="!cardViewEnabled && admins?.length">
    <table class="table admin-card-table ">
      <thead>
        <tr>
          <th>Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Contact</th>
          <th>Service Group</th>
          <th>User Type</th>
          <th>Status</th>
          <th>&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let admin of admins" (click)="clickViewDetailButton(admin) " clickStopPropagation>
          <td>{{ admin.name }}</td>
          <td>{{ admin.username }}</td>
          <td>{{ admin.email }}</td>
          <td>{{ admin.contactNumber }}</td>
          <td>{{ admin.serviceGroup}}</td>
          <td>{{userType(admin.isSuper)}}</td>
          <td>
            <span class="admin.statusDto.icon status-badge {{isActive(admin.status) ? 'active': 'inactive' }}">
              {{isActive(admin.status) ? 'Active': 'InActive' }}
            </span>
          </td>

          <td>
            <div class="action-button">
              <button type="button" *ngIf="getChildRole('Edit Admin')" class="btn btn-icon-only"
                [routerLink]="[getChildRole('Edit Admin').navigation, admin.id]"
                [tooltip]="getChildRole('Edit Admin').description" clickStopPropagation>
                <i [class]="getChildRole('Edit Admin').icon"></i>
              </button>

              <!-- <button type="button"
                                *ngIf="getChildRole('Delete Admin')"
                                class="btn btn-icon-only"
                                (click)="deleteModelComponent.showModal(admin)"
                                [tooltip]="getChildRole('Delete Admin').description"
                                clickStopPropagation>
                                <i [class]="getChildRole('Delete Admin').icon"></i>
                            </button> -->
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>




  <pagination [hidden]="admins?.length < 1 || totalItems<=size" [boundaryLinks]="true" [totalItems]="totalItems"
    [rotate]="true" (pageChanged)="getAllAdminsForSearch($event)" [itemsPerPage]="size" [maxSize]="5"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>

</div>

<app-delete-modal #deleteModelComponent=deleteModalComp (sendDeleteObject)="deleteAdmin($event) "></app-delete-modal>
<app-block-modal #blockModalComponent=blockModalComp (sendBlockObject)="blockAdmin($event) "></app-block-modal>
<app-un-block-modal #unBlockModalComponent=unBlockModalComp (sendUnBlockObject)="unBlockAdmin($event) ">
</app-un-block-modal>
<app-password-reset-modal #passwordResetModalComponent=passwordResetModalComp
  (sendPasswordResetObject)="resetAdminPassword($event) "></app-password-reset-modal>
<app-confimation-modal #adminResetTotpConfirmationModalComponent=confirmationModalComp
  (sendConfirmationObject)="resetAdminTOTP($event) "></app-confimation-modal>

<ng-template #noRecordsFound>
  <app-no-records-found></app-no-records-found>
</ng-template>