// scss-lint:disable all
.animated {
  animation-duration: 0.25s;
  // animation-fill-mode: both;
  animation-timing-function: cubic-bezier(.17,.67,.83,.67) ;
}

.animated.infinite {
  animation-iteration-count: infinite;
}

.animated.hinge {
  animation-duration: 2s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}
