.badge-pill {
  border-radius: $badge-pill-border-radius;
}

.status-badge{
  background-color: $primary-text-off;
  color: #FFF;
  font-size: 0.8rem;
  padding: 0.1rem 0.8rem;
  display: flex;
  justify-content: center;
  border-radius: 100px;
  text-transform: uppercase;
  width: fit-content;
  word-break: normal;
  &.active{
    background-color: $green;
  }
  &.approved{
    background-color: $blue;
  }
  &.blocked{
    background-color: $orange;
  }
  &.created{
    background-color: $green;
  }
  &.deleted{
    background-color: $red;
  }
  &.edited{
    background-color: $maroon;
  }
  &.edit.pending{
    background-color: $yellow;
  }
  &.unblocked{
    background-color: $purple;
  }
  &.FAILED{
    background-color: $red;
  }
  &.PENDING{
    background-color: $primary-text-off;
  }
  &.SUCCESS{
    background-color: $green;
  }
  &.ESEWA.SETTLEMENT.FAILED{
    background-color: $greenblue;
  }
  &.ESEWA_SETTLEMENT_FAILED{
    background-color: $greenblue;
  }
  &.ESEWA.SETTLED{
    background-color: $green;
  }
  &.ESEWA_SETTLED{
    background-color: $green;
  }
  &.SETTLEMENT_NOT_REQUIRED{
    background-color: $green;
  }
  &.ESEWA.TRANSACTION.PENDING{
    background-color: $primary-text-off;
  }
  &.ESEWA_TRANSACTION_PENDING{
    background-color: $primary-text-off;
  }
  &.AMBIGIOUS{
     background-color: $orange;
  }
  &.CANCEL{
     background-color: $red;
  }
  &.REVERSED{
     background-color: $greenyellow;
  }
  &.VERIFIED{
    background-color: $greenblue;
 }
}


.profile-badge{
  background-color: $primary-text-off;
  color: #FFF;
  font-size: 0.8rem;
  padding: 0.1rem 0.8rem;
  display: flex;
  justify-content: center;
  border-radius: 100px;
  text-transform: uppercase;
  width: fit-content;
  &.active{
    background-color: $green;
  }
  &.approved{
    background-color: $blue;
  }
  &.blocked{
    background-color: $orange;
  }
  &.created{
    background-color: $green;
  }
  &.deleted{
    background-color: $red;
  }
  &.edited{
    background-color: $maroon;
  }
  &.edit.pending{
    background-color: $yellow;
  }
  &.unblocked{
    background-color: $purple;
  }
}
