.breadcrumb {
  position: relative;
  transition: left 0.25s, right 0.25s, width 0.25s;
  box-shadow: 1px 0 5px rgba(0, 0, 0, 0.1);
  border-top: $box-border-color;
  border-bottom: $box-border-color;
}
