button {
  cursor: pointer;
}

//create and manage buttons
.card-buttons {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    margin-left: 0.5rem;
    // button{
    //     min-width: $button-min-width;
    //     min-height: $button-min-height;
    //     border: none;
    //     border-radius: 7px 0;
    //     background: $secondary-blue-color;
    //     border: $blue-border-color;
    //     text-transform: capitalize;
    //     transition: $button-transition;
    //     margin-left: 20px;
    //     &:hover{
    //         background: $primary-blue-color;
    //     }
    // }
    // &:nth-child(1){
    //     button{
    //         background: $secondary-orange-color;
    //         border: $orange-border-color;
    //         transition: $button-transition;
    //         &:hover{
    //             background: $primary-orange-color;
    //         }
    //     }
    // }
    .btn {
      i {
        // font-size: 1.2em;
        // margin-right: 0.2rem;
        // position: relative;
        // top: 0.1rem;
      }
      &:hover,
      &:active,
      &:focus {
        text-decoration: none;
      }
    }
  }
}

//other buttons

.btn {
    line-height: 1;
  &.btn-gap {
    margin-right: 10px;
  }
  &.default {
    color: $inputLabel-text-color;
    border: none;
    background: #f2f2f2;
    border: 1px solid #ded9e6;
    text-transform: capitalize;
    transition: $button-transition;
    &:hover {
      // background: $default-bttn-hover-back;
    }
  }
  &.primary {
    font-size: 12px;
    font-weight: 500;
    color: #fff;
    border: none;
    background: $secondary-orange-color;
    border: $orange-border-color;
    text-transform: capitalize;
    transition: $button-transition;
    &:hover {
      background: $primary-orange-color;
    }
  }
  &.secondary {
    color: #fff;
    border: none;
    background: #644da0;
    border: $blue-border-color;
    text-transform: capitalize;
    transition: $button-transition;
    &:hover {
      background: $primary-blue-color;
    }
  }
}

.btn {
  outline: none;
  border-radius: $button-border-radius;
  font-family: $font-family-primary;
  font-weight: $font-family-primary-bold;
  border: 1px solid transparent;
  color: #fff;
  font-size: 0.8rem;
  text-transform: capitalize;
  transition: $transition-global;
  &:hover,
  &:active,
  &:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  .badge {
    position: absolute;
    top: 2px;
    right: 6px;
    font-size: 9px;
  }
}

.btn-primary {
  background-color: $primary-color;
  border-color: darken($primary-color, 5%);
  color: #fff;
  i {
    position: relative;
    top: 0.1rem;
    font-size: 1rem;
    margin-right: 0.2rem;
  }
  &:hover,
  &:focus,
  &:active,
  &:not([disabled]):not(.disabled):active {
    background-color: lighten($primary-color, 5%);
    border-color: $primary-color;
    color: #fff;
  }
  &:disabled,
  &.disabled {
    background-color: desaturate($primary-color, 10%);
    border-color: desaturate(darken($primary-color, 5%), 10%);
    color: #fff;
  }
}

.btn-secondary {
  background-color: $secondary-color;
  border-color: darken($secondary-color, 5%);
  color: #fff;
  i {
    position: relative;
    top: 0.1rem;
    font-size: 1rem;
    margin-right: 0.2rem;
  }
  &:hover,
  &:focus,
  &:active,
  &:not([disabled]):not(.disabled):active {
    color: #fff;
    background-color: lighten($secondary-color, 5%);
    border-color: $secondary-color;
  }
  &:disabled,
  &.disabled {
    background-color: desaturate($secondary-color, 10%);
    border-color: desaturate(darken($secondary-color, 5%), 10%);
    color: #fff;
  }
}

.btn-default {
  background-color: $default-color;
  border-color: darken($default-color, 5%);
  color: $secondary-text;
  i {
    position: relative;
    top: 0.1rem;
    font-size: 1rem;
    margin-right: 0.2rem;
  }
  &:hover,
  &:focus,
  &:active,
  &:not([disabled]):not(.disabled):active {
    color: lighten($primary-text, 5%);
    background-color: lighten($default-color, 5%);
    border-color: $default-color;
  }
  &:disabled,
  &.disabled {
    background-color: desaturate($default-color, 10%);
    border-color: desaturate(darken($default-color, 5%), 10%);
    color: $primary-text;
  }
}

.btn-outline {
  background-color: transparent;
  border-color: darken($default-color, 5%);
  color: $secondary-text;
  i {
    position: relative;
    top: 0.1rem;
    font-size: 1rem;
    margin-right: 0.2rem;
  }
  &:hover,
  &:focus,
  &:active,
  &:not([disabled]):not(.disabled):active {
    color: $secondary-text;
    background-color: transparent;
    border-color: $default-color;
  }
  &:disabled,
  &.disabled {
    background-color: transparent;
    border-color: desaturate(darken($default-color, 5%), 10%);
    color: $secondary-text;
  }
}

.btn-cancel {
  min-width: $button-min-width;
  min-height: $button-min-height;
}

.btn-transparent {
  min-width: $button-min-width;
  min-height: $button-min-height;
  color: #fff;
  background-color: transparent;
  border-color: transparent;
}

.btn {
  [class^="icon-"],
  [class*=" icon-"] {
    display: inline-block;
    margin-top: -2px;
    vertical-align: middle;
  }
}

.btn-icon-only {
  font-family: $font-family-icon;
  font-size: 1.4rem;
  margin: 0;
  background-color: transparent;
  border: 0;
  padding: 0.2rem 0.3rem;
  width: auto;
  color: $secondary-text;
  &:hover {
    color: $primary-text;
  }
}

.btn-link {
  background-color: transparent;
  border: 0;
  color: $primary-text-off;
  i {
    font-size: 1.2rem;
    margin-right: 0.2rem;
    position: relative;
    top: 0.1rem;
  }
  &:hover,
  &:active,
  &:focus {
    color: $primary-text;
    text-decoration: none;
  }

  &:disabled,
  &.disabled {
    color: $secondary-text;
    &:hover,
    &:active,
    &:focus {
      color: $secondary-text;
    }
  }
}

.btn-swtich-wrapper {
  position: relative;
  // top: -0.2rem;
}

.custom-file {
  &.button {
    width: auto;
    position: relative;
    display: inline-block;
    flex: none;
    margin: 0 auto;
    cursor: pointer;
    input[type="file"] {
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 0;
      position: absolute;
    }
    label.custom-file-label {
      @extend .btn;
      @extend .btn-default;
      height: auto;
      margin-bottom: 0;
      position: relative;
      cursor: pointer;
      &:after {
        display: none;
      }
    }
  }
}

div#downloadSec {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  button {
    i {
      font-size: 1rem;
      color: #fff;
    }
  }
}
.no-padding {
  padding: 0;
}
