.date-range-picker{
    display: flex;
    align-items: center;
    padding: 0.375rem;
    border: 1px solid $border-color;
    margin-top: 0.1rem;
    border-radius: 0.25rem;
    &:hover{
      border: 1px solid $primary-text-off;
    }
    .input-group{
      &:after{
        content: unicode($cai-chevron-down);
        @extend .cai;
        position: absolute;
        top: 0.3rem;
        right: 0.1rem;
        color: $primary-text-off;
        font-size: 0.75rem;
      }
    }
  
  }

  
  .form-group{
    &.date-range-picker{
      .date-range-picker-input{
        border-bottom: 1px solid transparent;
        padding: 0;
        cursor: pointer;
        &:focus, &:active, &:hover{
          border-bottom: 1px solid transparent;
        }
      }
    }
    .date-label-icon{
      text-align: center;
      margin: 0 0.6rem 0 0;
      color: $primary-text;
      i{
        margin: 0;
      }
    }
  }
  
  .bs-datepicker{
    box-shadow: 0 10px 16px -4px rgba(0 ,0, 0, 0.05);
    border-radius: 0.25rem;
    .bs-datepicker-container{
      .bs-calendar-container{
        .bs-datepicker-head{
          background-color: transparent;
        }
      }
    }
  }
  
  .bs-datepicker-head{
    button{
      color: $primary-text;
      &:hover{
        background-color: $border-color;
      }
      &.next, &.previous{
        &:hover{
          background-color: $border-color;
        }
        span{
          font-size: 25px;
          color: $primary-text-off;
        }
      }
    }
  }
  
  .theme-green{
    .bs-datepicker-body{
      border: 0;
      table{
        td{
          &:before, span:before{
            position: absolute;
            z-index: -1;
            top: 0;
            bottom: 0;
            left: -5px;
            right: -5px;
            box-sizing: content-box;
            background: transparent;
          }
          span{
            // transition: $transition-cubic;
            &.selected{
              background-color: $primary-color;
              color: #FFF;
              &.select-start{
                border-radius: 50% 0 0 50%;
              }
              &.select-end{
                border-radius: 0 50% 50% 0;
                &:before{
                  background-color: transparent !important;
                }
              }
            }
            &.in-range{
              color: #FFF;
            }
  
            &.is-highlighted:not(.disabled):not(.selected){
              color: #FFF;
              background-color: $primary-color;
              &:before{
                border-radius: 100%;
              }
            }
            &.is-highlighted.in-range:not(.disabled):not(.selected){
                background-color: $primary-color;
                border-radius: 0;
                // transition: $transition-cubic;
                &:before{
                  background-color: $primary-color;
                  left: -5px;
                  right: -5px;
                  border-radius: 0;
                }
            }
  
          }
        &.week{
            span{
             color: lighten($primary-text-off, 20%);   
            }
        }
        }
        &.days{
          td .active:not(.select-start):before,
          td .in-range:not(.select-start):before,
          span.active:not(.select-start):before,
          span.in-range:not(.select-start):before,
          td .active:not(.select-end):before,
          td .in-range:not(.select-end):before,
          span.active:not(.select-end):before,
          span.in-range:not(.select-end):before{
            background-color: lighten($primary-color, 5%);
            // transition: $transition-cubic;
          }
        }
      }
    }
  }
  