.card {
    margin-bottom: 1.5 * $spacer;
    background: #fff;
    box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.03);
    border-radius: $box-border-radius;
    border: 0; // Cards with color accent
    @each $color,
    $value in $theme-colors {
        &.bg-#{$color} {
            border-color: darken($value, 12.5%);
            .card-header {
                // background-color: darken($value, 3%);
                // border-color: darken($value, 12.5%);
            }
        }
    }
    &.has-search-on-top {
        position: relative;
        top: 3rem;
        .card-body {
            padding-top: 6rem;
            position: relative;
        }
    }
    &.user-card {
        text-align: center;
        cursor: pointer;
        .card-primary-details {
            margin-bottom: 2rem;
            .profile-badge{
              display: inline;
            }
        }
        @at-root {
            .card-image-wrapper {
                position: relative;
                margin-bottom: 2rem;
                display: inline-block;
            }
            .card-image {
                display: inline-block;
                width: 8rem;
                height: 8rem;
                border-radius: 100%;
                overflow: hidden;
                border: 1px solid #f9f9f9;
                box-shadow: 1px 0px 5px #eaeaea;
                img {
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }
        }
        .status-dot-wrapper {
            position: absolute;
            bottom: 0.5rem;
            right: 1rem;
            .status-dot {
                border: 0.2rem solid #FFF;
                height: 1.2rem;
                width: 1.2rem;
                display: block;
                border-radius: 100rem;
                background-color: $primary-text-off;
                &.active {
                    background-color: $green;
                }
            }
        }
        .card-name {
            font-size: 1.1rem;
            margin-bottom: 0.2rem;
        }
        .card-subname {
            font-size: 0.75rem;
            color: $secondary-text;
            margin-bottom: 0.4rem;
        }
        &:hover {
            box-shadow: 0px 20px 20px -10px rgba(0, 0, 0, 0.06);
        }
    }
    .card-secondary-details {
        display: block;
        margin-bottom: 2rem;
        ul {
            text-align: left;
            list-style-type: none;
            padding: 0;
            margin: 0;
            display: inline-block;
            li {
                margin-bottom: 0.5rem;
                color: $primary-text-off;
                i {
                    font-size: 1.2rem;
                    margin-right: 0.4rem;
                    color: lighten($primary-text-off, 5%);
                }
                i,
                span {
                    vertical-align: middle;
                }
                &:last-child {
                    margin-left: 0;
                }
            }
        }
    }
    .card-remarks {
        font-size: 0.8rem;
        text-align: center;
        color: $secondary-text;
    }
}

.card-search-top {
    position: absolute;
    top: -3rem;
    width: 100%;
    .card-search-wrapper {
        padding: 2rem;
        background-color: #FFF;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
        border-radius: $box-border-radius 0;
    }
}

.text-white .text-muted {
    color: rgba(255, 255, 255, .6) !important;
}

.card-header {
    background-color: transparent;
    .icon-bg {
        display: inline-body;
        padding: $card-spacer-y $card-spacer-x !important;
        margin-top: -$card-spacer-y;
        margin-right: $card-spacer-x;
        margin-bottom: -$card-spacer-y;
        margin-left: -$card-spacer-x;
        line-height: inherit;
        color: $card-icon-color;
        vertical-align: bottom;
        background: $card-icon-bg;
        border-right: $card-border-width solid $card-border-color;
    }
    .nav.nav-tabs {
        margin-top: -$card-spacer-y;
        margin-bottom: -$card-spacer-y;
        border-bottom: 0;
        .nav-item {
            border-top: 0;
        }
        .nav-link {
            padding: $card-spacer-y $card-spacer-x / 2;
            color: $text-muted;
            border-top: 0;
            &.active {
                color: $body-color;
                background: #fff;
            }
        }
    }
    &.card-header-inverse {
        color: #fff;
    }
    .btn {
        margin-top: - $input-btn-padding-y;
    }
    .btn-sm {
        margin-top: - $input-btn-padding-y-sm;
    }
    .btn-lg {
        margin-top: - $input-btn-padding-y-lg;
    }
}

.card-body {
    padding: $card-ver-padding $card-hor-padding;
}

//
.card-footer {
    ul {
        display: table;
        width: 100%;
        padding: 0;
        margin: 0;
        table-layout: fixed;
        li {
            display: table-cell;
            padding: 0 $card-spacer-x;
            text-align: center;
        }
    }
}

[class*="card-outline-"] {
    .card-body {
        background: #fff !important;
    }
    &.card-outline-top {
        border-top-width: 2px;
        border-right-color: $border-color;
        border-bottom-color: $border-color;
        border-left-color: $border-color;
    }
}

// Cards with color accent
@each $color,
$value in $theme-colors {
    .card-accent-#{$color} {
        @include card-accent-variant($value);
    }
}

// Card Actions
.card-header {
    >i {
        margin-right: $spacer / 2;
    }
    .card-actions {
        position: absolute;
        top: 0;
        right: 0; //height: inherit;
        a,
        button {
            display: block;
            float: left;
            width: 50px;
            padding: $card-spacer-y 0;
            margin: 0 !important;
            color: $body-color;
            text-align: center;
            background: transparent;
            border: 0;
            border-left: 1px solid $border-color;
            box-shadow: 0;
            &:hover {
                text-decoration: none;
            }
            [class^="icon-"],
            [class*=" icon-"] {
                display: inline-body;
                vertical-align: middle;
            }
            i {
                display: inline-body;
                transition: .4s;
            }
            .r180 {
                transform: rotate(180deg);
            }
        }
        .input-group {
            width: 230px;
            margin: 6px;
            .input-group-addon {
                background: #fff;
            }
            input {
                border-left: 0;
            }
        }
    }
}

.card-full {
    margin-top: - $spacer;
    margin-right: - $grid-gutter-width / 2;
    margin-left: - $grid-gutter-width / 2;
    border: 0;
    border-bottom: $card-border-width solid $border-color;
}

@include media-breakpoint-up(sm) {
    .card-columns {
        &.cols-2 {
            column-count: 2;
        }
    }
}

.card {
    &.drag,
    .drag {
        cursor: move;
    }
}

.card-placeholder {
    background: rgba(0, 0, 0, .025);
    border: 1px dashed $gray-300;
}

.section-block {
    margin-bottom: 1.5rem;
    .section-header {
        margin-bottom: 2rem;
        font-family: $font-family-primary;
        font-weight: $font-family-primary-bold;
        font-size: 0.85rem;
        color: $secondary-text;
        position: relative;
        &:before {
            content: ''; // background-color: $primary-color;
            height: 1.3rem;
            width: 0.2rem;
            position: absolute;
            top: 0;
            left: -$card-hor-padding;
            // box-shadow: 0.2rem 0 0.6rem -0.1rem $primary-color;
        }
        span.section-heading {
            font-size: 16px;
            &:before {
                width: 36px;
                background: #9a9a9a;
                height: 2px;
                content: "";
                position: absolute;
                bottom: -5px;
            }
        }
        i {
            font-size: 1.4rem;
            margin-right: 0.4rem;
            color: $secondary-color;
            position: relative;
            top: 0.2rem;
        }
        .section-action-btn-block {
            position: relative;
            top: -0.5rem;
            .btn-link {
                i {
                    font-size: 1.4rem;
                    margin-right: 0.3rem;
                    color: $primary-text-off;
                    position: relative;
                    top: 0rem;
                    vertical-align: middle;
                }
                span {
                    vertical-align: middle;
                    display: inline-block;
                }
            }
        }
    }
}

.section-block-seperator {
    width: calc(100% + #{$card-hor-padding} + #{$card-hor-padding});
    height: 1px;
    margin-bottom: 1.5rem;
    background-color: $border-color-light;
    position: relative;
    left: -$card-hor-padding;
}

.card-default-image-wrapper {
    text-align: center;
    padding: 4rem 0;
    .card-default-image {
        i {
            font-size: 6rem;
            color: $secondary-color;
        }
    }
    .card-default-text-wrapper {
        .card-default-text-title {
            font-family: $font-family-primary;
            font-weight: $font-family-primary-bold;
            font-size: 1.2rem;
            color: $primary-text;
            margin-bottom: 0.4rem;
        }
        .card-default-text-subtitle {
            font-size: 0.9rem;
            color: $secondary-text;
        }
    }
}
