// Colors

$yellow: #ffc107;
// $red: #f86c6b;
$red: #ee2b47;
$green: #4dbd74;
$blue: #0074e4;
$orange: #ff6107;
$purple: #7c73e6;
$sky-blue: #00bbf0;
$navy-blue: #1b3c68;
$maroon: #ca498c;
$greenyellow: #A2D400;
$greenblue:#1ED2FF;

$info-color: $blue;
$alert-color: $yellow;
$danger-color: $red;
$success-color: $green;

$primary-color: #ED272C;
$secondary-color: #868686;

$default-color: #E0DDE4;

// text

$primary-text: #262930;
$primary-text-off: #5b5e65;
$secondary-text: #868686;

// Borders

$border-color: #B5B1BB;
$border-color-light: lighten($border-color, 20%);


// sidebar

$sidebar-bg-color: #FFF;
$sidebar-border-color: #1F1D24;

$sidebar-text-color: lighten($primary-text, 20%);

$sidebar-nav-active-border-color: $primary-color;
$sidebar-nav-active-bg-color: #1F1E24;


// Body

// $body-color: #f8f7f7;
$body-color: #F5F5F4;

// tabset

$tab-bg-color: #E0DDE4;
