.app-footer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 $spacer;
  color: $footer-color;
  background: $white-color;
  border-top: $box-border-color;
}

.footer-menu{
  ul{
    li{
      .btn{
        span{
          font-family: $font-family-primary;
          font-size: $body-font-size;
        }
      }
    }
  }
}
