.form-group {
    margin-bottom: 1.5rem;

    &--compact {
        margin-bottom: 1rem;
    }

    label {
        color: $secondary-text;
        font-size: 0.75rem;
        font-weight: $font-family-secondary-bold;
        text-transform: uppercase;
    }
}

.input-group {
    select {
        position: relative;
        z-index: 99;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    &.select {
        select {
            padding-right: 3rem;
        }
        span {
            pointer-events: none;
            position: absolute;
            top: 0;
            right: 0.4rem;
            z-index: 9999;
            i {
                font-size: 1.4rem;
                color: $inputLabel-text-color;
                opacity: 0.7;
            }
        }

        .form-validation {
            right: 1.4rem;
        }
    }
}

.form-value {
    font-size: 0.9rem;
    color: $primary-text;
}

.form-control {
    border-radius: $border-radius;
    border-color: $border-color;
    height: $button-min-height;
    background-color: transparent;

    &--textarea{
        resize: none;
        // height: auto;
    }
    &:disabled,
    &.disabled,
    &[readonly] {
        background-color: lighten($border-color, 20%);
    }
    &:focus {
        box-shadow: none;
        outline: none;
    }
}

.form-validation {
    position: absolute;
    right: 0.4rem;
    top: 0;

    &--table-validation{
        top: 7px;
    }
    .validation-icon {
        padding: 0;
        margin: 0;
        font-size: 1.4rem;
        z-index: 9999;
        &.alert {
            color: $alert-color;
        }
        &.info {
            color: $info-color;
        }
        &.danger {
            color: $danger-color;
        }
        &.success {
            color: $success-color;
        }
    }
}

.form-seperator {
    margin-bottom: 1rem;
}

// //dashboard form
// .admin-form{
//   margin-top: 25px;
// //   padding: 0;
//   background: #fff;
//   box-shadow: $card-box-shadow;
//   border-radius: $box-border-radius;
//   .admin-form-group{
//       padding-bottom: 10px;
//       padding-right: 50px;
//       position: relative;
//       label{
//           padding-bottom: 5px;
//           color: $inputLabel-text-color;
//           font-size: 12px;
//           font-weight: 600;
//       }
//       .form-input{
//           select.form-select{
//               border: $input-border-color;
//               border-radius: 4px;
//           }
//           input.form-input-type{
//               border: $input-border-color;
//               border-radius: 4px;
//           }
//           textarea{
//               border: $input-border-color;
//               border-radius: 4px;
//           }
//           i{
//             position: absolute;
//             top: 43px;
//             right: 65px;
//             color: $primary-orange-color;
//           }
//       }
//       .form-radio{
//           display: flex;
//       }
//   }
//   .admin-form-roles{
//       display: flex;
//   }
//   .admin-card-footer{
//       background: none;
//       border-top: none;
//   }
//   .step-notation{
//       background-color: red;
//   }
// }
//radio button
.radio {
    margin: 0.5rem;
    display: inline-block;
    input[type="radio"] {
        position: absolute;
        opacity: 0;
        +.radio-label {
            &:before {
                content: '';
                background: $radio-back;
                border-radius: 100%;
                border: 1px solid darken($radio-back, 25%);
                display: inline-block;
                width: 1.5em;
                height: 1.5em;
                position: relative;
                top: -0.2em;
                margin-right: 1em;
                vertical-align: top;
                cursor: pointer;
                text-align: center;
                transition: all 250ms ease;
            }
        }
        &:checked {
            +.radio-label {
                &:before {
                    background-color: $secondary-orange-color;
                    box-shadow: inset 0 0 0 4px $radio-back;
                }
            }
        }
        &:focus {
            +.radio-label {
                &:before {
                    outline: none;
                    border-color: $secondary-orange-color;
                }
            }
        }
        &:disabled {
            +.radio-label {
                &:before {
                    box-shadow: inset 0 0 0 4px $radio-back;
                    border-color: darken($radio-back, 25%);
                    background: none;
                }
            }
        }
        +.radio-label {
            &:empty {
                &:before {
                    margin-right: 0;
                }
            }
        }
    }
}

.con__search__wrapper {
    position: relative;
    .card-body {
      .row{
        div:first-child , div:nth-child(5) , div:nth-child(9), :not(nth-child(8)){
          padding-left: 0;
        }
        .con__date--search{
          position: absolute;
          top: 10px;
          right: -7px;
          .input-group {
              width: 4rem;
              float: right;
              margin-left: 10px;
          }
        }
      }
        .row [class*=col] {
            padding-right: 0;
        }
        .con--top--margin{
          margin-top: 15px;
          // margin-left: -30px;
        }
    }
}


.single__wide__search__box{
  position: relative;
  .mdi-magnify{
    position: absolute;
    left: 0.7rem;
    font-size: 1.6rem;
    color: $secondary-color;
    z-index: 9;
  }
  .form-control{
    // border-radius: 50px;
    padding-left: 3rem;
    background-color: #e6e6e6;
  }
}
.required__signal{
  color: $primary-color;
}

