@each $color,
$value in $theme-colors {
    .modal-#{$color} {
        .modal-content {
            border-color: $value;
        }
        .modal-header {
            color: #fff;
            background-color: $value;
        }
    }
}

//modal content
.bsModal-content {
    .modal-body-content {
        padding: 0;
        background-position: top center;
        background-color: $dashboard-back-color;
        border-radius: $box-border-radius;
        border: none;
        background-color: #FFF;
        .modal-header {
            background-color: transparent;
            border: none;
            padding: $card-ver-padding $card-hor-padding 0 $card-hor-padding;
            position: relative;
            h4 {
                font-family: $font-family-primary;
                font-size: 18px;
                font-weight: $font-family-primary-regular;
                color: $primary-text;
                text-align: left;
                width: 100%;
            }
            button {
                position: absolute;
                font-size: 0.9rem;
                top: 1.2rem;
                right: 1.2rem;
                background-color: inherit;
                outline: none;
                @extend .cai;
                @extend .cai-close;
                &:before {
                    top: 10px;
                    right: 35px;
                }
                span {
                    display: none;
                }
            }
        }
        .modal-body {
            padding: $card-ver-padding $card-hor-padding;
        }
        .bsModal-footer {
            border: none;
            text-align: left;
            padding: 0 $card-hor-padding $card-ver-padding $card-hor-padding;
            &.text-center {
                text-align: center;
                display: inline;
            }
            button {}
        }
    }
}
.photo{
    margin-bottom: 15px;
}
.bsModal-body {
    display: block;
    overflow: hidden;
    border: 1px solid #B5B1BB;
    border-radius: 4px;
    // height: 25rem;
    img.animated {
        max-width: 29rem;
        max-height: 18rem;
    }
    .choose-file {
        position: absolute;
        bottom: 0;
        width: 100%;
        left: 0;
        padding-left: 25px;
    }
}
