.nav-tabs {
    .nav-link {
        color: $gray-600;
        &.active {
            color: $gray-800;
            background: #fff;
            border-color: $border-color;
            border-bottom-color: #fff;
            &:focus {
                background: #fff;
                border-color: $border-color;
                border-bottom-color: #fff;
            }
        }
    }
}

.tab-content {
    margin-top: -1px;
    background: #fff;
    border: 1px solid $border-color;
    .tab-pane {
        padding: $spacer;
    }
}

.card-block {
    .tab-content {
        margin-top: 0;
        border: 0;
    }
}

.nav {
    li.nav-dropdown {
        .nav-dropdown-toggle {
            color: $gray-800;
            cursor: pointer;
            font-size: 0.97rem;
            &::before {
                right: 0.8rem;
                left: auto;
                transform: rotate(-180deg);
                background-color: transparent;
                box-shadow: none;
                &:hover,
                &:active,
                &:focus {
                    color: $gray-900;
                }
            }
        }
        ul {
            li {
                a {
                    padding-left: 3rem !important;
                    &:hover,
                    &.active {
                        background-color: rgba(237, 39, 44, 0.1);
                        color: #ed272c !important;
                    }
                }
            }
        }
    }
}

.open {
    background: transparent !important;
    a {
        color: $gray-800 !important;
    }
    ul {
        li {
            a {
                color: $gray-600 !important;
            }
        }
    }
}

ul.nav-dropdown-items {
    li {
        a {
            &::before {
                height: 100% !important;
                top: 0 !important;
            }
        }
    }
}
