// scss-lint:disable QualifyingElement
hr.transparent {
    border-top: 1px solid transparent;
}

.page-title-wrapper {
    margin-bottom: 1rem;
    .page-title-block,
    .back-button-block {
        display: inline-block;
        vertical-align: top;
    }
    .back-button-block {
        margin-right: 1rem;
        position: relative;
        top: -0.4rem
    }
    .page-title-block {
        .page-title {
            font-family: $font-family-primary;
            font-weight: $font-family-primary-bold;
            font-size: 1.2rem;
            color: $primary-text;
        }
        .page-subtitle {
            color: $secondary-text;
            font-size: 0.85rem;
            font-family: $font-family-secondary;
            font-weight: $font-family-secondary-regular;
        }
    }
    .page-title-action {
        ul {
            float: right;
            list-style-type: none;
            li {
                display: inline-block;
                margin-left: 0.5rem;
                float: right;
                &:first-child {
                    .btn {
                        @extend .btn-primary;
                    }
                }
                .btn {
                    @extend .btn-secondary;
                }
            }
        }
    }
}

// FALL BACK VIEW
.fallback-view {
    text-align: center;
    padding: 3rem 0;
    .fallback-image {
        background-repeat: no-repeat;
        background-size: auto;
        margin-bottom: 2rem;
        background-position: center;
        &.no-records {
            background-image: url('../assets/img/no-records.png');
            height: 180px;
        }
    }
    .fallback-title-message {
        color: $primary-text;
        font-family: $font-family-primary;
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
    }
    .fallback-subtitle-message {
        color: $secondary-text;
    }
}

.main-container {
    padding-bottom: 0.7rem;
}

//this style is for remove border radius from date and to date of ngx-bootstrap calender
.select-start,
.select-end {
    border-radius: 0 !important;
    width: 42px !important;
}

.mdi-refresh {
    cursor: pointer;
    font-size: 1.2rem;
    color: $secondary-text;
    margin-right: 1rem;
}

div#downloadSec i {
    font-size: 1.5rem;
    color: $primary-text-off;
    padding-right: 15px;
    cursor: pointer;
    &:first-child {
        padding-right: 0px;
    }
}

.search--reset--option {
    display: flex;
    label[for="dateSearch"] {
        margin-top: 5px;
        margin-bottom: 0;
    }
    .input-group {
        width: 3rem;
        display: flex;
        justify-content: flex-end;
    }
}

.number--count{
  background: transparent;
  box-shadow: none;
}
.total--record--calc{
  line-height: 2rem;
}
