// scss-lint:disable NestingDepth, SelectorDepth
.sidebar-fixed .sidebar{
  z-index: 999;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: $sidebar-padding;
  color: $sidebar-color;
  background: $sidebar-bg-color;
  @include borders($sidebar-borders);
  box-shadow: 1.2rem 0 1.6rem rgba(0, 0, 0, 0.02);

  .sidebar-close {
    position: absolute;
    right: 0;
    display: none;
    padding: 0 $spacer;
    font-size: 24px;
    font-weight: 800;
    line-height: $navbar-height;
    color: $sidebar-color;
    background: 0;
    border: 0;
    opacity: .8;

    &:hover {
      opacity: 1;
    }
  }

  // Will be added soon
  // .sidebar-brand { }

  .admin-sidebar-header {
      padding: 2rem 0 3rem 0;

      .admin-brand-logo {
        width: 100%;
        img{
          max-width: 100px;
        }
      }
      .admin-brand-logo-mini{
        display: none;
      }
    }

  .sidebar-header {
    flex: 0 0 $sidebar-header-height;
    padding: $sidebar-header-padding-y $sidebar-header-padding-x;
    text-align: center;
    background: $sidebar-header-bg;
  }

  .sidebar-form .form-control {
    color: $sidebar-form-color;
    background: $sidebar-form-bg;
    border: $sidebar-form-border;

    &::placeholder {
      color: $sidebar-form-placeholder-color;
    }
  }

  .sidebar-nav {
    position: relative;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    width: 100%;

    &::-webkit-scrollbar {
      position: absolute;
      width: 10px;
      margin-left: -10px;
      -webkit-appearance: none;
    }

    &::-webkit-scrollbar-track {
      background-color: lighten($sidebar-bg, 95%);
    }

    &::-webkit-scrollbar-thumb {
      height: 50px;
      background-color: darken($sidebar-bg, 5%);
      background-clip: content-box;
      border-color: transparent;
      border-style: solid;
      border-width: 1px 2px;
    }
  }

  .nav {
    width: 100%;;
    flex-direction: column;
    min-height: 100%;
  }

  .nav-title {
    padding: $sidebar-nav-title-padding-y $sidebar-nav-title-padding-x;
    font-size: 11px;
    font-weight: 600;
    color: $sidebar-nav-title-color;
    text-transform: uppercase;
  }

  .nav-divider, .divider {
    height: 10px;
  }

  .nav-item {
    position: relative;
    margin: 0;
    transition: background .3s ease-in-out;
  }

  .nav-dropdown-items {
    max-height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    transition: max-height .3s ease-in-out;

    .nav-item {
      padding: 0;
      list-style: none;
    }
  }

  .nav-link {
    display: block;
    padding: $sidebar-nav-link-padding-y $sidebar-nav-link-padding-x;
    color: $sidebar-text-color;
    font-weight: $font-family-secondary-bold;
    font-size: 0.85rem;
    text-decoration: none;
    background: $sidebar-nav-link-bg;
    // border-left: 0.25rem solid transparent;
    position: relative;
    // @include borders($sidebar-nav-link-borders);
    // @if $enable-sidebar-nav-rounded {
    //   border-radius: $border-radius;
    // }


    i, span{
      vertical-align: middle;
    }

    span{
      font-weight: $font-family-secondary-bold;
    }

    i {
      display: inline-block;
      margin: 0 ($sidebar-nav-link-padding-x / 2) 0 0;
      font-size: 1.4rem;
      // color: $sidebar-nav-link-icon-color;
      text-align: center;
    }

    .badge {
      float: right;
      margin-top: 2px;
    }

    &.active {
      // background: $primary-belticSea-color;
      background-color: $sidebar-nav-link-bg;
      // border-left-color: $sidebar-nav-active-border-color;
      color: $primary-text;
      i {
        // color: $sidebar-nav-link-active-icon-color;
      }
    }

    &:hover {
      // background: $primary-belticSea-color;
      // border-right: $sidebar-active-border;
      // border-left-color: $sidebar-nav-active-border-color;
      color: $primary-text;

      i {
        // color: $sidebar-nav-link-hover-icon-color;
      }


      &.nav-dropdown-toggle::before {
        background-image: $sidebar-nav-dropdown-indicator-hover;
      }
    }
    &:before{
      transition: all $transition-timing $transition-type;
      position: absolute;
      content: '';
      width: 0.25rem;
      top: 0.5rem;
      left: 0;
      height: 2rem;;
      background-color: transparent;
      box-shadow: transparent;
    }
    &:hover, &:active, &.active{
      &:before{
        background-color: $primary-color;
        box-shadow: 6px 0 20px -1px transparentize($primary-color, 0.7);
      }
    }

    @each $color, $value in $theme-colors {
      &.nav-link-#{$color} {
        background: $value;
        i {
          color: rgba(255,255,255,.7);
        }
        &:hover {
          background: darken($value,5%) !important;
          i {
            color: #fff;
          }
        }
      }
    }
  }

  //  ex. <a class="nav-link nav-dropdown-toggle" href="#">Components</a>
  .nav-dropdown-toggle {
    position: relative;

    &::before {
      position: absolute;
      top: 50%;
      right: $sidebar-nav-link-padding-x;
      display: block;
      width: 8px;
      height: 8px;
      padding: 0;
      margin-top: -4px;
      content: "";
      background-image: $sidebar-nav-dropdown-indicator;
      background-repeat: no-repeat;
      background-position: center;
      transition: transform .3s;
    }
  }

  // ex.  <li class="nav-item nav-dropdown">
  .nav-dropdown.open {
    background: $sidebar-nav-dropdown-bg;
    @include borders($sidebar-nav-dropdown-borders);
    @if $enable-sidebar-nav-rounded {
      border-radius: $border-radius;
    }
    > .nav-dropdown-items {
      max-height: 1000px;
    }

    .nav-link {
      color: $sidebar-nav-dropdown-color;
      border-left: 0 !important;
    }

    > .nav-link.nav-dropdown-toggle::before {
      transform: rotate(-90deg);
    }

    .nav-dropdown.open {
      border-left: 0;
    }
  }

  .nav-label {
    display: block;
    padding: ($sidebar-nav-link-padding-y / 8) $sidebar-nav-link-padding-x;
    color: $sidebar-nav-title-color;

    &:hover {
      color: $sidebar-color;
      text-decoration: none;
    }

    i {
      width: 20px;
      margin: -3px ($sidebar-nav-link-padding-x / 2) 0 0;
      font-size: 10px;
      color: $sidebar-nav-link-icon-color;
      text-align: center;
      vertical-align: middle;
    }
  }

  @if (lightness( $sidebar-bg ) < 40) {
    .progress {
      background-color: lighten($sidebar-bg, 15%) !important;
    }
  }

  .sidebar-footer {
    flex: 0 0 $sidebar-footer-height;
    padding: $sidebar-footer-padding-y $sidebar-footer-padding-x;
    background: $sidebar-footer-bg;
    @include borders($sidebar-footer-borders);
  }

  .sidebar-minimizer-wrapper{
    position: absolute;
    top: -0.2rem;
    right: 0;
    width: 2.5rem;
  }

  .sidebar-minimizer {
    flex: 0 0 $sidebar-minimizer-height;
    // background-color: $sidebar-minimizer-bg;
    background-color: transparent;
    border: 0;
    @include borders($sidebar-minimizer-borders);

    &::before {
      // position: absolute;
      // top: 0;
      // right: 0;
      width: $sidebar-minimizer-height;
      height: $sidebar-minimizer-height;
      line-height: $sidebar-minimizer-height;
      content: "\f141";
      font-family: $font-family-icon;
      font-size: 1.6rem;
      // background-image: $sidebar-minimizer-indicator;
      // background-repeat: no-repeat;
      // background-position: center;
      background-size: $sidebar-minimizer-height / 4;
      transition: $transition-global;
      color: $sidebar-text-color;
    }

    &:focus,
    &.focus {
      outline: 0;
    }

    &:hover {
      // background-color: $sidebar-minimizer-hover-bg;
      &::before {
        // background-image: $sidebar-minimizer-hover-indicator;
        color: lighten($sidebar-text-color, 5%);
      }
    }
  }
}

@include media-breakpoint-up(lg) {
  .sidebar-compact {
    .sidebar {
      .sidebar-nav {
        @include sidebar-width($sidebar-borders, $sidebar-compact-width);
      }

      .nav {
        @include sidebar-width($sidebar-borders, $sidebar-compact-width);

        .nav-title {
          text-align: center;
        }

        .nav-item {
          width: $sidebar-compact-width;
          border-left: 0 !important;

          .nav-link {
            text-align: center;

            i {
              display: block;
              width: 100%;
              margin: $spacer / 4 0;
              font-size: 24px;
            }

            .badge {
              position: absolute;
              top: 18px;
              right: 10px;
            }

            &.nav-dropdown-toggle {

              &::before {
                top: 30px;
              }
            }
          }
        }
      }
    }
  }

  // Minimized Sidebar
  .sidebar-minimized {
    .hidden-cn {
      display: none;
    }
    .sidebar {
      z-index: $zindex-sticky - 1;

      .sidebar-nav {
        // overflow: visible;
        overflow-x: hidden;
        overflow-y: auto;
        @include sidebar-width($sidebar-borders, $sidebar-minimized-width);
      }

      .nav {
        @include sidebar-width($sidebar-borders, $sidebar-minimized-width);
      }

      .nav-divider, .divider,
      .nav-title,
      .sidebar-footer,
      .sidebar-form,
      .sidebar-header {
        display: none;
      }

      .sidebar-minimizer::before {
        width: 100%;
        transform: rotate(-180deg);
        position: absolute;
        right: 0.4rem;
      }

      .nav-item {
        width: $sidebar-minimized-width;
        overflow: hidden;
        // border-left: 0 !important;

        &:hover {
          width: $sidebar-width + $sidebar-minimized-width;
          overflow: visible;

          > .nav-link {
            background: $sidebar-nav-active-bg-color;

            i {
              // color: $sidebar-nav-link-hover-color;
              font-size: 1.4rem;
            }
          }
        }
      }

      .nav-link {
        position: relative;
        // padding-left: 0;
        margin: 0;
        white-space: nowrap;
        padding: 0.8rem 0;
        // border-left: 0 !important;

        i {
          display: block;
          float: left;
          width: $sidebar-minimized-height;
          position: relative;
          top: -0.4rem;
          // padding: 0;
          // margin: 0 !important;
          // font-size: 18px;
        }

        .badge {
          position: absolute;
          right: 15px;
          display: none;
        }

        &:hover {
          width: $sidebar-width + $sidebar-minimized-width;
          // background: $sidebar-nav-link-hover-bg;

          .badge {
            display: inline;
          }
        }

        &.nav-dropdown-toggle::before {
          display: none;
        }
      }

      .nav-dropdown-items {
        .nav-item {
          width: $sidebar-width;

          .nav-link {
            width: $sidebar-width;
          }
        }
      }

      .nav > .nav-dropdown {
        > .nav-dropdown-items {
          display: none;
          max-height: 1000px;
          background: $sidebar-bg;
        }

        &:hover {
          background: $sidebar-nav-link-hover-bg;
          > .nav-dropdown-items {
            position: absolute;
            left: $sidebar-minimized-width;
            display: inline;
          }
        }
      }
    }

    .admin-sidebar-header{
      .user-profile{
        padding: 0 0.5rem;
        .user-profile-button{
          .profile-text{
            display: none;
          }
          > i{
            display: none;
          }
        }

      }
      .admin-brand-logo{
        display: none;

      }
      .admin-brand-logo-mini{
        display: block;
        padding-bottom: 3rem;
      }
    }

    footer{
      .footer-menu{
        padding: 0.6rem 0;
         ul{
           li{
             width: 100%;
             padding: 0.2rem 0;
           }
         }
      }
      .footer-text{
        display: none;
      }
    }

    .main{
      padding-left: 0;
    }

  }
}


//dashboard



  footer{
    .user-profile {
      padding: 0 2.5rem 1rem 1.5rem;
      position: relative;
      button{
        background-color: transparent;
        border: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: left;
        &:focus, &:active{
          outline: none;
          box-shadow: none;
        }
        .profile-image, .profile-text{
          display: inline-block;
          vertical-align: middle;
        }
        .profile-image {
          margin-right: 0.75rem;
          width: 35px;
          height: 35px;
          overflow: hidden;
          background-color: $sidebar-bg-color;
          border-radius: 100%;
          img {
            border-radius: 100%;
            object-fit: cover;
            width: 100%;
            height: 100%;
          }
        }
        .profile-text {
          .user-profile-name {
            font-family: $font-family-primary;
            font-weight: $font-family-primary-bold;
            font-size: 0.9rem;
            text-transform: capitalize;
            color: $primary-text;
          }
          .user-profile-role {
            font-size: 0.75rem;
            color: $secondary-text;
          }
        }
        i{
          float: right;
          font-size: 1.2rem;
          opacity: 0.7;
          color: $sidebar-text-color;
        }
        &:hover{
          i{
            color: lighten( $sidebar-text-color, 10%);
          }

        }


      }

      &.dropdown {
        .dropdown-toggle{
          &:after{
            display: none;
          }
        }
        .dropdown-menu{
          top: 3rem !important;
          left: 1.5rem !important;
        }
      }


    }
    // border-top: 1px solid $sidebar-border-color;
    .footer-menu{
      padding: 1.5rem 0;
      ul{
        margin: 0;
        padding: 0;
        list-style-type: none;
        li{
          display: inline-block;
          text-align: center;
          width: 100%;
          .btn{
            color: $sidebar-text-color;
            padding: 0.75rem 1.5rem;
            display: block;
            width: 100%;
            text-align: left;
            background-color: transparent;
            i{
              display: inline-block;
              margin: 0 0.75rem 0 0;
              font-size: 1.4rem;
              text-align: center;
            }
            i, span{
              vertical-align: middle;
            }
            &:hover{
              color: $primary-text;
              background-color: transparent;
            }
          }
        }
      }
    }
    .footer-text{
      padding: 0 1.5rem 1rem 1.5rem;
      p{
        color: $sidebar-text-color;
        margin: 0;
        font-size: 0.85rem;
      }
    }
  }

.menu-title{
  padding-left: 1.5rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  color: $secondary-text;
  margin-bottom: 0.5rem;
}
