.wizard-step-wrapper{
  wizard-navigation-bar{
    display: block !important;
    margin: 0 0 2rem 0 !important;
    padding: 0 0 2rem 0 !important;
    margin-left: -$card-hor-padding !important;
    width: calc(100% + #{2 * $card-hor-padding}) !important;
    border-bottom: 1px solid $border-color-light !important;
    ul.steps-indicator{
      display: inline-block !important;
      margin: 0 !important;
      padding: 0 2rem !important;
      li{
        position: relative !important;
        margin: 0 !important;
        padding: 0 !important;
        pointer-events: none !important;
        display: inline-block !important;
        margin-right: 4rem !important;
        width: auto !important;
        > div{
          display: block !important;
          padding-left: 3.5rem !important;
          > a{
            font-family: $font-family-secondary !important;
            font-weight: $font-family-secondary-regular !important;
            text-transform: capitalize !important;
            color: $primary-text !important;
          }
        }
        &:before{
          display: none !important;
        }
        &:after{
          position: absolute !important;
          top: -50% !important;
          left: 0 !important;
          width: $step-wizard-indicator-size !important;
          height: $step-wizard-indicator-size !important;
          font-size: 20px !important;
          content: '' !important;
          text-align: center !important;
          vertical-align: middle !important;
          line-height: $step-wizard-indicator-size !important;
          transition: $transition-global !important;
          border-radius: 100% !important;
          background-color: $secondary-text !important;
          color: #FFF !important;
          content: attr(step-symbol) !important;
        }

        &.current, &.editing{
          &:after{
            background-color: $secondary-color !important;
            box-shadow: 0 4px 8px transparentize($secondary-color, 0.6) !important;
            color: #FFF !important;
          }
        }

        &.done{
          &:after{
            background-color: $primary-color !important;
            box-shadow: 0 4px 8px transparentize($primary-color, 0.6) !important;
            color: #FFF !important;
          }
        }

      }
    }
  }
}




// .................



// .wizard-step-wrapper{
//   .horizontal.large-filled-symbols[_nghost-c3]{
//     display: block;
//     margin: 0 0 2rem 0;
//     padding: 0 0 2rem 0;
//     margin-left: -$card-hor-padding;
//     width: calc(100% + #{2 * $card-hor-padding});
//     border-bottom: 1px solid $border-color-light;
//     // position: relative;
//     // left: -2rem;
//     ul.steps-indicator[_ngcontent-c3]{
//       display: inline-block;
//       margin: 0;
//       padding: 0 2rem;
//       li[_ngcontent-c3]{
//         position: relative;
//         margin: 0;
//         padding: 0;
//         pointer-events: none;
//         display: inline-block;
//         margin-right: 4rem;
//         width: auto;
//         > div{
//           display: block;
//           padding-left: 3.5rem;
//           > a{
//             font-family: $font-family-secondary;
//             font-weight: $font-family-secondary-regular;
//             text-transform: capitalize;
//             color: $primary-text;
//           }
//         }
//         &:before{
//           display: none;
//         }
//         &:after{
//           position: absolute;
//           top: -50%;
//           left: 0;
//           width: $step-wizard-indicator-size;
//           height: $step-wizard-indicator-size;
//           font-size: 20px;
//           content: '';
//           text-align: center;
//           vertical-align: middle;
//           line-height: $step-wizard-indicator-size;
//           transition: $transition-global;
//           border-radius: 100%;
//           background-color: $secondary-text;
//           color: #FFF;
//           content: attr(step-symbol);
//         }

//         &.current, &.editing{
//           &:after{
//             background-color: $secondary-color;
//             box-shadow: 0 4px 8px transparentize($secondary-color, 0.6);
//             color: #FFF;
//           }
//         }

//         &.done{
//           &:after{
//             background-color: $primary-color;
//             box-shadow: 0 4px 8px transparentize($primary-color, 0.6);
//             color: #FFF;
//           }
//         }

//       }
//     }
//   }
// }



// ....................



// wizard-navigation-bar{
//     margin: 0 -3.5%;
//     border-bottom: $box-border-color;
//     padding: 0 3.5%;
// }
//
// .horizontal[_nghost-c3] ul.steps-indicator.steps-2[_ngcontent-c3] li[_ngcontent-c3]{
//   margin: 0 175% 0 25%;
// }
// .horizontal[_nghost-c3] ul.steps-indicator[_ngcontent-c3]{
//   width: 10%;
//   justify-content: left;
// }
// .horizontal.large-filled-symbols[_nghost-c3] ul.steps-indicator[_ngcontent-c3] li[_ngcontent-c3]:not(:last-child):before{
//     background: #fff;
// }
// .horizontal.large-filled-symbols[_nghost-c3] ul.steps-indicator[_ngcontent-c3] li.current[_ngcontent-c3]:after{
//     background-color: $secondary-orange-color;
//     box-shadow: $stepIndicator-box-shadow;
// }
// .horizontal.large-filled-symbols[_nghost-c3] ul.steps-indicator[_ngcontent-c3] li[_ngcontent-c3]:after{
//     width: 30px;
//     height: 30px;
// }
// .horizontal[_nghost-c3] ul.steps-indicator.steps-2[_ngcontent-c3] li[_ngcontent-c3]{
//     width: 25%;
// }
// .horizontal[_nghost-c3] ul.steps-indicator[_ngcontent-c3] li[_ngcontent-c3] div[_ngcontent-c3] a[_ngcontent-c3]{
//     position: absolute;
//     left: 20px;
//     bottom: 35px;
//     font-family: $secondary-font-face;
//     font-size: 12px;
//     color: $mainTitle-color;
//     text-transform: lowercase;
// }
