.tab-container{
  .nav-tabs{
    // left: 1rem;
    position: relative;
    border-bottom: 0;
    z-index: 9;
    .nav-item{
      margin-right: 0.2rem;
      margin-bottom: 0;
      .nav-link{
        border-color: transparent;
        border-radius: 0;
        padding: 0.6rem 1.4rem;
        border-top: 0;
        background-color: $tab-bg-color;
        // color: darken($tab-bg-color, 20%);
        color: $secondary-text;
      }
      &.active{
        .nav-link{
          background-color: #FFF;
          color: $primary-text;
          border-top-color: $secondary-color;
        }
      }
    }
  }

  .tab-content{
    z-index: 10;
    position: relative;
    border-color: transparent;
    border-radius: $box-border-radius 0 $box-border-radius 0;
    margin-bottom: 2rem;
    .tab-pane{
        padding: $card-ver-padding $card-hor-padding;
    }
  }

}
