.card-buttons {
    ul {
        list-style: none;
        display: flex;
        float: right;
        li {
            &:nth-child(1) {
                //  margin-right: 10px;
            }
        }
    }
}

.table-card {
    box-shadow: none !important;
    border: none !important;
    .card-header {
        background: none !important;
        border-bottom: none !important;
    }
}

.app-main-footer {
    border-top: 1px solid red;
}

.admin-card-table {
    // background-color: red;
    thead {
        tr {
            th {
                border: 1px solid #f4f4f4;
            }
        }
    }
    tbody {
        tr {
            td {
                border: 1px solid #f4f4f4;
            }
            &:nth-child(odd) {
                background: #f2f2f2;
            }
        }
    }
}

.table-card {
    margin-top: 7px;
    background: none;
    border: none;
    box-shadow: none;
    .card-header {
        padding: 0;
        border-bottom: none;
        .left-block {
            color: $mainTitle-color;
            h1 {
                font-family: $font-family-primary;
                font-size: 18px;
                font-weight: 600;
                button {
                    margin-right: 35px;
                    text-align: center;
                    padding: 0;
                    background: none;
                    border: none;
                    outline: none;
                    @extend .mdi;
                    @extend .mdi-arrow-left;
                    &:before {
                        position: absolute;
                        top: -4px;
                        left: 10px;
                        font-size: 24px;
                        font-weight: 500;
                        color: $mainTitle-color;
                    }
                }
            }
            p {
                font-size: 12px;
            }
        }
    }
    .admin-table {
        padding: 0;
        .admin-card-table {
            border: none;
            border-collapse: separate;
            border-spacing: 0 10px;
            thead tr th {
                text-transform: uppercase;
                border: none;
                padding: 0.2rem 0.75rem;
                color: $secondary-text;
                font-weight: $font-family-secondary-bold;
                font-size: 0.75rem;
            }
            tbody>tr {
                -webkit-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.07);
                -moz-box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.07);
                box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.07);
                line-height: 30px; // cursor: pointer;
                transition: $transition-global;
                &:focus {
                    outline: none !important;
                }
                &:hover {
                    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.12);
                }
                td {
                    text-transform: lowercase;
                    background: #FEFEFE;
                    border: none;
                    color: $primary-text;
                    font-weight: $font-family-secondary-regular;
                    font-size: 0.9rem;
                    &:first-child {
                        border-top-left-radius: 5px;
                        border-bottom-left-radius: 5px;
                    }
                    &:last-child {
                        border-top-right-radius: 5px;
                        border-bottom-right-radius: 5px;
                    }
                }
            }
        }
    }
}

.table-wrapper {
    padding: 0;
    &.no-padding {
        margin-left: -$card-hor-padding;
        width: calc(100% + #{2 * $card-hor-padding});
        .table {
            thead {
                th {
                    padding: 0.2rem 0.75rem 0.6rem 0.75rem;
                    &:first-child:not(last-child) {
                        padding-left: $card-hor-padding;
                    }
                    &:last-child:not(first-child) {
                        padding-right: $card-hor-padding;
                    }
                }
            }
            tbody>tr {
                td {
                    padding: 0.5rem 0.75rem;
                    border-bottom: 1px solid lighten($border-color, 15%);
                    &:first-child:not(last-child) {
                        padding-left: $card-hor-padding;
                        border-radius: 0;
                    }
                    &:last-child:not(first-child) {
                        padding-right: $card-hor-padding;
                        border-radius: 0;
                    }
                }
            }
        }
    }
}
.table-no-cursor{
  tbody{
    >tr{
      cursor: initial !important;
    }
  }
}
.table {
    border: none;
    border-collapse: separate;
    border-spacing: 0 10px;
    thead tr th {
        text-transform: capitalize;
        border: none;
        padding: 0.2rem 0.75rem;
        color: $secondary-text;
        font-weight: $font-family-secondary-bold;
        font-size: 0.8rem;
    }
    tbody>tr {
        box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03);
        line-height: 30px; // cursor: pointer;
        transition: $transition-global;
        cursor: pointer;
        &:focus {
            outline: none !important;
        }
        &:hover {
            box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.06);
        }
        td {
          vertical-align: middle;
            //text-transform: lowercase; // background: #FEFEFE;
            // background: linear-gradient(#FFFFFF, #FBFBFB);
            background: #FFF;
            border: none;
            color: $primary-text;
            font-weight: $font-family-secondary-regular;
            font-size: 0.9rem;
            word-break: break-word;
            &:first-child {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }
            &:last-child {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            } // button{
            //     width: 30px;
            //     height: 30px;
            //     margin: 0 3px;
            //     position: relative;
            //     font-size: 14px;
            //     color: #fff;
            //     font-weight: 500;
            //     background: $secondary-blue-color;
            //     border-radius: 100%;
            //     box-shadow: $EditDelete-box-shadow;
            //     transition: $button-transition;
            //     @extend .mdi;
            //     &:hover{
            //         background: $primary-blue-color;
            //     }
            //     &:nth-child(1){
            //         background: $secondary-orange-color;
            //         &:hover{
            //             background: $primary-orange-color;
            //         }
            //     }
            //     &.edit-btn{
            //         @extend .mdi-pencil;
            //         &:before {
            //             position: absolute;
            //             top: 3px;
            //             left: 7px;
            //         }
            //     }
            //     &.delete-btn{
            //         @extend .mdi-delete;
            //         &:before {
            //             position: absolute;
            //             top: 3px;
            //             left: 7px;
            //         }
            //     }
            //     &.lock-btn{
            //         @extend .mdi-lock;
            //         &:before {
            //             position: absolute;
            //             top: 3px;
            //             left: 7px;
            //         }
            //     }
            //     &.unlock-btn{
            //         @extend .mdi-lock-open;
            //         &:before {
            //             position: absolute;
            //             top: 3px;
            //             left: 7px;
            //         }
            //         &:hover{
            //             background: $primary-blue-color;
            //         }
            //     }
            //     &.report-btn{
            //         @extend .mdi-library-books;
            //         &:before {
            //             position: absolute;
            //             top: 3px;
            //             left: 7px;
            //         }
            //     }
            //     &.approve-btn{
            //         @extend .mdi-check-all;
            //         &:before {
            //             position: absolute;
            //             top: 3px;
            //             left: 7px;
            //         }
            //     }
            // }
        }
    }
    &.table-minimal-border {
        border-spacing: 0;
        tbody>tr {
            box-shadow: none;
            &:hover {
                box-shadow: none;
            }
        }
    }
    .card-image-wrapper {
        vertical-align: middle;
        height: $card-image-size-table;
        width: $card-image-size-table;
        display: inline-block;
        border-radius: 100rem;
        overflow: hidden;
        margin-right: 0.5rem;
        margin-bottom: 0;
        .card-image {
            height: 100%;
            width: 100%;
            img {
                object-fit: cover;
                height: 100%;
                width: 100%;
            }
        }
    }
    // &.vertical-align-middle {
    //     td {
    //         vertical-align: middle !important;
    //     }
    // }
}

//  .report{
//     .branch{
//         button{
//             width: 30px;
//             height: 30px;
//             margin: 0 3px;
//             position: relative;
//             font-size: 14px;
//             color: #fff;
//             font-weight: 500;
//             background: $secondary-blue-color;
//             border-radius: 100%;
//             box-shadow: $EditDelete-box-shadow;
//             transition: $button-transition;
//             @extend .mdi;
//             &:hover{
//                 background: $primary-blue-color;
//             }
//             &:nth-child(1){
//                 background: $secondary-orange-color;
//                 @extend .mdi;
//                 @extend .mdi-library-books;
//                 &:before {
//                     position: absolute;
//                     top: 3px;
//                     left: 7px;
//                 }
//                 &:hover{
//                     background: $primary-orange-color;
//                 }
//             }
//         }
//     }
// }
// MISC
// table {
//     .status-badge {
//         display: initial;
//     }
// }

.detail-icon {
    display: flex;
    justify-content: center;
    align-content: center;
    width: 30px;
}

.merchant-card-table {
    >tbody {
        .table-row-toggle {
            background: transparent !important;
            box-shadow: none !important;
            td {
                background: transparent !important;
                padding-top: 0;
                padding-left: 0;
                padding-right: 0;
                .toggle-rem-detail-wrapper {
                    background: #fafafa;
                    border-bottom-left-radius: 4px;
                    border-bottom-right-radius: 4px;
                    overflow: hidden;
                    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.03);
                    padding: 2rem 2rem;
                    margin-top: -9px;
                    .remaining-detail {
                        div {
                            .form-group {
                                margin-bottom: 0;
                                margin-top: 1.5rem;
                            }
                            label {
                                display: grid;
                                margin-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

table {
    tbody {
        tr {
            td {
                line-height: 20px;
                .btn-icon-only {
                  // display: contents;
                  padding: 0;
              }
            }
        }
    }
}

.clickable__view {
    border: 1px solid #ed272c;
    padding: 5px 15px;
    position: relative;
    cursor: pointer;
    width: 6rem;
    display: block;
    height: 28px;
    line-height: 17px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
    &::before {
        text-transform: uppercase;
        content: attr(data-label);
        position: absolute;
        background-color: #ed272c;
        color: #fff;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0;
        pointer-events: none;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &:hover {
        color: #ed272c;
        text-decoration: none;
        &::before {
            opacity: 1;
            pointer-events: auto;
            transition-property: opacity;
            transition-duration: .15s;
            transition-timing-function: ease-in-out;
        }
    }
}

// a.clickable__view:hover .hover__view__text {
//     display: flex;
//     transition-delay: 5s;
//     transition-duration: 5s;
// }
bs-daterangepicker-container {
    z-index: 999;
}

.action-button{
  min-width: 3rem;
  display: flex;
}
