$font-family-primary: 'Product Sans', sans-serif;
$font-family-secondary: 'Product Sans', sans-serif;
$font-family-icon: $mdi-font-name;

$font-family-primary-regular: 500;
$font-family-primary-bold: 500;

$font-family-secondary-regular: 500;
$font-family-secondary-bold: 500;
