.timeline {
    padding: 3% 0% 3% 5%;
}

.timeline {
    &:before {
        height: 88%;
        left: 5%;
        background: rgba(237, 39, 44, 0.1);
    }
}

.timeline-img {
    display: none;
}

.timeline__img {
    display: block;
    left: -6%;
    text-align: center;
    width: 15px;
    height: 15px;
    border-radius: 100px;
    position: absolute;
    box-shadow: 0px 1px 5px #999; // p {
    //     display: block;
    //     color: #7b7b7b !important;
    //     position: absolute;
    //     left: -78px;
    //     top: -8px;
    // }
    &.failed {
        background-color: #f00;
    }
    &.success {
        background-color: #009605;
    }
    &.pending {
        background-color: #dec300;
    }
}

.timeline-content {
    width: 95%;
    padding: 30px 30px 20px;
    margin-bottom: 2rem;
    background-color: #fff;
    float: right;
    color: #536c79;
    &::before {
        width: 0;
        height: 0;
        border-top: 15px solid transparent;
        border-right: 15px solid white;
        border-bottom: 15px solid transparent;
        position: absolute;
        left: -0.8rem;
        z-index: 9;
        content: '';
        top: 2.7rem;
    }
}

.date {
    padding: 5px 10px;
    width: 100%;
    background: #9db3be !important;
}

.date p {
    margin-bottom: 0;
}

.inner-content {
    h1 {
        font-size: 1.1rem;
        text-transform: capitalize;
        color: #666;
    }
}

.timeline-item {
    &:nth-child(even) {
        .timeline-content {
          padding: 30px 30px 20px;
            .date {
                right: 0;
                left: auto;
            }
        }
    }
}

.inner-content {
    margin-top: 15px;
}

@media screen and (max-width: 1024px) {
    .timeline {
        .timeline-img {
            left: 5% !important;
            text-align: center;
        }
        .timeline-content {
            width: 85%;
            float: none;
            .inner-content {
                margin-top: 15px !important;
            }
        }
        .timeline__img {
            left: -77px;
            font-size: 0.65rem;
            p {
                left: -59px;
            }
        }
    }
}

.timeline__complete__time {
    position: absolute;
    top: 5px;
    left: 12%;
    color: #fff;
}

@media all and(max-width:1600px) {
    .timeline__complete__time {
        left: 20%;
    }
}

.timeline-item {
    &:nth-child(odd) {
        .timeline-content {
            .inner-content {
              margin-right: 0px;
            }
        }
    }
}
.timeline__data__grid__form{
  div{
    display: grid;
    padding: 5px 15px;
  }
  span{
    color: $secondary-text;
  }
}
