
//tree view container
ngx-treeview {
    .treeview-container{
        display: grid !important;
        overflow-y: hidden !important;
        & div:first-child {
        & div:first-child {
            height: 100% !important;
            word-wrap: break-word !important;
            white-space: nowrap !important;
        }
        }
    }
}