<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="fallback-view">
          <div class="fallback-image no-records"></div>
          <div class="fallback-title-message">
            No Default Commission Found
          </div>
          <div class="fallback-subtitle-message">
            Please setup the default commission in User Setup Menu
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
