<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-6">
            <div class="page-title-block">
              <div class="page-title">
                <span>Office</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 card-action-buttons-right card-buttons">
            <ul>
              <li>
                <div class="btn-group btn-swtich-wrapper" role="group">
                  <button *ngIf="cardViewEnabled" type="button" class="btn btn-icon-only"
                    (click)="toggleCardViewEnabled()" tooltip="Switch to List View" placement="bottom" container="body">
                    <i class="cai cai-list"></i>
                  </button>
                  <button *ngIf="!cardViewEnabled" type="button" class="btn btn-icon-only"
                    (click)="toggleCardViewEnabled()" tooltip="Switch to Grid View" placement="bottom" container="body">
                    <i class="cai cai-grid"></i>
                  </button>
                </div>
              </li>

              <li *ngIf="getChildRole('Manage Office')">
                <button type="button" class="btn btn-link" [routerLink]="[getChildRole('Manage Office').navigation]">
                  <i [class]="getChildRole('Manage Office').icon"></i>
                  <span>{{getChildRole('Manage Office').description}}</span>
                </button>
              </li>

              <li *ngIf="getChildRole('Create Office')">
                <button type="button" class="btn btn-primary" [routerLink]="[getChildRole('Create Office').navigation]">
                  <i [class]="getChildRole('Create Office').icon"></i>
                  <span>{{getChildRole('Create Office').description}}</span>
                </button>
              </li>

            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>


  <div *ngIf="offices?.length <= 0 ;then noRecordsFound"></div>

  <div class="row" *ngIf="!cardViewEnabled  && offices?.length > 0">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Unicode Name</th>
              <th>Office Type</th>
              <th>Province</th>
              <th>Created Date</th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let office of offices" (click)="clickViewDetailButton(office)">
              <td>{{office.name ? office.name :'N/A' }}</td>
              <td>{{office.unicodeName ? admin.unicodeName :'N/A' }}</td>
              <td>{{office.officeTypeId ? admin.officeTypeId :'N/A' }}</td>
              <td>{{office.provinceId ? admin.provinceId :'N/A' }}</td>
              <td>{{office.createdDate ? (office.createdDate | date:'dd/MM/yyyy') : 'N/A'}}</td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>

  <!-- <div class="row" *ngIf="cardViewEnabled">
    <div class="col-md-4" *ngFor="let admin of admins" (click)="clickViewDetailButton(admin)">
      <div class="card user-card">
        <div class="card-body">
          <div class="card-image-wrapper">
            <div class="card-image">
              <img *ngIf="!admin.convergentAdminDto.profilePhotoUrl" src="assets/img/default-profile.jpg" alt="" />
              <img *ngIf="admin.convergentAdminDto.profilePhotoUrl" src="{{admin.convergentAdminDto.profilePhotoUrl}}"
                alt="" />
            </div>
            <div class="status-dot-wrapper">
              <span *ngIf="admin.isLoggedIn" class="status-dot active" tooltip="Online"></span>
              <span *ngIf="!admin.isLoggedIn" class="status-dot" tooltip="Offline"></span>
            </div>
          </div>
          <div class="card-primary-details">
            <div class="card-name">
              <span>{{admin.convergentAdminDto.name ? admin.convergentAdminDto.name :'N/A' }}</span>
            </div>
            <div class="card-subname">
              <span>{{admin.username? '('+ admin.username +')':'N/A' }}</span>
            </div>

            <div class="{{isActive(admin.adminProfileDto.statusDto.name) ? 'active': 'inactive' }}">
              <span class="admin.statusDto.icon">{{admin.adminProfileDto ? (admin.adminProfileDto.name ?
                admin.adminProfileDto.name
                : 'N/A') : 'N/A'}}</span>
            </div>

            <div class="profile-badge {{isActive(admin.statusDto.name) ? 'active': 'inactive' }}">
              <span class="admin.statusDto.icon">{{isActive(admin.statusDto.name) ? 'ACTIVE' : 'INACTIVE'}}</span>
            </div>

          </div>
          <div class="card-secondary-details m-0">
            <ul>
              <li>
                <i class="cai cai-check-circle" tooltip="Created Date"></i>
                <span>{{admin.convergentAdminDto.createdDate ? (admin.convergentAdminDto.createdDate |
                  date:'dd/MM/yyyy')
                  : 'N/A'}}
                </span>
              </li>
              <li>
                <i class="cai cai-logout" tooltip="Last Logged In"></i>
                <span>{{admin.lastLoggedInDate ? (admin.lastLoggedInDate | date:'dd/MM/yyyy') : 'N/A' }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <pagination [hidden]="offices?.length < 1 || totalItems<=size" [boundaryLinks]="true" [totalItems]="totalItems"
    [rotate]="true" (pageChanged)="getAllOfficeForSearch($event)" [itemsPerPage]="size" [maxSize]="5"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>

</div>

<ng-template #noRecordsFound>
  <app-no-records-found></app-no-records-found>
</ng-template>