<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="back-button-block">
              <button type="button" (click)="goBack()" class="btn btn-icon-only casba-bck-btn">
                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
              </button>
            </div>
            <div class="page-title-block">
              <div class="page-title">
                <span>Password Policy</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table admin-card-table table-no-cursor">
        <thead>
          <tr>
            <th>Label</th>
            <th>Description</th>
            <th>Value</th>
            <th>Regular Expression(Regex)</th>
            <th>Regex Length Type</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let passwordPolicy of passwordPolicies">
            <td>{{passwordPolicy.label ? passwordPolicy.label:'N/A' }}</td>
            <td>{{passwordPolicy.passwordPolicyDesc ? passwordPolicy.passwordPolicyDesc: 'N/A'}}</td>
            <td>{{passwordPolicy.passwordPolicyValue}}</td>
            <td>{{passwordPolicy.regularExpression ? passwordPolicy.regularExpression: 'N/A'}}</td>
            <td>{{passwordPolicy.passwordRegularExpressionLengthType
              ?passwordPolicy.passwordRegularExpressionLengthType: 'N/A'}}</td>
            <td>
              <div class="action-button">
                <button type="button" class="btn btn-icon-only" [routerLink]="['edit',passwordPolicy.id]" tooltip="Edit Password Policy">
                  <i class="cai cai-edit"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
