<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-6">
            <div class="page-title-block">
              <div class="page-title">
                <span>User Group</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 card-action-buttons-right card-buttons">
            <ul>
              <li>
                <div class="btn-group btn-swtich-wrapper" role="group">
                  <button *ngIf="cardViewEnabled" type="button" class="btn btn-icon-only" (click)="toggleCardViewEnabled()"
                    tooltip="Switch to List View" placement="bottom" container="body">
                    <i class="cai cai-list"></i>
                  </button>
                  <button *ngIf="!cardViewEnabled" type="button" class="btn btn-icon-only" (click)="toggleCardViewEnabled()"
                    tooltip="Switch to Grid View" placement="bottom" container="body">
                    <i class="cai cai-grid"></i>
                  </button>
                </div>
              </li>

              <li *ngIf="getChildRole('Manage User Group')">
                <button type="button" class="btn btn-link" [routerLink]="[getChildRole('Manage User Group').navigation]">
                  <i [class]="getChildRole('Manage User Group').icon"></i>
                  <span>{{getChildRole('Manage User Group').description}}</span>
                </button>
              </li>

              <li *ngIf="getChildRole('Create User Group')">
                <button type="button" class="btn btn-primary" [routerLink]="[getChildRole('Create User Group').navigation]">
                  <i [class]="getChildRole('Create User Group').icon"></i>
                  <span>{{getChildRole('Create User Group').description}}</span>
                </button>
              </li>

            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- For Search -->
  <div class="card con__search__wrapper">
    <div class="card-body">
      <form #searchForm="ngForm" >
        <div class="row con--top--margin">
          <ng-container *ngFor="let filter of filterParam; let i = index">
            <ng-container *ngIf="filter.key != 'status.name'">
              <ng-container *ngIf="filter.key != 'adminProfile.id'">
                <div class="col-3">
                  <div class="form-group">
                    <label for="text-input">{{filter.key.substring(filter.key.lastIndexOf('.')+1,filter.key.length)}}</label>
                    <div class="input-group">
                      <input name={{filter.key}} class="form-control" [(ngModel)]='filter.value'>
                    </div>
                  </div>
                </div>
              </ng-container>
            </ng-container>
          </ng-container>

          <div class="col-3">
            <div class="form-group">
              <label for="text-input">Profile</label>
              <div class="input-group select">
                <select name="profileId" class="form-control" [(ngModel)]="filterParam[0].value">
                  <option value="" [selected]="true">All</option>
                  <option *ngFor="let profile of adminProfiles" [attr.value]="profile.id">{{profile.name}}</option>
                </select>
              </div>
            </div>
          </div>

          <div class="col-3">
            <div class="form-group">
              <label for="text-input">Visibility</label>
              <div class="input-group select">
                <select name="status" class="form-control" [(ngModel)]="filterParam[1].value">
                  <option value="" [selected]="true">All</option>
                  <option *ngFor="let status of statusListForSearch" [attr.value]="status.value">{{status.label}}</option>
                </select>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
              <button type="button" class="btn btn-primary" *ngIf="!searchButtonpressed" (click)="searchAdminOnUserInput()">
                  <i class="cai cai-search" aria-hidden="true"></i>Search
                </button>
    
                <button type="button" class="btn btn-primary" *ngIf="searchButtonpressed" [disabled]="true">
                  <i class="cai cai-search" aria-hidden="true"></i>Please wait
                </button>
            <button type="button" class="btn btn-primary" (click)="resetSearch()">
              <i class="cai cai-reset" aria-hidden="true"></i>Reset
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--  -->

  <div *ngIf="admins?.length <= 0 ;then noRecordsFound"></div>

  <div class="row" *ngIf="!cardViewEnabled  && admins?.length > 0">
    <div class="col-md-12">
        <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Visibility</th>
            <th>Profile</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let admin of admins" (click)="clickViewDetailButton(admin)">
            <td>{{admin.convergentAdminDto.name ? admin.convergentAdminDto.name :'N/A' }}</td>
            <td>{{admin.username ? admin.username :'N/A' }}</td>
            <td>{{admin.convergentAdminDto.createdDate ? (admin.convergentAdminDto.createdDate | date:'dd/MM/yyyy') :
              'N/A'}}</td>
            <td>{{admin.lastLoggedInDate ? (admin.lastLoggedInDate | date:'dd/MM/yyyy') : 'N/A' }}</td>

            <td>
              <div class="profile-badge {{isActive(admin.adminProfileDto.statusDto.name) ? 'visible': 'hidden' }}">
                <span class="admin.statusDto.icon">{{admin.adminProfileDto ? (admin.adminProfileDto.name ?
                  admin.adminProfileDto.name
                  : 'N/A') : 'N/A'}}</span>
              </div>
            </td>

            <td>
              <span class="admin.statusDto.icon status-badge {{isActive(admin.statusDto.name) ? 'visible': 'hidden' }}">{{isActive(admin.statusDto.name)
                ? 'ACTIVE' : 'INACTIVE'}}</span>
            </td>

          </tr>
        </tbody>
      </table>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="cardViewEnabled">
    <div class="col-md-4" *ngFor="let admin of admins" (click)="clickViewDetailButton(admin)">
      <div class="card user-card">
        <div class="card-body">
          <div class="card-image-wrapper">
            <div class="card-image">
              <img *ngIf="!admin.convergentAdminDto.profilePhotoUrl" src="assets/img/default-profile.jpg" alt="" />
              <img *ngIf="admin.convergentAdminDto.profilePhotoUrl" src="{{admin.convergentAdminDto.profilePhotoUrl}}"
                alt="" />
            </div>
            <div class="status-dot-wrapper">
              <span *ngIf="admin.isLoggedIn" class="status-dot active" tooltip="Online"></span>
              <span *ngIf="!admin.isLoggedIn" class="status-dot" tooltip="Offline"></span>
            </div>
          </div>
          <div class="card-primary-details">
            <div class="card-name">
              <span>{{admin.convergentAdminDto.name ? admin.convergentAdminDto.name :'N/A' }}</span>
            </div>
            <div class="card-subname">
              <span>{{admin.username? '('+ admin.username +')':'N/A' }}</span>
            </div>

            <div class="{{isActive(admin.adminProfileDto.statusDto.name) ? 'active': 'inactive' }}">
              <span class="admin.statusDto.icon">{{admin.adminProfileDto ? (admin.adminProfileDto.name ?
                admin.adminProfileDto.name
                : 'N/A') : 'N/A'}}</span>
            </div>

            <div class="profile-badge {{isActive(admin.statusDto.name) ? 'active': 'inactive' }}">
              <span class="admin.statusDto.icon">{{isActive(admin.statusDto.name) ? 'ACTIVE' : 'INACTIVE'}}</span>
            </div>

          </div>
          <div class="card-secondary-details m-0">
            <ul>
              <li>
                <i class="cai cai-check-circle" tooltip="Created Date"></i>
                <span>{{admin.convergentAdminDto.createdDate ? (admin.convergentAdminDto.createdDate |
                  date:'dd/MM/yyyy')
                  : 'N/A'}}
                </span>
              </li>
              <li>
                <i class="cai cai-logout" tooltip="Last Logged In"></i>
                <span>{{admin.lastLoggedInDate ? (admin.lastLoggedInDate | date:'dd/MM/yyyy') : 'N/A' }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <pagination [hidden]="admins?.length < 1 || totalItems<=size" [boundaryLinks]="true" [totalItems]="totalItems"
    [rotate]="true" (pageChanged)="getAllAdminsForSearch($event)" [itemsPerPage]="size" [maxSize]="5" previousText="&lsaquo;"
    nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>

</div>

<ng-template #noRecordsFound>
  <app-no-records-found></app-no-records-found>
</ng-template>
