<div class="animated fadeIn">
  <div class="page-title-wrapper">
    <div class="back-button-block">
      <button type="button" (click)="goBack()" class="btn btn-icon-only casba-bck-btn">
        <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
      </button>
    </div>
    <div class="page-title-block">
      <div class="page-title">
        <span>Admin Details</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card user-card">
        <div class="card-body">
          <div class="card-image-wrapper">
            <div class="card-image">
            </div>
            <div class="status-dot-wrapper">
              <span *ngIf="admin.isLoggedIn" class="status-dot active" tooltip="Online"></span>
              <span *ngIf="!admin.isLoggedIn" class="status-dot" tooltip="Offline"></span>
            </div>
          </div>

          <div class="card-primary-details">
            <div class="card-name">
              <span>{{admin.name ? admin.name :'N/A'}}</span>
            </div>
            <div class="card-subname">
              <span>@{{admin.username? admin.username : 'N/A'}}</span>
            </div>
            <div class="card-subname">
              <span>{{admin.adminProfileDto ? (admin.adminProfileDto.name ? admin.adminProfileDto.name : 'N/A') : 'N/A'}}</span>
            </div>
          </div>
          <div class="card-secondary-details">
            <ul>
              <!-- <li>
                <i class="cai cai-user" tooltip="Gender"></i>
                <span>{{admin.convergentAdminDto.gender ? admin.convergentAdminDto.gender : 'N/A'}}</span>
              </li> -->
              <li>
                <i class="cai cai-mobile" tooltip="Phone"></i>
                <span>{{admin.contactNumber ? admin.contactNumber  : 'N/A'}}</span>
              </li>
              <li>
                <i class="cai cai-mail" tooltip="Email"></i>
                <span>{{admin.email ? admin.email : 'N/A'}}</span>
              </li>
              <li>
                <i class="cai cai-map" tooltip="Address"></i>
                <span>{{admin.address ? admin.address : 'N/A'}}</span>
              </li>
              <li>
                <i class="cai cai-map" tooltip="user-card"></i>
                <span>{{admin.serviceGroup ? admin.serviceGroup : 'N/A'}}</span>
              </li>
              <li>
                <i class="cai cai-map" tooltip="user-card"></i>
                <span>{{userType(admin.isSuper)}}</span>
              </li>
            </ul>
          </div>
          <div class="card-action">

          </div>
        </div>
      </div>
    </div>
  </div>

</div>