<footer class="app-footer">
  <span>
    <a href="https://www.nikosera.com">RMIS-FCGO</a> &copy; 2020 NIKOSERA.
  </span>
      <span class="ml-auto">
    <a>
      Technology Powered By <span>&nbsp;&nbsp;</span>NIKOSERA</a>
    </span>
</footer>
