<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-6">
            <div class="page-title-block">
              <div class="page-title">
                <span>Office Type</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="admins?.length <= 0 ;then noRecordsFound"></div>

  <div class="row" *ngIf="!cardViewEnabled  && admins?.length > 0">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Username</th>
              <th>Date registered</th>
              <th>lastLoggedIn</th>
              <th>Profile</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let admin of admins" (click)="clickViewDetailButton(admin)">
              <td>{{admin.convergentAdminDto.name ? admin.convergentAdminDto.name :'N/A' }}</td>
              <td>{{admin.username ? admin.username :'N/A' }}</td>
              <td>{{admin.convergentAdminDto.createdDate ? (admin.convergentAdminDto.createdDate | date:'dd/MM/yyyy') :
              'N/A'}}</td>
              <td>{{admin.lastLoggedInDate ? (admin.lastLoggedInDate | date:'dd/MM/yyyy') : 'N/A' }}</td>

              <td>
                <div class="profile-badge {{isActive(admin.adminProfileDto.active) ? 'active': 'inactive' }}">
                  <span class="admin.statusDto.icon">{{admin.adminProfileDto ? (admin.adminProfileDto.name ?
                  admin.adminProfileDto.name
                  : 'N/A') : 'N/A'}}</span>
                </div>
              </td>

              <td>
                <span
                  class="admin.statusDto.icon status-badge {{isActive(admin.active) ? 'active': 'inactive' }}">{{isActive(admin.statusDto.name)
                ? 'ACTIVE' : 'INACTIVE'}}</span>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="cardViewEnabled">
    <div class="col-md-4" *ngFor="let admin of admins" (click)="clickViewDetailButton(admin)">
      <div class="card user-card">
        <div class="card-body">
          <div class="card-image-wrapper">
            <div class="card-image">
              <img *ngIf="!admin.convergentAdminDto.profilePhotoUrl" src="assets/img/default-profile.jpg" alt="" />
              <img *ngIf="admin.convergentAdminDto.profilePhotoUrl" src="{{admin.convergentAdminDto.profilePhotoUrl}}"
                alt="" />
            </div>
            <div class="status-dot-wrapper">
              <span *ngIf="admin.isLoggedIn" class="status-dot active" tooltip="Online"></span>
              <span *ngIf="!admin.isLoggedIn" class="status-dot" tooltip="Offline"></span>
            </div>
          </div>
          <div class="card-primary-details">
            <div class="card-name">
              <span>{{admin.convergentAdminDto.name ? admin.convergentAdminDto.name :'N/A' }}</span>
            </div>
            <div class="card-subname">
              <span>{{admin.username? '('+ admin.username +')':'N/A' }}</span>
            </div>

            <div class="{{isActive(admin.adminProfileDto.statusDto.name) ? 'active': 'inactive' }}">
              <span class="admin.statusDto.icon">{{admin.adminProfileDto ? (admin.adminProfileDto.name ?
                admin.adminProfileDto.name
                : 'N/A') : 'N/A'}}</span>
            </div>

            <div class="profile-badge {{isActive(admin.statusDto.name) ? 'active': 'inactive' }}">
              <span class="admin.statusDto.icon">{{isActive(admin.active) ? 'ACTIVE' : 'INACTIVE'}}</span>
            </div>

          </div>
          <div class="card-secondary-details m-0">
            <ul>
              <li>
                <i class="cai cai-check-circle" tooltip="Created Date"></i>
                <span>{{admin.convergentAdminDto.createdDate ? (admin.convergentAdminDto.createdDate |
                  date:'dd/MM/yyyy')
                  : 'N/A'}}
                </span>
              </li>
              <li>
                <i class="cai cai-logout" tooltip="Last Logged In"></i>
                <span>{{admin.lastLoggedInDate ? (admin.lastLoggedInDate | date:'dd/MM/yyyy') : 'N/A' }}</span>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #noRecordsFound>
  <app-no-records-found></app-no-records-found>
</ng-template>