<footer>

  <div class="footer-menu">
    <ul>
      <li>
        <button type="button" class="btn" (click)="logout()">
          <i class="cai cai-logout"></i>
          <span>Logout</span>
        </button>
      </li>
    </ul>
  </div>

   <div class="user-profile">
    <button type="button" name="button" class="nav-item user-profile-button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
      aria-expanded="false" routerLink="/adminDetail">
      <div class="profile-image">
        <img *ngIf="adminDetailAppSidebar?.imageURL" src={{adminDetailAppSidebar.imageURL}} alt="Admin Image" class="animated fadeIn">
        <img *ngIf="!adminDetailAppSidebar?.imageURL" src="assets/img/default-profile.jpg" alt="Admin Default Image" class="animated fadeIn">
      </div>
      <div class="profile-text">

        <div class="user-profile-name">
          <span>{{adminDetailAppSidebar?.name}}</span>
        </div>
      </div>
    </button>
  </div>
</footer>
