<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-6">
            <div class="back-button-block">
              <button type="button" (click)="goBack()" class="btn btn-icon-only casba-bck-btn">
                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
              </button>
            </div>
            <div class="page-title-block">
              <div class="page-title">
                <span>Manage User Group</span>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- For Search -->
  <div class="card con__search__wrapper">
    <div class="card-body">
      <form #searchForm="ngForm">
        <div class="row">

          <ng-container *ngFor="let filter of filterParam; let i = index">
            <ng-container *ngIf="!filter.hidden">
              <div class="col-3">
                <div class="form-group">
                  <label>{{filter.alias ? filter.alias : filter.key}}</label>
                  <div class="input-group">
                    <input type={{filter.inputType}} name={{filter.key}} class="form-control" [(ngModel)]='filter.value'
                      *ngIf=filter.inputType>
                    <input name={{filter.key}} class="form-control" [(ngModel)]='filter.value' *ngIf=!filter.inputType>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>

        </div>

        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-primary" *ngIf="!searchButtonpressed"
              (click)="searchUserGroupOnUserInput()">
              <i class="cai cai-search" aria-hidden="true"></i>Search
            </button>

            <button type="button" class="btn btn-primary" *ngIf="searchButtonpressed" [disabled]="true">
              <i class="cai cai-search" aria-hidden="true"></i>Please wait
            </button>
            <button type="button" class="btn btn-primary" (click)="resetSearch()">
              <i _ngcontent-c1="" class="cai cai-reset"></i>Reset
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="userGroupForManage?.length <= 0 ;then noRecordsFound"></div>

  <div class="row " *ngIf="!cardViewEnabled && userGroupForManage?.length > 0">
    <div class="col-md-12">
      <div class="table-responsive">
        <table class="table admin-card-table ">
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Profile</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let userGroup of userGroupForManage " (click)="clickViewDetailButton(userGroup) "
              clickStopPropagation>
              <td>{{userGroup.name ? userGroup.name :'N/A' }}</td>
              <td>
                <span
                  class="admin.statusDto.icon status-badge {{isActive(userGroup.visibility) ? 'active': 'inactive' }}">
                  {{isActive(userGroup.visibility) ? 'Active': 'InActive' }}
                </span>
              </td>
              <td>{{userGroup.userProfile.name ? userGroup.userProfile.name :'N/A' }}</td>

              <td>
                <div class="action-button">
                  <button type="button" *ngIf="getChildRole('Edit User Group')" class="btn btn-icon-only"
                    (click)="clickEditUserGroup(userGroup)" [tooltip]="getChildRole('Edit User Group').description"
                    clickStopPropagation>
                    <i [class]="getChildRole('Edit User Group').icon"></i>
                  </button>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>


  <pagination [hidden]="userGroupForManage?.length < 1 || totalItems <= size" [boundaryLinks]="true"
    [totalItems]="totalItems" [rotate]="true" (pageChanged)="getAllUserGroupForSearch($event)" [itemsPerPage]="size"
    [maxSize]="5" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>

  <div class="row" *ngIf="cardViewEnabled ">
    <div class="col-md-4" *ngFor="let userGroup of userGroupForManage " (click)="clickViewDetailButton(userGroup) "
      clickStopPropagation>
      <div class="card user-card ">

        <div class="card-body ">
          <div class="card-primary-details ">
            <div class="card-name ">
              <span>{{userGroup.name ? userGroup.name :'N/A' }}</span>
            </div>
            <div class="card-subname">
              <span>{{userGroup.visibility ? '('+userGroup.visibility+')' :'N/A' }}</span>
            </div>
            <div class="card-subname">
              <span>{{userGroup.profileId ? '('+userGroup.profileId+')' :'N/A' }}</span>
            </div>


            <div class="card-action">

              <button type="button" *ngIf="getChildRole('Edit User Group')" class="btn btn-icon-only"
                (click)="clickEditUserGroup(userGroup)" [tooltip]="getChildRole('Edit User Group').description"
                clickStopPropagation>
                <i [class]="getChildRole('Edit User Group').icon"></i>
              </button>

            </div>

          </div>
        </div>
      </div>
    </div>

  </div>

  <ng-template #noRecordsFound>
    <app-no-records-found></app-no-records-found>
  </ng-template>