<div class="animated fadeIn">
  <div class="back-button-block">
    <button type="button" (click)="goBack()" class="btn btn-icon-only casba-bck-btn">
      <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
    </button>
  </div>
  <div class="row">
    <div class="col-md-12 fusioncharts-container">
      <div>
        <ngx-loading [show]="!loadingReport" [config]="{ backdropBorderRadius: '14px' }">
        </ngx-loading>

        <div class="col-md-11 card-action-buttons-right card-buttons">

          <ul>

            <li>
              <button type="button" class="btn btn-link">
                <i class="cai-report"></i>
                <span> Total: {{totalCount | number : '1.0-2'}}</span>
              </button>
            </li>

          </ul>

        </div>


        <fusioncharts id='chart-container1'></fusioncharts>
      </div>
    </div>
  </div>
</div>
