<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="back-button-block">
              <button type="button" (click)="goBack()" class="btn btn-icon-only casba-bck-btn">
                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
              </button>
            </div>
            <div class="page-title-block">
              <div class="page-title">
                <span>Source</span>
              </div>
              <div class="page-subtitle"></div>
              <span>Manage Source</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- For Search -->
  <div class="card con__search__wrapper">
    <div class="card-body">
      <form #searchForm="ngForm">
        <div class="row">

          <ng-container *ngFor="let filter of filterParam; let i = index">
            <ng-container *ngIf="!filter.hidden">
              <div class="col-3">
                <div class="form-group">
                  <label>{{filter.alias ? filter.alias : filter.key}}</label>
                  <div class="input-group">
                    <input type={{filter.inputType}} name={{filter.key}} class="form-control" [(ngModel)]='filter.value'
                      *ngIf=filter.inputType>
                    <input name={{filter.key}} class="form-control" [(ngModel)]='filter.value' *ngIf=!filter.inputType>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>

        </div>

        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-primary" *ngIf="!searchButtonpressed"
              (click)="searchSourceOnUserInput()">
              <i class="cai cai-search" aria-hidden="true"></i>Search
            </button>

            <button type="button" class="btn btn-primary" *ngIf="searchButtonpressed" [disabled]="true">
              <i class="cai cai-search" aria-hidden="true"></i>Please wait
            </button>
            <button type="button" class="btn btn-primary" (click)="resetSearch()">
              <i _ngcontent-c1="" class="cai cai-reset"></i>Reset
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive" *ngIf="sources?.length > 0">
        <table class="table admin-card-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Unicode Name</th>
              <th>Code</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let source of sources">
              <td>{{source.name ? source.name :'N/A' }}</td>
              <td>{{source.unicodeName ? source.unicodeName : 'N/A'}}</td>
              <td>{{source.code? source.code : 'N/A'}}</td>
              <td>
                <span class="admin.statusDto.icon status-badge {{isActive(source.status) ? 'active': 'inactive' }}">
                  {{isActive(source.status) ? 'Active': 'InActive' }}
                </span>
              </td>
              <td>
                <div class="action-button">
                  <button type="button" *ngIf="getChildRole('Edit Source')" class="btn btn-icon-only"
                    (click)="clickedEditSource(source)" [tooltip]="getChildRole('Edit Source').description"
                    clickStopPropagation>
                    <i [class]="getChildRole('Edit Source').icon"></i>
                  </button>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <pagination [hidden]="sources?.length < 1 || totalItems <= size" [boundaryLinks]="true" [totalItems]="totalItems"
    [rotate]="true" (pageChanged)="getAllSourceForSearch($event)" [itemsPerPage]="size" [maxSize]="5"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>

  <ng-template #noRecordsFound>
    <app-no-records-found></app-no-records-found>
  </ng-template>