<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="back-button-block">
              <button type="button" (click)="back()" class="btn btn-icon-only casba-bck-btn">
                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
              </button>
            </div>
            <div class="page-title-block">
              <div class="page-title">
                <span>Edit Currency</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form #editCurrencyForm="ngForm" class="form-horizontal" (submit)="submitEditCurrency()" novalidate>
            <div class="row">

              <div class="col-md-4">
                <div class="form-group">
                  <label for="text-input">Name<span class="required__signal">*</span></label>
                  <div class="input-group">
                    <input type="text" id="name" name="name" class="form-control" [(ngModel)]="editCurrency.name"
                      #name="ngModel" required minlength="3" maxlength="55" appServerError>
                    <div [hidden]="!name.errors?.required || name.untouched || name.errors['server']"
                      class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Name is required"></i>
                    </div>
                    <div *ngIf="!name.errors?.required">
                      <div [hidden]="!name.errors?.minlength" class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                          tooltip="Length must be between 3 to 55"></i>
                      </div>
                    </div>
                    <div [hidden]="name.errors ? (!name.errors['server']) : true" class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="{{serverErrorMessages['name']}}"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="text-input">Code<span class="required__signal">*</span></label>
                  <div class="input-group">
                    <input type="text" id="code" name="code" class="form-control"
                      [(ngModel)]="editCurrency.code" #code="ngModel" required minlength="3"
                      maxlength="55" appServerError readonly>
                  </div>
                </div>
              </div>
            </div>


            <div class="admin-card-footer">
              <button *ngIf="!buttonPressed" type="submit" class="btn btn-gap btn-primary"
                [disabled]="editCurrencyForm.invalid || !editCurrencyForm.dirty || buttonPressed">Modify
              </button>
              <button *ngIf="!buttonPressed" type="button" class="btn btn-gap default" (click)="back()">Cancel</button>
              <button *ngIf="buttonPressed" class="btn btn-primary" [disabled]="true">Processing</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>