<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="back-button-block">
              <button type="button" (click)="back()" class="btn btn-icon-only casba-bck-btn">
                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
              </button>
            </div>
            <div class="page-title-block">
              <div class="page-title">
                <span>Create Source</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div class="card">
        <div class="card-body">
          <form #createSourceForm="ngForm" class="form-horizontal" (submit)="create()" (reset)="resetForm()">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="name">Name<span class="required__signal">*</span></label>
                  <div class="input-group">
                    <input type="text" id="name" name="name" minlength="3" maxlength="55" class="form-control"
                      placeholder="Enter name" [(ngModel)]="source.name" #name="ngModel" required appServerError>
                    <div [hidden]="!name.errors?.required || name.untouched || name.errors['server']"
                      class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Name is required"></i>
                    </div>
                    <div *ngIf="!name.errors?.required">
                      <div [hidden]="!name.errors?.minlength" class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                          tooltip="Length must be between 3 to 55"></i>
                      </div>
                    </div>
                    <div [hidden]="name.errors ? (!name.errors['server']) : true" class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="{{serverErrorMessages['name']}}"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="unicodeName">Unicode Name<span class="required__signal">*</span></label>
                  <div class="input-group">
                    <input type="text" id="unicodeName" name="unicodeName" minlength="3" maxlength="55"
                      class="form-control" placeholder="Enter Unicode name" [(ngModel)]="source.unicodeName"
                      #unicodeName="ngModel" required appServerError>
                    <div
                      [hidden]="!unicodeName.errors?.required || unicodeName.untouched || unicodeName.errors['server']"
                      class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="Unicode Name is required"></i>
                    </div>
                    <div *ngIf="!unicodeName.errors?.required">
                      <div [hidden]="!unicodeName.errors?.minlength" class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                          tooltip="Length must be between 3 to 55"></i>
                      </div>
                    </div>
                    <div [hidden]="unicodeName.errors ? (!unicodeName.errors['server']) : true" class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="{{serverErrorMessages['unicodeName']}}"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="code">Code<span class="required__signal">*</span></label>
                  <div class="input-group">
                    <input type="text" id="code" name="code" minlength="3" maxlength="55" class="form-control"
                      placeholder="Enter Code" [(ngModel)]="source.code" #code="ngModel" required appServerError>
                    <div [hidden]="!code.errors?.required || code.untouched || code.errors['server']"
                      class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Code is required"></i>
                    </div>
                    <div *ngIf="!code.errors?.required">
                      <div [hidden]="!code.errors?.minlength" class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                          tooltip="Length must be between 3 to 55"></i>
                      </div>
                    </div>
                    <div [hidden]="code.errors ? (!code.errors['server']) : true" class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="{{serverErrorMessages['code']}}"></i>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-12">
                <div class="admin-card-footer">
                  <button *ngIf="!buttonPressed" type="submit" class="btn btn-gap btn-primary" disabled="disabled"
                    [disabled]="createSourceForm.invalid || buttonPressed">
                    Submit
                  </button>
                  <button *ngIf="!buttonPressed" type="reset" class="btn btn-gap btn-default">Reset</button>
                  <button *ngIf="buttonPressed" class="btn btn-default" [disabled]="true">Processing</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>



    </div>
  </div>
</div>