<div class="app login-app">
  <div class="row">
    <div class="col-md-5 login-left-side">
      <div class="brand-login justify-content-center">
        <img src="assets/img/brand-light.svg" onerror="this.onerror=null; this.src='assets/img/brand-light.png'">
      </div>
      <div class="background-scroll"></div>
    </div>
    <div class="col-md-7 login-right-side">

      <div class="login-card">
        <div class="card-body login-card-body">
          <p class="login-box-header">Administrator setup</p>

          <form [formGroup]="enableAuthenticationForm" (submit)="enableTwoFactorAuth()" name="enableAuthenticationForm"
            novalidate>
            <p align="justify">Please scan the QR with Google Autheticator Application and enter the code below to
              enable
              Two-Factor Authentication.
              <br>
              <br>
              <i><b>Note: </b> If you do not have Google Authenticator App, then Please download it from App/Play
                store.</i></p>
            <p class="text-muted" *ngIf="loginRequest != undefined">
              Username: {{loginRequest.userName}}
            </p>

            <div class="input-group mb-3" *ngIf="backendLoginResponse != undefined">
              <div class="input-prepend input-group">
                <div class="input-group-prepend  text-center">
                  <span class="input-group-text">
                    <ngx-qrcode [qrc-value]="backendLoginResponse.qrFormatedValue">
                    </ngx-qrcode>
                  </span>
                </div>
              </div>
            </div>


            <div class="form-group login-form-group">
              <label for="otpCode">
                <i class="cai cai-unlock"></i>
                <span>OTP Code </span>
              </label>
              <input formControlName="otpCode" id="otpCode" name="otpCode" type="number"
                class="form-control login-input" maxlength="6" minlength="6" autocomplete="none"
                oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">
              <app-show-validation-error [control]="enableAuthenticationForm.controls.otpCode">
              </app-show-validation-error>
            </div>

            <div class="form-group login-form-group">
              <button *ngIf="!buttonPressed" type="submit" class="btn btn-primary btn-block"
                [disabled]="enableAuthenticationForm.invalid || buttonPressed">Proceed
                in</button>
              <button *ngIf="buttonPressed" type="button" class="btn btn-primary btn-block"
                [disabled]="true">Processing</button>
              <button type="submit" (click)="cancel()" class="btn btn-default btn-block" type="button"
                immediate="true">Cancel</button>
            </div>
          </form>
          <div class="copyright text-center">
            <a>Technology Powered By
              <span>&nbsp;
               &nbsp;</span>NIKOSERA</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
