<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="back-button-block">
              <button type="button" (click)="goBack()" class="btn btn-icon-only casba-bck-btn">
                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
              </button>
            </div>
            <div class="page-title-block">
              <div class="page-title">
                <span>Manage Office Type</span>
              </div>
              <div class="page-subtitle"></div>
              <span>Manage office Type</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- For Search -->
  <div class="card con__search__wrapper">
    <div class="card-body">
      <form #searchForm="ngForm">
        <div class="row">

          <ng-container *ngFor="let filter of filterParam; let i = index">
            <ng-container *ngIf="!filter.hidden">
              <div class="col-3">
                <div class="form-group">
                  <label>{{filter.alias ? filter.alias : filter.key}}</label>
                  <div class="input-group">
                    <input type={{filter.inputType}} name={{filter.key}} class="form-control" [(ngModel)]='filter.value'
                      *ngIf=filter.inputType>
                    <input name={{filter.key}} class="form-control" [(ngModel)]='filter.value' *ngIf=!filter.inputType>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>

        </div>

        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-primary" *ngIf="!searchButtonpressed"
              (click)="searchOfficeTypeOnUserInput()">
              <i class="cai cai-search" aria-hidden="true"></i>Search
            </button>

            <button type="button" class="btn btn-primary" *ngIf="searchButtonpressed" [disabled]="true">
              <i class="cai cai-search" aria-hidden="true"></i>Please wait
            </button>
            <button type="button" class="btn btn-primary" (click)="resetSearch()">
              <i _ngcontent-c1="" class="cai cai-reset"></i>Reset
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive" *ngIf="officeTypes?.length > 0">
        <table class="table admin-card-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Unicode Name</th>
              <th>Created Date</th>
              <th>Modified Date</th>
              <th>Created By</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let officeType of officeTypes" (click)="clickViewDetailButton(officeType)" clickStopPropagation>
              <td>{{officeType.name ? officeType.name :'N/A' }}</td>
              <td>{{officeType.unicodeName ? officeType.unicodeName : 'N/A'}}</td>
              <td>{{officeType.createdDate ? (officeType.createdDate | date:'dd/MM/yyyy') : 'N/A'}}</td>
              <td>{{officeType.modifiedDate ? (officeType.modifiedDate | date:'dd/MM/yyyy') : 'N/A'}}</td>
              <td>{{officeType.createdBy ? officeType.createdBy: 'N/A'}}</td>
              <td>
                <span
                  class="admin.statusDto.icon status-badge {{isActive(officeType.active) ? 'active': 'inactive' }}">
                  {{isActive(officeType.active) ? 'Active': 'Blocked' }}
                </span>
              </td>
              <td>
                <div class="action-button">
                  <button type="button" *ngIf="getChildRole('Edit Office Type')" class="btn btn-icon-only"
                    (click)="clickedEditOfficeType(officeType)" [tooltip]="getChildRole('Edit Office Type').description"
                    clickStopPropagation>
                    <i [class]="getChildRole('Edit Office Type').icon"></i>
                  </button>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <pagination [hidden]="officeTypes?.length < 1 || totalItems <= size" [boundaryLinks]="true" [totalItems]="totalItems"
    [rotate]="true" (pageChanged)="getAllOfficeTypeForSearch($event)" [itemsPerPage]="size" [maxSize]="5"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>

  <ng-template #noRecordsFound>
    <app-no-records-found></app-no-records-found>
  </ng-template>