<!--<div class="app flex-row align-items-center casba-textbox-tooltip login-app">-->
<div class="app login-app">
    <!-- <div class=""> -->
        <!-- <div class="col-md-5 login-left-side">
            <div class="brand-login justify-content-center">
                 <img src="assets/img/brand-light.svg" onerror="this.onerror=null; this.src='assets/img/brand-light.png'"> 
            </div>
            <div class="background-scroll"></div>
        </div> -->
        <div class="login-right-side">

            <div class="login-card">
                <div class="card-body login-card-body">
                    <p class="login-box-header">Admin Panel</p>

                    <form [formGroup]="loginForm"
                        (submit)="login()"
                        name="loginForm"
                        novalidate>

                        <div *ngIf="capsOn"
                            class="alert">
                            <i class="mdi mdi-alert validation-icon"></i>
                            Caps is on !!
                        </div>

                        <div class="form-group login-form-group"
                            (capsLock)="capsOn=$event">

                            <label for="office">
                                <i class="mdi mdi-home-outline"></i>
                                <span>Office</span>
                            </label>
                            <div class="input-group select">
                                <select formControlName="office"
                                    id="office"
                                    name="Office"
                                    type="text"
                                    placeholder="Select an office"
                                    class="form-control login-input">

                                    <option value="" disabled>Select an Office</option>
                                    <option [value]="office.id" *ngFor="let office of officeService.offices | async">
                                        {{ office.name }}
                                    </option>
                                </select>
                                <span>
                                    <i class="mdi mdi-chevron-down"></i>
                                </span>
                            </div>
                            <app-show-validation-error [control]="loginForm.controls.office">
                            </app-show-validation-error>
                        </div>

                        <div class="form-group login-form-group">

                            <label for="username">
                                <i class="mdi mdi-account-outline"></i>
                                <span>User Name</span>
                            </label>
                            <div class="input-group">
                                <input formControlName="userName"
                                    id="userName"
                                    name="userName"
                                    type="text"
                                    placeholder="Enter your username"
                                    class="form-control login-input">
                                <app-show-validation-error [control]="loginForm.controls.userName">
                                </app-show-validation-error>
                            </div>
                        </div>

                        <div class="form-group login-form-group">
                            <label for="password">
                                <i class="mdi mdi-lock-open-outline"></i>
                                <span>Password</span>
                            </label>
                            <div class="input-group">
                                <input formControlName="password"
                                    id="password"
                                    name="password"
                                    type="password"
                                    placeholder="Enter your password"
                                    class="form-control login-input">
                                <app-show-validation-error [control]="loginForm.controls.password">
                                </app-show-validation-error>
                            </div>
                        </div>

                        <!-- <div class="form-group login-form-group">
                <label for="otpCode">
                  <i class="cai cai-unlock"></i>
                  <span>OTP Code (If Two Factor Auth is enabled)</span>
                </label>
                <input formControlName="otpCode" id="otpCode" name="otpCode" type="number" class="form-control login-input">
                <app-show-validation-error [control]="loginForm.controls.otpCode"></app-show-validation-error>
              </div> -->

                        <!-- <div [hidden]=!isRecaptchaRequired>
              <re-captcha formControlName="recaptcha" siteKey="{{siteKey}}"></re-captcha>
            </div> -->

                        <div class="form-group login-form-group">
                            <button *ngIf="!buttonPressed"
                                type="submit"
                                class="btn btn-primary btn-block"
                                [disabled]="loginForm.invalid || buttonPressed">Sign
                                in</button>
                            <button *ngIf="buttonPressed"
                                class="btn btn-primary btn-block"
                                [disabled]="true">Processing</button>
                        </div>
                        <!-- <div class="form-group login-form-group">
                    <button type="button" class="forget-password">Forgot password?</button>
                  </div> -->
                    </form>


                    <div class="copyright text-center">
                      
                    </div>
                </div>
            </div>

        </div>

    <!-- </div> -->

</div>