<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="back-button-block">
              <button type="button" (click)="goBack()" class="btn btn-icon-only casba-bck-btn">
                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
              </button>
            </div>
            <div class="page-title-block">
              <div class="page-title">
                <span>Manage Donor</span>
              </div>
              <div class="page-subtitle"></div>
              <span>Manage Donor</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="table-responsive" *ngIf="donors?.length > 0">
        <table class="table admin-card-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Unicode Name</th>
              <th>Code</th>
              <th>Type</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let donor of donors" (click)="clickViewDetailButton(donor)" clickStopPropagation>
              <td>{{donor.name ? donor.name :'N/A' }}</td>
              <td>{{donor.unicodeName ? donor.unicodeName : 'N/A'}}</td>
              <td>{{donor.code ? donor.code : 'N/A'}}</td>
              <td>{{donor.type ? donor.type : 'N/A'}}</td>
              <td>
                  <span class="admin.statusDto.icon status-badge {{isActive(donor.status) ? 'active': 'inactive' }}">
                    {{isActive(donor.status) ? 'Active': 'InActive' }}
                  </span>
                </td>
              <td>
                <div class="action-button">
                  <button type="button" *ngIf="getChildRole('Edit Donor')" class="btn btn-icon-only"
                    (click)="clickedEditDonor(donor)" [tooltip]="getChildRole('Edit Donor').description"
                    clickStopPropagation>
                    <i [class]="getChildRole('Edit Donor').icon"></i>
                  </button>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>

  <ng-template #noRecordsFound>
    <app-no-records-found></app-no-records-found>
  </ng-template>