<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="back-button-block">
              <button type="button" (click)="back()" class="btn btn-icon-only casba-bck-btn">
                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
              </button>
            </div>
            <div class="page-title-block">
              <div class="page-title">
                <span>Create Admin Profile</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">

      <div class="card">
        <div class="card-body">
        <form #createAdminProfileForm="ngForm" class="form-horizontal" (submit)="submitCreateAdminProfile()" (reset)="resetForm()">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="name">Name<span class="required__signal">*</span></label>
                <div class="input-group">
                  <input type="text" id="name" name="name" minlength="3" maxlength="55" class="form-control" placeholder="Enter name" [(ngModel)]="createAdminProfile.name"
                    #name="ngModel" required appServerError>
                  <div [hidden]="!name.errors?.required || name.untouched || name.errors['server']" class="form-validation">
                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Name is required"></i>
                  </div>
                  <div *ngIf="!name.errors?.required">
                    <div [hidden]="!name.errors?.minlength" class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Length must be between 3 to 55"></i>
                    </div>
                  </div>
                  <div [hidden]="name.errors ? (!name.errors['server']) : true" class="form-validation">
                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="{{serverErrorMessages['name']}}"></i>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="description">Description<span class="required__signal">*</span></label>
                <div class="input-group">
                  <textarea type="text" id="description" name="description" rows="6" maxlength="55" class="form-control" placeholder="Enter description" [(ngModel)]="createAdminProfile.description"
                    #description="ngModel" required appServerError></textarea>
                  <div [hidden]="description.valid || description.untouched || description.errors['server']" class="form-validation">
                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Description is required"></i>
                  </div>
                  <div [hidden]="description.errors ? (!description.errors['server']) : true" class="form-validation">
                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="{{serverErrorMessages['description']}}"></i>
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group col-xl-12 ">
              <label for="rolesTreeView">Roles<span class="required__signal">*</span></label>
              <ngx-treeview name="rolesTreeView" [config]="treeViewConfig" [items]="treeViewRoles" (selectedChange)="addRoleOnTreeViewSelectChange($event)">
              </ngx-treeview>
            </div>

            <div class="col-md-12">
              <div class="admin-card-footer">
                <button *ngIf="!buttonPressed" type="submit" class="btn btn-gap btn-primary" disabled="disabled" [disabled]="createAdminProfileForm.invalid || !isAnyRoleChecked || buttonPressed">
                  Submit
                </button>
                <button *ngIf="!buttonPressed" type="reset" class="btn btn-gap btn-default">Reset</button>
                <button *ngIf="buttonPressed" class="btn btn-default" [disabled]="true">Processing</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      </div>



    </div>
  </div>
</div>
