<div class="animated fadeIn">
    <div class="page-title-wrapper">
        <div class="back-button-block">
            <button type="button" (click)="back()" class="btn btn-icon-only casba-bck-btn">
                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
            </button>
        </div>
        <div class="page-title-block">
            <div class="page-title">
                <span>Create Admin</span>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <form #createAdminForm="ngForm" class="form-horizontal" (submit)="create(createAdminForm)" novalidate>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="name">Full Name<span class="required__signal">*</span></label>
                            <div class="input-group">
                                <input type="text" id="name" name="name" class="form-control" [(ngModel)]="admin.name"
                                    #name="ngModel" required minlength="3" maxlength="55" appServerError>
                                <div [hidden]="!name.errors?.required || name.untouched || name.errors['server']"
                                    class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                        tooltip="Name is required"></i>
                                </div>
                                <div *ngIf="!name.errors?.required">
                                    <div [hidden]="!name.errors?.minlength" class="form-validation">
                                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                            tooltip="Length must be between 3 to 55"></i>
                                    </div>
                                </div>
                                <div [hidden]="name.errors ? (!name.errors['server']) : true" class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                        tooltip="{{serverErrorMessages['name']}}"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="email">Email<span class="required__signal">*</span></label>
                            <div class="input-group">
                                <input type="text" id="email" name="email" email class="form-control"
                                    [(ngModel)]="admin.email" #email="ngModel" required minlength="6" maxlength="100"
                                    appServerError>
                                <div *ngIf="email.errors ? !email.errors['server']: true">
                                    <div [hidden]="!email.errors?.required || email.untouched || email.errors['server']"
                                        class="form-validation">
                                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                            tooltip="Email is required"></i>
                                    </div>
                                    <div *ngIf="!email.errors?.required">
                                        <div [hidden]="!email.errors?.email || email.untouched || email.errors['server']"
                                            class="form-validation">
                                            <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                                tooltip="Enter valid email"></i>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!email.errors?.required && !email.errors?.email">
                                    <div [hidden]="!email.errors?.minlength" class="form-validation">
                                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                            tooltip="Length must be between 6 to 100"></i>
                                    </div>
                                </div>
                                <div [hidden]="email.errors ? (!email.errors['server']) : true" class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                        tooltip="{{serverErrorMessages['email']}}"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="contact">Contact Number</label>
                            <div class="input-group">
                                <input type="text" id="contact" name="contact" class="form-control"
                                    [(ngModel)]="admin.contactNumber" pattern="[0-9]{7,10}" #contact="ngModel" required
                                    minlength="7" maxlength="10" appServerError>
                                <div *ngIf="contact.errors ? (!contact.errors['server']) : true">
                                    <div [hidden]="!contact.errors?.required || contact.untouched || contact.errors['server']"
                                        class="form-validation">
                                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                            tooltip="Contact Number is required"></i>
                                    </div>
                                    <div *ngIf="!contact.errors?.required">
                                        <div [hidden]="!contact.errors?.pattern || contact.untouched || contact.errors['server']"
                                            class="form-validation">
                                            <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                                tooltip="Invalid contact number"></i>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="!contact.errors?.required && !contact.errors?.pattern">
                                    <div [hidden]="!contact.errors?.minlength" class="form-validation">
                                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                            tooltip="Length must be between 7 to 10"></i>
                                    </div>
                                </div>
                                <div [hidden]="contact.errors ? (!contact.errors['server']): true"
                                    class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                        tooltip="{{serverErrorMessages['contact']}}"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="username">Username<span class="required__signal">*</span></label>
                            <div class="input-group">
                                <input type="text" id="username" name="username" class="form-control"
                                    [(ngModel)]="admin.username" #username="ngModel" required minlength="3"
                                    maxlength="55" appServerError>
                                <div [hidden]="username.valid || username.untouched || username.errors['server']"
                                    class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                        tooltip="Username is required"></i>
                                </div>
                                <div *ngIf="!username.errors?.required">
                                    <div [hidden]="!username.errors?.minlength" class="form-validation">
                                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                            tooltip="Length must be between 3 to 55"></i>
                                    </div>
                                </div>
                                <div [hidden]="username.errors ? (!username.errors['server']) : true"
                                    class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                        tooltip="{{serverErrorMessages['username']}}"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="password">Password<span class="required__signal">*</span></label>
                            <div class="input-group">
                                <input type="password" id="password" name="password" class="form-control"
                                    [(ngModel)]="admin.password" #password="ngModel" required minlength="4"
                                    maxlength="20" appServerError validateEqual="confirmPassword" reverse="true">
                                <div [hidden]="password.valid || password.untouched || password.errors['server']"
                                    class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                        tooltip="Password is required"></i>
                                </div>
                                <div *ngIf="!password.errors?.required">
                                    <div [hidden]="!password.errors?.minlength " class="form-validation">
                                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                            tooltip="Length must be between 4 to 20"></i>
                                    </div>
                                </div>
                                <div [hidden]="password.errors ? (!password.errors['server']) : true "
                                    class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                        tooltip="{{serverErrorMessages['password']}}"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="confirmpassword">Confirm Password<span class="required__signal">*</span></label>
                            <div class="input-group">
                                <input type="password" id="confirmpassword" name="confirmpassword" class="form-control"
                                    [(ngModel)]="admin.confirmpassword" #confirmPassword="ngModel" required
                                    minlength="4" maxlength="20" appServerError required validateEqual="password"
                                    reverse="false">

                                <div [hidden]="!confirmPassword.errors?.required || confirmPassword.untouched"
                                    class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                        tooltip="Confirm password is required" container="body"></i>
                                </div>

                                <div [hidden]="confirmPassword.valid || confirmPassword.pristine"
                                    class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                        tooltip="Password and confirm password does not match" container="body"></i>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="serviceGroup">Service Group<span class="required__signal">*</span></label>
                            <div class="input-group select">
                                <select class="form-control" [(ngModel)]="admin.serviceGroup"
                                    [ngModelOptions]="{standalone: true}" #serviceGroup="ngModel" required
                                    appServerError>
                                    <option value="" disabled>Select Service Group</option>
                                    <option [value]="grp.value" *ngFor="let grp of serviceGroups">
                                        {{ grp.name }}
                                    </option>
                                </select>
                                <span>
                                    <i class="mdi mdi-chevron-down"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="superUser">Is Super User<span class="required__signal">*</span></label>
                            <div class="input-group select">
                                <select class="form-control" [(ngModel)]="admin.isSuper" name="superUser"
                                    #superUser="ngModel" required appServerError>
                                    <option value="" disabled>Select User Type</option>
                                    <option [value]="user.value" *ngFor="let user of userTypes">
                                        {{ user.name }}
                                    </option>
                                </select>
                                <span>
                                    <i class="mdi mdi-chevron-down"></i>
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="address">Address</label>
                            <div class="input-group">
                                <textarea id="address" name="address" class="form-control form-control--textarea"
                                    [(ngModel)]="admin.address" #address="ngModel" required minlength="3" maxlength="55"
                                    appServerError></textarea>
                                <div [hidden]="!address.errors?.required || address.untouched || address.errors['server']"
                                    class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                        tooltip="Address is required"></i>
                                </div>
                                <div *ngIf="!address.errors?.required">
                                    <div [hidden]="!address.errors?.minlength" class="form-validation">
                                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                            tooltip="Length must be between 3 to 55"></i>
                                    </div>
                                </div>
                                <div [hidden]="address.errors ? (!address.errors['server']) : true"
                                    class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                        tooltip="{{serverErrorMessages['address']}}"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-block-seperator"></div>

                <div class="section-block">
                    <div class="section-header">
                        <span class="section-heading">Offices and User Groups</span>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Office<span class="required__signal">*</span></label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>User Group<span class="required__signal">*</span></label>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngFor="let list of admin.officeUserGroupList; let i = index;">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group--compact">
                                    <div class="input-group select">
                                        <select class="form-control" [(ngModel)]="list.officeId" name="officeId"
                                            #office="ngModel" required appServerError>
                                            <option value="" disabled>Select an Office</option>
                                            <option [value]="office.id" *ngFor="let office of offices">
                                                {{ office.name }}
                                            </option>
                                        </select>
                                        <span>
                                            <i class="mdi mdi-chevron-down"></i>
                                        </span>
                                        <div [hidden]="!office.errors?.required || office.untouched || office.errors['server']"
                                            class="form-validation">
                                            <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                                tooltip="office is required"></i>
                                        </div>
                                        <div [hidden]="office.errors ? (!office.errors['server']) : true"
                                            class="form-validation">
                                            <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                                tooltip="{{serverErrorMessages['office']}}"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group--compact">
                                    <div class="input-group select">
                                        <select class="form-control" [(ngModel)]="list.userGroupId" name="userGroupId"
                                            #userGroupId="ngModel" required appServerError>
                                            <option value="" disabled>Select a User Group</option>
                                            <option [value]="userGroup.id" *ngFor="let userGroup of userGroups">
                                                {{ userGroup.name }}
                                            </option>
                                        </select>
                                        <span>
                                            <i class="mdi mdi-chevron-down"></i>
                                        </span>
                                        <div [hidden]="!userGroupId.errors?.required || userGroupId.untouched || userGroupId.errors['server']"
                                            class="form-validation">
                                            <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                                tooltip="userGroupId is required"></i>
                                        </div>
                                        <div [hidden]="userGroupId.errors ? (!userGroupId.errors['server']) : true"
                                            class="form-validation">
                                            <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                                                tooltip="{{serverErrorMessages['userGroupId']}}"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div *ngIf="admin.officeUserGroupList.length > 1">
                                    <button type="button" class="btn btn-link" (click)="removeOffice(i)">
                                        <i class="mdi mdi-delete"></i>
                                        Remove
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="section-block-seperator form-seperator"></div>
                    </ng-container>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <button *ngIf="!buttonPressed" type="submit" class="btn btn-gap btn-primary"
                            [disabled]="createAdminForm.invalid || buttonPressed">Create</button>
                        <button *ngIf="!buttonPressed" type="button" (click)="resetForm()"
                            class="btn btn-gap default">Reset</button>
                        <button *ngIf="buttonPressed" class="btn btn-gap default" [disabled]="true">Processing</button>
                    </div>
                    <div class="col-md-6 text-right">
                        <button type="button" class="btn btn-secondary" (click)="addOffice()">
                            Add an Office
                        </button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>