<div class="animated fadeIn">
    <div class="page-title-wrapper">
        <div class="back-button-block">
            <button type="button"
                (click)="back()"
                class="btn btn-icon-only casba-bck-btn">
                <i class="mdi mdi-arrow-left"
                    aria-hidden="true"></i>
            </button>
        </div>
        <div class="page-title-block">
            <div class="page-title">
                <span>Edit Admin Profile</span>
            </div>
            <div class="page-subtitle">
                <span>Edit admin profile</span>
            </div>
        </div>
    </div>
    <div class="card">

        <div class="card-body">
            <form #editAdminProfileForm="ngForm"
                class="form-horizontal"
                (submit)="submitEditAdminProfile()">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="name">Name*</label>
                            <div class="input-group">
                                <input type="text"
                                    id="name"
                                    name="name"
                                    minlength="3"
                                    maxlength="55"
                                    class="form-control"
                                    placeholder="Enter name"
                                    [(ngModel)]="editAdminProfile.name"
                                    #name="ngModel"
                                    required
                                    appServerError>
                                <div [hidden]="!name.errors?.required || name.untouched || name.errors['server']"
                                    class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert"
                                        aria-hidden="true"
                                        tooltip="Name is required"></i>
                                </div>
                                <div *ngIf="!name.errors?.required">
                                    <div [hidden]="!name.errors?.minlength"
                                        class="form-validation">
                                        <i class="mdi mdi-alert validation-icon alert"
                                            aria-hidden="true"
                                            tooltip="Length must be between 3 to 55"></i>
                                    </div>
                                </div>
                                <div [hidden]="name.errors ? (!name.errors['server']) : true"
                                    class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert"
                                        aria-hidden="true"
                                        tooltip="{{serverErrorMessages['name']}}"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="description">Description*</label>
                            <div class="input-group">
                                <textarea type="text"
                                    id="description"
                                    name="description"
                                    rows="6"
                                    maxlength="55"
                                    class="form-control"
                                    placeholder="Enter description"
                                    [(ngModel)]="editAdminProfile.description"
                                    #description="ngModel"
                                    required
                                    appServerError></textarea>
                                <div [hidden]="description.valid || description.untouched || description.errors['server']"
                                    class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert"
                                        aria-hidden="true"
                                        tooltip="Description is required"></i>
                                </div>
                                <div [hidden]="description.errors ? (!description.errors['server']) : true"
                                    class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert"
                                        aria-hidden="true"
                                        tooltip="{{serverErrorMessages['name']}}"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label for="rolesTreeView">Roles*</label>
                    <ngx-treeview name="rolesTreeView"
                        [config]="treeViewConfig"
                        [items]="treeViewRoles"
                        (selectedChange)="addRoleOnTreeViewSelectChange($event)">
                    </ngx-treeview>
                </div>

                <div class="admin-card-footer">
                    <button *ngIf="!buttonPressed"
                        type="submit"
                        class="btn btn-gap btn-primary"
                        disabled="disabled"
                        [disabled]="editAdminProfileForm.invalid || !isAnyRoleChecked || buttonPressed">
                        Edit
                    </button>
                    <button *ngIf="!buttonPressed"
                        type="button"
                        class="btn btn-gap default"
                        (click)="back()">Cancel</button>
                    <button *ngIf="buttonPressed"
                        class="btn btn-default"
                        [disabled]="true">Processing</button>
                </div>
            </form>
        </div>

    </div>
</div>