<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="back-button-block">
              <button type="button" (click)="goBack()" class="btn btn-icon-only casba-bck-btn">
                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
              </button>
            </div>
            <div class="page-title-block">
              <div class="page-title">
                <span>Profile Details</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="">Name</label>
                <div class="form-value">
                  <span>{{adminProfile?.name ? adminProfile?.name : 'N/A'}}</span>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Description</label>
                <div class="form-value">
                  <span>{{adminProfile?.description ? adminProfile?.description : 'N/A'}}</span>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Created Date</label>
                <div class="form-value">
                  <span>{{adminProfile?.createdDate ? (adminProfile?.createdDate | date): 'N/A'}}</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Modified Date</label>
                <div class="form-value">
                  <span>{{adminProfile?.modifiedDate ? (adminProfile?.modifiedDate | date ): 'N/A'}}</span>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Status</label>
                <div class="form-value">
                  <span
                    class="admin.statusDto.icon status-badge {{isActive(adminProfile.active) ? 'active': 'inactive' }}">
                    {{isActive(adminProfile.active) ? 'active': 'in-active' }}
                  </span>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Remarks</label>
                <div class="form-value">
                  <span>{{adminProfile?.remarks ? adminProfile?.remarks : 'N/A'}}</span>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="">Created By</label>
                <div class="form-value">
                  <span>
                    {{adminProfile?.createdBy?.convergentAdminDto?.name ? adminProfile?.createdBy?.convergentAdminDto?.name : 'N/A'}}
                  </span>
                </div>
              </div>
            </div>

          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="">Roles</label>
                <div class="profile-scroll">
                  <div class="form-value" *ngFor="let profileResponse of profileResponses">
                    <div class="profile-details-roles-block" *ngIf="profileResponse.isActive">
                      <div class="row">
                        <div class="col-md-3">
                          <div class="profile-details-roles-parent">
                            <i class="cai cai-hash"></i>
                            <span
                              class="roles-management">{{profileResponse.description ? profileResponse.description : 'N/A'}}</span>
                          </div>
                        </div>
                        <div class="col-md-9">
                          <div class="row">

                            <div class="col-md-3 profile-details-roles-list"
                              *ngFor="let childRole of profileResponse.childRoles">
                              <div class="profile-details-roles-header" *ngIf="childRole.isActive">
                                <i class="cai cai-dot"></i><span
                                  class="roles-view">{{childRole.description ? childRole.description : 'N/A'}}</span>
                              </div>

                              <div class="profile-details-roles" *ngFor="let subChild of childRole.childRoles">
                                <div class="profile-details-roles-child" *ngIf="subChild.isActive">
                                  <i class="cai cai-circle"></i><span
                                    class="roles-view">{{subChild.description ? subChild.description : 'N/A'}}</span>
                                </div>

                                <div class="profile-details-roles-subchild"
                                  *ngFor="let subChild2 of subChild.childRoles">
                                  <div class="profile-details-roles" *ngIf="subChild2.isActive">
                                    <i class="cai cai-circle"></i><span
                                      class="roles-view">{{subChild2.description ? subChild2.description : 'N/A'}}</span>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
