<form #activityForm="ngForm" class="form-horizontal" (submit)="getAdminActivityLog()" novalidate>
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="form-label">From</label>
        <div class="input-group">
          <input type="text" id="fromDate" name="fromDate" class="form-control" [maxDate]="maxDate" #dpFrom="ngModel" bsDatepicker
            [(ngModel)]="dateModel.startDate" required>
          <div [hidden]="!dpFrom.errors?.required || dpFrom.untouched" class="form-validation">
            <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="From Date is required"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="form-label">To</label>
        <div class="input-group">
          <input type="text" id="toDate" name="toDate" class="form-control" [maxDate]="maxDate" #dpTo="ngModel" bsDatepicker [(ngModel)]="dateModel.endDate"
            required>
          <div [hidden]="!dpTo.errors?.required || dpTo.untouched" class="form-validation">
            <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="To Date is required"></i>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="form-label">&nbsp;</label>
        <div class="input-group">
          <button type="submit" class="btn btn-primary" [disabled]="activityForm.invalid || !activityForm.dirty || buttonPressed">
            <span>Search</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="table-responsive no-padding">
  <table class="table table-minimal-border">
    <thead>
      <tr>
        <th>Device</th>
        <th>Version</th>
        <th>IP Address</th>
        <th>Date</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let activityLog of activityLogList">
        <td>{{activityLog.device ? activityLog.device :'N/A' }}</td>
        <td>{{activityLog.version ? (activityLog.version) : 'N/A'}}</td>
        <td>{{activityLog.ipAddress ? (activityLog.ipAddress) : 'N/A'}}</td>
        <td>{{activityLog.recordedDate ? (activityLog.recordedDate | date:'dd/MM/yyyy') : 'N/A' }}</td>
        <td>{{activityLog.description ? (activityLog.description? activityLog.description : 'N/A') : 'N/A'}}</td>
      </tr>
    </tbody>
  </table>
</div>
