<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="back-button-block">
              <button type="button" (click)="back()" class="btn btn-icon-only casba-bck-btn">
                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
              </button>
            </div>
            <div class="page-title-block">
              <div class="page-title">
                <span>Edit Meta Table</span>
              </div>
              <div class="page-subtitle">
                <span>Edit meta table</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form #editForm="ngForm" class="form-horizontal" (submit)="edit(editForm)" novalidate>
            <div class="row">


              <div class="col-md-6">
                <div class="form-group">
                  <label for="fieldValue">Field Value</label>
                  <div class="input-group">
                    <input type="text" id="fieldValue" name="fieldValue" class="form-control" [(ngModel)]="modifyMetaTableModel.fieldValue" #fieldValue="ngModel"
                      minlength="1" appServerError>
                    <div *ngIf="!fieldValue.errors?.required">
                      <div [hidden]="!fieldValue.errors?.minlength" class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Minimum Length of field value is 1"></i>
                      </div>
                    </div>
                    <div [hidden]="fieldValue.errors ? (!fieldValue.errors['server']) : true" class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="{{serverErrorMessages['fieldValue']}}"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="labelName">Label Name</label>
                  <div class="input-group">
                    <input type="text" id="labelName" name="labelName" class="form-control" [(ngModel)]="modifyMetaTableModel.lableName" #labelName="ngModel"
                      minlength="3" maxlength="200" appServerError>
                    <div *ngIf="!labelName.errors?.required">
                      <div [hidden]="!labelName.errors?.minlength" class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Length must be between 3 to 200"></i>
                      </div>
                    </div>
                    <div [hidden]="labelName.errors ? (!labelName.errors['server']) : true" class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="{{serverErrorMessages['labelName']}}"></i>
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="admin-card-footer">
              <button *ngIf="!buttonPressed" type="submit" class="btn btn-gap btn-primary" disabled="disabled" [disabled]="editForm.invalid || !editForm.dirty">Modify</button>
              <button *ngIf="!buttonPressed" type="button" class="btn btn-gap default" (click)="back()">Cancel</button>
              <button *ngIf="buttonPressed" class="btn btn-primary" [disabled]="true">Processing</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
