<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-4">
      <div class="back-button-block">
        <button type="button" (click)="goBack()" class="btn btn-icon-only casba-bck-btn">
          <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
        </button>
      </div>
    </div>
    <div class="col-md-8">
      <div class="page-title-block">
        <div class="page-title">
          <h3>Acquirer's Merchant {{selectedChart}}</h3>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 fusioncharts-container">
      <div>
        <ngx-loading [show]="!loadAcquirerMerchantReportChart" [config]="{ backdropBorderRadius: '14px' }">
        </ngx-loading>
        <div class="col-md-12 card-action-buttons-right card-buttons">
          <ul>

            <li>
              <button type="button" class="btn btn-link">
                <i class="cai-report"></i>
                <span> Total: {{totalCount | number : '1.0-2'}}</span>
              </button>
            </li>

        
          
            <li>
              <select (change)="fetchReportOnChange()" [(ngModel)]="year" class="form-control">
                <option value="" disabled>Select One</option>
                <option *ngFor="let year of years" [ngValue]="year.value">{{
                  year.label}}
                </option>
              </select>
            </li>
            <li *ngIf="state.month == true || state.day == true">
              <select (change)="fetchReportOnChange()" [(ngModel)]="month" class="form-control">
                <option value="" disabled>Select One</option>
                <option *ngFor="let month of months" [ngValue]="month.value">{{
                  month.label}}
                </option>
              </select>
            </li>
            <li *ngIf="state.day == true">
              <select (change)="fetchReportOnChange()" [(ngModel)]="day" class="form-control">
                <option value="" disabled>Select One</option>
                <option *ngFor="let day of days" [ngValue]="day.value">{{
                  day.label}}
                </option>
              </select>
            </li>
            <li>
              <button [disabled]="state.day == true" (click)="fetchReportOnClick('day')" type="button"
                class="btn btn-link">
                <i class="cai-report"></i>
                <span>Day</span>
              </button>
            </li>
            <li>
              <button [disabled]="state.month == true" (click)="fetchReportOnClick('month')" type="button"
                class="btn btn-link">
                <i class="cai-report"></i>
                <span>month</span>
              </button>
            </li>
            <li>
              <button [disabled]="state.year == true" (click)="fetchReportOnClick('year')" type="button"
                class="btn btn-link">
                <i class="cai-report"></i>
                <span>Year</span>
              </button>
            </li>
          </ul>
        </div>
        <fusioncharts id='chart-container1'></fusioncharts>
      </div>
    </div>
  </div>
</div>
