<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="back-button-block">
              <button type="button" (click)="goBack()" class="btn btn-icon-only casba-bck-btn">
                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
              </button>
            </div>
            <div class="page-title-block">
              <div class="page-title">
                <span>Manage Admin Profile</span>
              </div>
              <div class="page-subtitle"></div>
              <span>Manage admin profile</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

   <!-- For Search -->
   <div class="card con__search__wrapper">
    <div class="card-body">
      <form #searchForm="ngForm">
        <div class="row">

          <ng-container *ngFor="let filter of filterParam; let i = index">
            <ng-container *ngIf="!filter.hidden">
              <div class="col-3">
                <div class="form-group">
                  <label>{{filter.alias ? filter.alias : filter.key}}</label>
                  <div class="input-group">
                    <input type={{filter.inputType}} name={{filter.key}} class="form-control" [(ngModel)]='filter.value'
                      *ngIf=filter.inputType>
                    <input name={{filter.key}} class="form-control" [(ngModel)]='filter.value' *ngIf=!filter.inputType>
                  </div>
                </div>
              </div>
            </ng-container>
          </ng-container>

        </div>

        <div class="row">
          <div class="col-md-12">
            <button type="button" class="btn btn-primary" *ngIf="!searchButtonpressed"
              (click)="searchUserProfileOnUserInput()">
              <i class="cai cai-search" aria-hidden="true"></i>Search
            </button>

            <button type="button" class="btn btn-primary" *ngIf="searchButtonpressed" [disabled]="true">
              <i class="cai cai-search" aria-hidden="true"></i>Please wait
            </button>
            <button type="button" class="btn btn-primary" (click)="resetSearch()">
              <i _ngcontent-c1="" class="cai cai-reset"></i>Reset
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">
      <!-- <div *ngIf="adminProfiles ;then noRecordsFound"></div> -->
      <div class="table-responsive" *ngIf="adminProfiles?.length > 0">
        <table class="table admin-card-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Created Date</th>
              <th>Modified Date</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let adminProfile of adminProfiles" (click)="clickViewDetailButton(adminProfile)"
              clickStopPropagation>
              <td>{{adminProfile.name ? adminProfile.name :'N/A' }}</td>
              <td>{{adminProfile.createdDate ? (adminProfile.createdDate | date:'dd/MM/yyyy') : 'N/A'}}</td>
              <td>{{adminProfile.modifiedDate ? (adminProfile.modifiedDate | date:'dd/MM/yyyy') : 'N/A'}}</td>
              <td>
                <span
                  class="admin.statusDto.icon status-badge {{isActive(adminProfile.active) ? 'active': 'inactive' }}">
                  {{isActive(adminProfile.active) ? 'active': 'inactive' }}
                </span>
              </td>

              <td>
                <div class="action-button">
                  <button type="button"
                    *ngIf="getChildRole('Edit Admin Profile') && adminProfile.active != 'D'"
                    class="btn btn-icon-only" (click)="clickedEditAdminProfile(adminProfile)"
                    [tooltip]="getChildRole('Edit Admin Profile').description" clickStopPropagation>
                    <i [class]="getChildRole('Edit Admin Profile').icon"></i>
                  </button>

                  <!-- <button type="button" *ngIf="getChildRole('Delete Admin Profile')" class="btn btn-icon-only"
                    (click)="deleteModelComponent.showModal(adminProfile)"
                    [tooltip]="getChildRole('Delete Admin Profile').description" clickStopPropagation>
                    <i [class]="getChildRole('Delete Admin Profile').icon"></i>
                  </button> -->

                  <div
                    *ngIf="adminProfile.active === 'B'; then showUnBlockIcon  else showBlockIcon">
                  </div>
                  <ng-template #showBlockIcon>
                    <button type="button" *ngIf="getChildRole('Block/Unblock Admin Profile')" class="btn btn-icon-only"
                      tooltip="Block Admin Profile" (click)="blockModalComponent.showModal(adminProfile)"
                      clickStopPropagation>
                      <i class="cai cai-lock"></i>
                    </button>
                  </ng-template>

                  <ng-template #showUnBlockIcon>
                    <button type="button" *ngIf="getChildRole('Block/Unblock Admin Profile')" class="btn btn-icon-only"
                      tooltip="UnBlock Admin Profile" (click)="unBlockModalComponent.showModal(adminProfile)"
                      clickStopPropagation>
                      <i class="cai cai-unlock"></i>
                    </button>
                  </ng-template>
                </div>
              </td>

            </tr>
          </tbody>
        </table>
      </div>
    <!-- </div> -->
  </div>

</div>

<pagination [hidden]="adminProfiles?.length < 1 || totalItems <= size" [boundaryLinks]="true"
[totalItems]="totalItems" [rotate]="true" (pageChanged)="getAllAdminProfileForSearch($event)" [itemsPerPage]="size"
[maxSize]="5" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
</pagination>

<app-delete-modal #deleteModelComponent=deleteModalComp (sendDeleteObject)="deleteAdminProfile($event)">
</app-delete-modal>
<app-block-modal #blockModalComponent=blockModalComp (sendBlockObject)="blockAdminProfile($event)"></app-block-modal>
<app-un-block-modal #unBlockModalComponent=unBlockModalComp (sendUnBlockObject)="unBlockAdminProfile($event)">
</app-un-block-modal>

<ng-template #noRecordsFound>
  <app-no-records-found></app-no-records-found>
</ng-template>