<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-6">
            <div class="page-title-block">
              <div class="page-title">
                <span>Admin Profile</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 card-action-buttons-right card-buttons">
            <ul>

              <li *ngIf="getChildRole('Manage Admin Profile')">
                <button type="button" class="btn btn-link" [routerLink]="[getChildRole('Manage Admin Profile').navigation]">
                  <i [class]="getChildRole('Manage Admin Profile').icon"></i>
                  <span>{{getChildRole('Manage Admin Profile').description}}</span>
                </button>
              </li>

              <li *ngIf="getChildRole('Create Admin Profile')">
                <button type="button" class="btn btn-primary" [routerLink]="[getChildRole('Create Admin Profile').navigation]">
                  <i [class]="getChildRole('Create Admin Profile').icon"></i>
                  <span>{{getChildRole('Create Admin Profile').description}}</span>
                </button>
              </li>

            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- For Search -->
  <div class="card con__search__wrapper">
    <div class="card-body">
      <form #searchForm="ngForm">

        <div class="row">
          <ng-container *ngFor="let filter of filterParam; let i = index">
            <ng-container *ngIf="filter.key != 'status.name'">
              <div class="col-3">
                <div class="form-group">
                  <label for="text-input">{{filter.key.substring(filter.key.lastIndexOf('.')+1,filter.key.length)}}</label>
                  <div class="input-group">
                    <input name={{filter.key}} class="form-control" [(ngModel)]='filter.value'>
                  </div>
                </div>
              </div>

            </ng-container>
          </ng-container>
          <div class="col-3">
            <div class="form-group">
              <label for="text-input">Status</label>
              <div class="input-group select">
                <select name="status" class="form-control" [(ngModel)]="filterParam[0].value">
                  <option value="" [selected]="true">All</option>
                  <option *ngFor="let status of statusListForSearch" [attr.value]="status.value">{{status.label}}</option>
                </select>
              </div>
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col-md-12">
              <button type="button" class="btn btn-primary" *ngIf="!searchButtonpressed" (click)="searchAdminProfileOnUserInput()">
                  <i class="cai cai-search" aria-hidden="true"></i>Search
                </button>

                <button type="button" class="btn btn-primary" *ngIf="searchButtonpressed" [disabled]="true">
                  <i class="cai cai-search" aria-hidden="true"></i>Please wait
                </button>
            <button type="button" class="btn btn-primary" (click)="resetSearch()"><i class="cai cai-reset"></i>Reset</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!--  -->

  <div class="row">
    <div class="col-md-12">
      <div *ngIf="adminProfiles?.length <= 0 ;then noRecordsFound"></div>
      <div class="table-responsive" *ngIf="adminProfiles?.length > 0">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Created Date</th>
              <th>Modified Date</th>
              <th>Created By</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let adminProfile of adminProfiles" (click)="clickViewDetailButton(adminProfile)">
              <td>{{adminProfile.name ? adminProfile.name :'N/A' }}</td>
              <td>{{adminProfile.createdDate ? (adminProfile.createdDate | date:'dd/MM/yyyy') : 'N/A'}}</td>
              <td>{{adminProfile.modifiedDate ? (adminProfile.modifiedDate | date:'dd/MM/yyyy') : 'N/A'}}</td>
              <td>
                {{adminProfile.createdBy?.convergentAdminDto?.name ? adminProfile.createdBy?.convergentAdminDto?.name :
                'N/A' }}</td>
              <td>
                <span class="admin.statusDto.icon status-badge {{isActive(adminProfile.statusDto.name) ? 'active': 'inactive' }}">
                  {{isActive(adminProfile.statusDto.name) ? 'active': 'inactive' }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <pagination [hidden]="adminProfiles?.length < 1 || totalItems<=size" [boundaryLinks]="true" [totalItems]="totalItems"
    [rotate]="true" (pageChanged)="getAllAdminProfileForSearch($event)" [itemsPerPage]="size" [maxSize]="5"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>

</div>

<ng-template #noRecordsFound>
  <app-no-records-found></app-no-records-found>
</ng-template>
