<div *ngIf="shouldShowError()" class="form-validation">
  <!-- <i class="mdi mdi-alert validation-icon alert" [hidden]="!createForm.controls['address'].errors['server']" tooltip="{{serverErrorMessages['address']}}"></i> -->
  <i class="mdi mdi-alert validation-icon alert" *ngFor=" let error of listOfErrors()" tooltip="{{error}}"></i>
  <!-- <i class="mdi mdi-alert validation-icon alert" *ngIf="listOfErrors().length>0" tooltip="{{listOfErrors()[0]}}"></i> -->
</div>
