<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="back-button-block">
              <button type="button" (click)="back()" class="btn btn-icon-only casba-bck-btn">
                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
              </button>
            </div>
            <div class="page-title-block">
              <div class="page-title">
                <span>Edit Office</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form #editOfficeForm="ngForm" class="form-horizontal" (submit)="submitEditOffice()" novalidate>
            <div class="row">

              <div class="col-md-4">
                <div class="form-group">
                  <label for="text-input">Name<span class="required__signal">*</span></label>
                  <div class="input-group">
                    <input type="text" id="name" name="name" class="form-control" [(ngModel)]="editOffice.name"
                      #name="ngModel" required minlength="3" maxlength="55" appServerError>
                    <div [hidden]="!name.errors?.required || name.untouched || name.errors['server']"
                      class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Name is required"></i>
                    </div>
                    <div *ngIf="!name.errors?.required">
                      <div [hidden]="!name.errors?.minlength" class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                          tooltip="Length must be between 3 to 55"></i>
                      </div>
                    </div>
                    <div [hidden]="name.errors ? (!name.errors['server']) : true" class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="{{serverErrorMessages['name']}}"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="text-input">Unicode Name<span class="required__signal">*</span></label>
                  <div class="input-group">
                    <input type="text" id="unicodeName" name="unicodeName" class="form-control"
                      [(ngModel)]="editOffice.unicodeName" #unicodeName="ngModel" required minlength="3" maxlength="55"
                      appServerError>
                    <div
                      [hidden]="!unicodeName.errors?.required || unicodeName.untouched || unicodeName.errors['server']"
                      class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="Unicode Name is required"></i>
                    </div>
                    <div *ngIf="!unicodeName.errors?.required">
                      <div [hidden]="!unicodeName.errors?.minlength" class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                          tooltip="Length must be between 3 to 55"></i>
                      </div>
                    </div>
                    <div [hidden]="unicodeName.errors ? (!unicodeName.errors['server']) : true" class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="{{serverErrorMessages['unicodeName']}}"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="status">Status<span class="required__signal">*</span></label>
                  <div class="form-radio">
                    <div class="radio">
                      <input id="radio-1" name="active" type="radio" value="Y" [(ngModel)]="editOffice.active" required
                        #status="ngModel" appServerError>
                      <label class="radio-label" for="radio-1">Active</label>
                    </div>
                    <div class="radio">
                      <input id="radio-2" name="blocked" type="radio" value="N" [(ngModel)]="editOffice.active" required
                        appServerError>
                      <label for="radio-2" class="radio-label">InActive</label>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-4">
                <div class="form-group--compact">
                  <label for="text-input">Office Type<span class="required__signal">*</span></label>
                  <div class="input-group select">
                    <select class="form-control" name="officeType" [(ngModel)]="editOffice.officeTypeId"
                      #officeType="ngModel" required appServerError>
                      <option value="" disabled>Select a Office Type</option>
                      <option [value]="officeType.id" *ngFor="let officeType of officeTypeService.officeTypes | async">
                        {{ officeType.name }}
                      </option>
                    </select>
                    <span>
                      <i class="mdi mdi-chevron-down"></i>
                    </span>
                    <div [hidden]="!officeType.errors?.required || officeType.untouched || officeType.errors['server']"
                      class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="Office Type is required"></i>
                    </div>
                    <div [hidden]="officeType.errors ? (!officeType.errors['server']) : true" class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="{{serverErrorMessages['officeType']}}"></i>
                    </div>
                  </div>
                </div>
              </div>



              <div class="col-md-4">
                <div class="form-group--compact">
                  <label for="text-input">Department</label>
                  <div class="input-group select">
                    <select class="form-control" name="department" [(ngModel)]="editOffice.department"
                      #department="ngModel" required appServerError>
                      <option value="" disabled>Select a Department</option>
                      <option [value]="department.id" *ngFor="let department of departmentService.departments | async">
                        {{ department.name }}
                      </option>
                    </select>
                    <span>
                      <i class="mdi mdi-chevron-down"></i>
                    </span>
                    <div [hidden]="department.errors ? (!department.errors['server']) : true" class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="{{serverErrorMessages['department']}}"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group--compact">
                  <label for="text-input">Province</label>
                  <div class="input-group select">
                    <select class="form-control" name="province" [(ngModel)]="editOffice.provinceId" #province="ngModel"
                      required appServerError>
                      <option value="" disabled>Select Province</option>
                      <option [value]="province.id" *ngFor="let province of officeTypeService.provinces | async">
                        {{ province.name }}
                      </option>
                    </select>
                    <span>
                      <i class="mdi mdi-chevron-down"></i>
                    </span>
                    <div [hidden]="province.errors ? (!province.errors['server']) : true" class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="{{serverErrorMessages['province']}}"></i>
                    </div>
                  </div>
                </div>
              </div>


            </div>


            <div class="admin-card-footer">
              <button *ngIf="!buttonPressed" type="submit" class="btn btn-gap btn-primary"
                [disabled]="editOfficeForm.form.invalid || buttonPressed">Modify
              </button>
              <button *ngIf="!buttonPressed" type="button" class="btn btn-gap default" (click)="back()">Cancel</button>
              <button *ngIf="buttonPressed" class="btn btn-primary" [disabled]="true">Processing</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>