


@import "icon-base";

@font-face {
  font-family: 'Convergent-Admin';
  src:  url('#{$icomoon-font-path}/Convergent-Admin.eot?lzw6c7');
  src:  url('#{$icomoon-font-path}/Convergent-Admin.eot?lzw6c7#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/Convergent-Admin.ttf?lzw6c7') format('truetype'),
    url('#{$icomoon-font-path}/Convergent-Admin.woff?lzw6c7') format('woff'),
    url('#{$icomoon-font-path}/Convergent-Admin.svg?lzw6c7#Convergent-Admin') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cai-"], [class*=" cai-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Convergent-Admin' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cai {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'Convergent-Admin' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.cai-upload {
  &:before {
    content: unicode($cai-upload);
  }
}
.cai-image {
  &:before {
    content: unicode($cai-image);
  }
}
.cai-grid {
  &:before {
    content: unicode($cai-grid);
  }
}
.cai-list {
  &:before {
    content: unicode($cai-list);
  }
}
.cai-dot {
  &:before {
    content: unicode($cai-dot);
  }
}
.cai-activity {
  &:before {
    content: unicode($cai-activity);
  }
}
.cai-admin {
  &:before {
    content: unicode($cai-admin);
  }
}
.cai-admin-profile {
  &:before {
    content: unicode($cai-admin-profile);
  }
}
.cai-alert-circle {
  &:before {
    content: unicode($cai-alert-circle);
  }
}
.cai-arrow-left {
  &:before {
    content: unicode($cai-arrow-left);
  }
}
.cai-arrow-left-circle {
  &:before {
    content: unicode($cai-arrow-left-circle);
  }
}
.cai-bell {
  &:before {
    content: unicode($cai-bell);
  }
}
.cai-calendar {
  &:before {
    content: unicode($cai-calendar);
  }
}
.cai-check {
  &:before {
    content: unicode($cai-check);
  }
}
.cai-check-circle {
  &:before {
    content: unicode($cai-check-circle);
  }
}
.cai-chevron-down {
  &:before {
    content: unicode($cai-chevron-down);
  }
}
.cai-circle {
  &:before {
    content: unicode($cai-circle);
  }
}
.cai-close {
  &:before {
    content: unicode($cai-close);
  }
}
.cai-delete {
  &:before {
    content: unicode($cai-delete);
  }
}
.cai-download {
  &:before {
    content: unicode($cai-download);
  }
}
.cai-edit {
  &:before {
    content: unicode($cai-edit);
  }
}
.cai-eye {
  &:before {
    content: unicode($cai-eye);
  }
}
.cai-file {
  &:before {
    content: unicode($cai-file);
  }
}
.cai-file-text {
  &:before {
    content: unicode($cai-file-text);
  }
}
.cai-filter {
  &:before {
    content: unicode($cai-filter);
  }
}
.cai-hash {
  &:before {
    content: unicode($cai-hash);
  }
}
.cai-home {
  &:before {
    content: unicode($cai-home);
  }
}
.cai-info-circle {
  &:before {
    content: unicode($cai-info-circle);
  }
}
.cai-lock {
  &:before {
    content: unicode($cai-lock);
  }
}
.cai-logout {
  &:before {
    content: unicode($cai-logout);
  }
}
.cai-mail {
  &:before {
    content: unicode($cai-mail);
  }
}
.cai-map {
  &:before {
    content: unicode($cai-map);
  }
}
.cai-merchant {
  &:before {
    content: unicode($cai-merchant);
  }
}
.cai-merchant-profile {
  &:before {
    content: unicode($cai-merchant-profile);
  }
}
.cai-message {
  &:before {
    content: unicode($cai-message);
  }
}
.cai-mobile {
  &:before {
    content: unicode($cai-mobile);
  }
}
.cai-plus-circle {
  &:before {
    content: unicode($cai-plus-circle);
  }
}
.cai-qr-code {
  &:before {
    content: unicode($cai-qr-code);
  }
}
.cai-report {
  &:before {
    content: unicode($cai-report);
  }
}
.cai-search {
  &:before {
    content: unicode($cai-search);
  }
}
.cai-security {
  &:before {
    content: unicode($cai-security);
  }
}
.cai-settings {
  &:before {
    content: unicode($cai-settings);
  }
}
.cai-sliders {
  &:before {
    content: unicode($cai-sliders);
  }
}
.cai-table {
  &:before {
    content: unicode($cai-table);
  }
}
.cai-trash {
  &:before {
    content: unicode($cai-trash);
  }
}
.cai-unlock {
  &:before {
    content: unicode($cai-unlock);
  }
}
.cai-user {
  &:before {
    content: unicode($cai-user);
  }
}
// added icon v1.3
.cai-profile-setup {
  &:before {
    content: unicode($cai-profile-setup);
  }
}
.cai-manage-merchant {
  &:before {
    content: unicode($cai-manage-merchant);
  }
}
.cai-merchant-request {
  &:before {
    content: unicode($cai-merchant-request);
  }
}
.cai-merchant-type {
  &:before {
    content: unicode($cai-merchant-type);
  }
}
.cai-pdf {
  &:before {
    content: unicode($cai-pdf);
  }
}
.cai-refresh {
  &:before {
    content: unicode($cai-refresh);
  }
}
.cai-request {
  &:before {
    content: unicode($cai-request);
  }
}
.cai-reset {
  &:before {
    content: unicode($cai-reset);
  }
}
.cai-timeline {
  &:before {
    content: unicode($cai-timeline);
  }
}
.cai-xls {
  &:before {
    content: unicode($cai-xls);
  }
}
.cai-active {
  &:before {
    content: unicode($cai-active);
  }
}
.cai-inactive {
  &:before {
    content: unicode($cai-inactive);
  }
}
.cai-config {
  &:before {
    content: unicode($cai-config);
  }
}
