$icomoon-font-path: "../fonts" !default;

$cai-upload: \e92d;
$cai-image: \e92e;
$cai-grid: \e92a;
$cai-list: \e92b;
$cai-dot: \e92c;
$cai-activity: \e900;
$cai-admin: \e901;
$cai-admin-profile: \e902;
$cai-alert-circle: \e903;
$cai-arrow-left: \e904;
$cai-arrow-left-circle: \e905;
$cai-bell: \e906;
$cai-calendar: \e907;
$cai-check: \e908;
$cai-check-circle: \e909;
$cai-chevron-down: \e90a;
$cai-circle: \e90b;
$cai-close: \e90c;
$cai-delete: \e90d;
$cai-download: \e90e;
$cai-edit: \e90f;
$cai-eye: \e910;
$cai-file: \e911;
$cai-file-text: \e912;
$cai-filter: \e913;
$cai-hash: \e914;
$cai-home: \e915;
$cai-info-circle: \e916;
$cai-lock: \e917;
$cai-logout: \e918;
$cai-mail: \e919;
$cai-map: \e91a;
$cai-merchant: \e91b;
$cai-merchant-profile: \e91c;
$cai-message: \e91d;
$cai-mobile: \e91e;
$cai-plus-circle: \e91f;
$cai-qr-code: \e920;
$cai-report: \e921;
$cai-search: \e922;
$cai-security: \e923;
$cai-settings: \e924;
$cai-sliders: \e925;
$cai-table: \e926;
$cai-trash: \e927;
$cai-unlock: \e928;
$cai-user: \e929;
$cai-profile-setup: \e92f;
$cai-manage-merchant: \e930;
$cai-merchant-request: \e931;
$cai-merchant-type: \e932;
$cai-pdf: \e933;
$cai-refresh: \e934;
$cai-request: \e935;
$cai-reset: \e936;
$cai-timeline: \e937;
$cai-xls: \e938;
$cai-active: \e939;
$cai-inactive: \e93a;
$cai-config: \e93b;
