<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="fallback-view">
          <div class="fallback-image no-records"></div>
          <div class="fallback-title-message">
            Service Providers are not available
          </div>
          <div class="fallback-subtitle-message">
           Please try again after the availability of the service provider
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
