
//font-color
$inputLabel-text-color:       #5e5c65;
$sideNav-text-color:          #7e7795;
$mainTitle-color:            #484550;

//background-color
$primary-blue-color:          #4e3885;
$secondary-blue-color:        #644DA0;
$primary-orange-color:        #e88a23;
$secondary-orange-color:      #F29025;
$primary-belticSea-color:     #1F1E24;
$secondary-belticSea-color:   #24222A;
$dashboard-back-color:        #EFEFEF;
$default-bttn-hover-back:     #ccc;
$white-color:                 #fff;

//border color
$input-border-color:          1px solid #B5B1BB;
$blue-border-color:           1px solid #563E93;
$orange-border-color:         1px solid #F1840D;
$box-border-color:            1px solid #dce3e6;


//box shadow
$card-box-shadow:             0px 0px 10px rgba(0, 0, 0, 0.05);
$EditDelete-box-shadow:       0px 0px 5px 2px rgba(0,0,0,0.13);
$closeButton-box-shadow:      1px 1px 2px 0px rgba(0, 0, 0, 0.9);
$stepIndicator-box-shadow:    0px 2px 12px 1px rgba(247, 144, 31, 0.6);
// border radius
$border-radius:               4px;
$box-border-radius:           6px;

//transition elements
$button-transition: all 1s ease;
$checkBox-transition: all 0.07s ease;


//radio button
$radio-back: #f4f4f4;

// width element
$button-min-width: 110px;
$button-min-height: 35px;


$sidebar-nav-dropdown-indicator-color: $gray-800;
$sidebar-nav-dropdown-indicator-hover-color:$gray-900;
