@charset "utf-8";


.search-bar{
    width: 145px;
    height: 30px;
    margin-right: 870px;
    background-color: white;
    border: 1px solid #B5B1BB;
    border-radius: 20px;
    color: $inputLabel-text-color;
    overflow: hidden;
    display: flex;
    @extend .mdi;
    @extend .mdi-magnify;
    &:before {
        font-size: 18px;
        margin-left: 10px;
        font-weight: bold;
    }
    span > input{
        margin-top: 4px;
        margin-left: 8px;
        border: none;
        outline: none;
        font-size: 12px;
        font-weight: 500;
    }
  }



  // dashboard styles

  .dashboard__TD {
    max-height: 25rem;
    overflow-x: auto;
    margin-bottom: 2rem;
  }
  .fusioncharts-container{
      margin-bottom: 1.5rem;
  }
  .merchant-datas{
    margin-bottom: 1.5rem;
  }

  // commission slab style
.commission-slab{
  position: relative;
  &__input-wrapper{
      position: absolute;
      bottom: 32px;
  }
  &__label{
      margin-bottom: 0;
      margin-right: 15px;
  }
  &__del-icon{
    margin-top: 26px;
  }
}


//disabled button
button:disabled {
  opacity: 0.6;
}


// side navigation menu style
.nav li.nav-dropdown ul li a{
  display: flex;
}
