ul.pagination {
  float: right;
    li {
        margin-right: 20px;
        a {
            color: #5b5e65;
        }
        &.pagination-first,
        &.pagination-prev,
        &.pagination-next,
        &.pagination-last {
            a.page-link {
                border-radius: 4px;
                border: none;
                background: transparent;
                border: 1px solid #5b5e65;
                width: 38px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #5b5e65;
                font-size: 18px;
            }
        }
        &.pagination-page {
            a.page-link {
                border: none;
                background: transparent;
                line-height: 24px;
                &:hover,&:focus{
                  color: #ff666b;
                }
              }
        }
        &.pagination-last{
          margin-right: 0;
        }
        &.active{
          a.page-link{
            color: #ed272c;
          }
        }
        &.disabled{
          a.page-link{
            background: transparent;
            border: 1px solid #949494;
          }
        }
    }
}
