<div class="aniated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="page-title-block">
              <div class="page-title">
                <span>My Profile</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<tabset>
  <tab heading="Admin Detail" id="tab1" (select)="adminDetailTabSelected($event)">
    <div *ngIf="adminDetail" class="card-body user-profile-block">
      <div class="row">
        <div class="col-md-3 text-center">
          <div class="user-image-wrapper">

            <img *ngIf="adminDetail?.imageURL" src={{adminDetail.imageURL}} alt="Admin Image" class="animated fadeIn">
            <img *ngIf="!adminDetail?.imageURL" src="assets/img/default-profile.jpg" alt="Admin Default Image" class="animated fadeIn">
            <div class="user-image-upload-button-wrapper">
              <button type="button" name="button" class="user-image-upload-button">
                <i class="mdi mdi-pencil"></i>
                <span>Upload</span>
              </button>
              <input #fileInput type="file" (change)="uploadPicture()" accept="image/*" class="user-image-upload-input-button" />
            </div>
          </div>
          <div class="user-profile-primary-details">
            <p class="username" tooltip="User Name">@{{adminDetail.userName}}</p>
          </div>
        </div>

        <div class="col-md-9">
          <div class="user-profile-detail-block">

            <div class="user-profile-secondary-details">

              <div class="animated fadeIn">
                <div class="row">
                  <div class="col-md-6">
                    <form #adminDetailForm="ngForm" class="form-horizontal" (submit)="updateAdmin(adminDetailForm)"
                      novalidate>
                      <h6>Personal Information</h6>
                      <div class="editable-form-block">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="form-group">
                              <i class="cai cai-user editable-form-icon" tooltip="Name"></i>
                              <span *ngIf="!isEdit" class="editable-form-label">{{adminDetail.name}}</span>
                              <div class="input-group" *ngIf="isEdit">
                                <input type="text" id="name" name="name" minlength="3" maxlength="55" class="form-control form-input-type"
                                  [(ngModel)]="adminDetail.name" #name="ngModel" required appServerError>
                                <div [hidden]="!name.errors?.required || name.untouched || name.errors['server']" class="form-validation">
                                  <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Name is required"></i>
                                </div>
                                <div *ngIf="!name.errors?.required">
                                  <div [hidden]="!name.errors?.minlength" class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Length must be between 3 to 55"></i>
                                  </div>
                                </div>
                                <div [hidden]="name.errors ? (!name.errors['server']) : true" class="form-validation">
                                  <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="{{serverErrorMessages['name']}}"></i>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-12">
                            <div class="form-group">
                              <i class="cai cai-mail editable-form-icon" tooltip="Email"></i>
                              <span *ngIf="!isEdit" class="editable-form-label">{{adminDetail.email}}</span>
                              <div class="input-group" *ngIf="isEdit">
                                <input type="email" id="email" name="email" email class="form-control form-input-type"
                                  [(ngModel)]="adminDetail.email" required #email="ngModel" appServerError>
                                <div [hidden]="!email.errors?.required || email.untouched || email.errors['server']"
                                  class="form-validation">
                                  <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Email is required"></i>
                                </div>
                                <div *ngIf="!email.errors?.required">
                                  <div [hidden]="!email.errors?.email || email.untouched || email.errors['server']"
                                    class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Enter valid email"></i>
                                  </div>
                                </div>
                                <div [hidden]="email.errors ? (!email.errors['server']) : true" class="form-validation">
                                  <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="{{serverErrorMessages['email']}}"></i>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-12">
                            <div class="form-group">
                              <i class="cai cai-mobile editable-form-icon" tooltip="Mobile Number"></i>
                              <span *ngIf="!isEdit" class="editable-form-label">{{adminDetail.mobileNumber}}</span>
                              <div class="input-group" *ngIf="isEdit">
                                <input type="text" id="mobileNumber" name="mobileNumber" minlength="7" maxlength="10"
                                  class="form-control form-input-type" [(ngModel)]="adminDetail.mobileNumber" required
                                  #mobileNumber="ngModel" appServerError>
                                <div [hidden]="!mobileNumber.errors?.required || mobileNumber.untouched || mobileNumber.errors['server']"
                                  class="form-validation">
                                  <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Contact Number is required"></i>
                                </div>
                                <div *ngIf="!mobileNumber.errors?.required">
                                  <div [hidden]="!mobileNumber.errors?.minlength" class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Length must be between 7 to 10"></i>
                                  </div>
                                </div>
                                <div [hidden]="mobileNumber.errors ? (!mobileNumber.errors['server']): true" class="form-validation">
                                  <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="{{serverErrorMessages['mobileNumber']}}"></i>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-12">
                            <div class="form-group">
                              <i class="cai cai-map editable-form-icon" tooltip="Address"></i>
                              <span *ngIf="!isEdit" class="editable-form-label">{{adminDetail.address}}</span>
                              <div class="input-group" *ngIf="isEdit">
                                <input id="address" name="address" minlength="3" maxlength="55" class="form-control form-input-type"
                                  [(ngModel)]="adminDetail.address" #address="ngModel" required appServerError>
                                <div [hidden]="!address.errors?.required || address.untouched || address.errors['server']"
                                  class="form-validation">
                                  <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Address is required"></i>
                                </div>
                                <div *ngIf="!address.errors?.required">
                                  <div [hidden]="!address.errors?.minlength" class="form-validation">
                                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Length must be between 3 to 55"></i>
                                  </div>
                                </div>
                                <div [hidden]="address.errors ? (!address.errors['server']) : true" class="form-validation">
                                  <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="{{serverErrorMessages['address']}}"></i>
                                </div>
                              </div>
                            </div>
                          </div>

                        </div>


                      </div>

                      <div class="admin-card-footer">
                        <button type="button" class="btn btn-primary" (click)="edit()" *ngIf="!isEdit && !buttonPressed">Edit</button>
                        <button type="submit" class="btn btn-primary" [disabled]="adminDetailForm.invalid" *ngIf="isEdit && !buttonPressed">Update</button>
                        <button type="button" class="btn btn-default" (click)="cancel()" *ngIf="isEdit && !buttonPressed">Cancel</button>
                        <button *ngIf="buttonPressed" class="btn btn-gap btn-primary" [disabled]="true">Processing</button>

                      </div>
                    </form>

                  </div>

                  <div class="col-md-6" *ngIf="adminDetail.isSuper === 'Y'">

                  <div  *ngIf="enableOtpRequest && enableOtpRequest.qrFormatedValue" align="justify">Please scan the QR with Google Autheticator Application and enter the code below to
                    enable
                    Two-Factor Authentication.
                    <br>
                    <br>
                    <i><b>Note: </b> If you do not have Google Authenticator App, then Please download it from App/Play
                      store.</i></div>

                    <ngx-qrcode [qrc-value]="enableOtpRequest.qrFormatedValue" *ngIf="enableOtpRequest && enableOtpRequest.qrFormatedValue">
                    </ngx-qrcode>

                    <div *ngIf="adminDetail && adminDetail.enableTwoFactorAuthentication">
                      Two factor Authentication: Enabled
                    </div>

                    <div *ngIf="adminDetail && !adminDetail.enableTwoFactorAuthentication">
                      Two factor Authentication: Disabled
                    </div>

                    <form #adminTwoFactorAuthForm="ngForm" class="form-horizontal" novalidate>

                      <button type="button" class="btn btn-primary" (click)="generateKeyForTwoFactorAuth()" *ngIf="!enableDisableTwoFactorAuthReady && adminDetail && !adminDetail.enableTwoFactorAuthentication">
                        Enable Two Factor Auth
                      </button>

                      <button type="button" class="btn btn-primary" (click)="disableTwoFactorAuthClicked()" *ngIf="!enableDisableTwoFactorAuthReady && adminDetail && adminDetail.enableTwoFactorAuthentication">
                        Disable Two Factor Auth
                      </button>

                      <div *ngIf="enableDisableTwoFactorAuthReady">
                        OTP Code:
                      </div>

                      <input id="otpCode" name="otpCode" class="form-control form-input-type" *ngIf="enableDisableTwoFactorAuthReady"
                        [(ngModel)]="enableOtpRequest.otpCode" #otpCode="ngModel" required appServerError maxlength="6" minlength="6"
                        oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);">

                      <div class="admin-card-footer">

                        <button type="button" class="btn btn-primary " (click)="enableTwoFactorAuth()" [disabled]="adminTwoFactorAuthForm.invalid"
                          *ngIf="enableDisableTwoFactorAuthReady && adminDetail && !adminDetail.enableTwoFactorAuthentication">
                          Confirm Enable Two Factor Auth
                        </button>

                        <button type="button" class="btn btn-primary " (click)="disableTwoFactorAuth()" [disabled]="adminTwoFactorAuthForm.invalid"
                          *ngIf="enableDisableTwoFactorAuthReady && adminDetail && adminDetail.enableTwoFactorAuthentication">
                          Confirm Disable Two Factor Auth
                        </button>

                        <button type="button" class="btn btn-default" (click)="cancelGenerateKeyForTwoFactorAuth()"
                          *ngIf="enableDisableTwoFactorAuthReady">
                          Cancel
                        </button>

                      </div>

                    </form>

                  </div>

                </div>

              </div>


            </div>

          </div>
        </div>
      </div>


    </div>

  </tab>

  <tab heading="Change Password" (select)="changePasswordTabSelected($event)" id="tab2">
    <app-change-password #changePasswordBlock class="change-password-block"></app-change-password>
  </tab>

  <tab heading="Activity Log" (select)="activityLogTabSelected($event)" id="tab3">
    <app-activity-log #activityLogBlock></app-activity-log>
  </tab>

</tabset>
