<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="page-title-wrapper">
        <div class="row">
          <div class="col-md-12">
            <div class="back-button-block">
              <button type="button" (click)="back()" class="btn btn-icon-only casba-bck-btn">
                <i class="mdi mdi-arrow-left" aria-hidden="true"></i>
              </button>
            </div>
            <div class="page-title-block">
              <div class="page-title">
                <span>Edit Project</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <form #editProjectForm="ngForm" class="form-horizontal" (submit)="submitEditProject()" novalidate>
            <div class="row">

              <div class="col-md-4">
                <div class="form-group">
                  <label for="text-input">Name<span class="required__signal">*</span></label>
                  <div class="input-group">
                    <input type="text" id="name" name="name" class="form-control" [(ngModel)]="editProject.name"
                      #name="ngModel" required minlength="3" maxlength="55" appServerError>
                    <div [hidden]="!name.errors?.required || name.untouched || name.errors['server']"
                      class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Name is required"></i>
                    </div>
                    <div *ngIf="!name.errors?.required">
                      <div [hidden]="!name.errors?.minlength" class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                          tooltip="Length must be between 3 to 55"></i>
                      </div>
                    </div>
                    <div [hidden]="name.errors ? (!name.errors['server']) : true" class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="{{serverErrorMessages['name']}}"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="text-input">Unicode Name<span class="required__signal">*</span></label>
                  <div class="input-group">
                    <input type="text" id="unicodeName" name="unicodeName" class="form-control"
                      [(ngModel)]="editProject.unicodeName" #unicodeName="ngModel" required minlength="3" maxlength="55"
                      appServerError>
                    <div
                      [hidden]="!unicodeName.errors?.required || unicodeName.untouched || unicodeName.errors['server']"
                      class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="Unicode Name is required"></i>
                    </div>
                    <div *ngIf="!unicodeName.errors?.required">
                      <div [hidden]="!unicodeName.errors?.minlength" class="form-validation">
                        <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                          tooltip="Length must be between 3 to 55"></i>
                      </div>
                    </div>
                    <div [hidden]="unicodeName.errors ? (!unicodeName.errors['server']) : true" class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="{{serverErrorMessages['unicodeName']}}"></i>
                    </div>
                  </div>
                </div>
              </div>


              <div class="col-md-4">
                <div class="form-group">
                  <label for="text-input">Code<span class="required__signal">*</span></label>
                  <div class="input-group">
                    <input type="text" id="code" name="code" class="form-control" [(ngModel)]="editProject.code"
                      #unicodeName="ngModel" required minlength="1" maxlength="55" appServerError readonly>
                  </div>
                </div>
              </div>


              <div class="col-md-4">
                <div class="form-group--compact">
                  <label for="text-input">Ministry<span class="required__signal">*</span></label>
                  <div class="input-group select">
                    <select class="form-control" [(ngModel)]="editProject.ministryId"
                      [ngModelOptions]="{standalone: true}" #ministry="ngModel" required appServerError>
                      <option value="" disabled>Select Ministry</option>
                      <option [value]="ministry.id" *ngFor="let ministry of ministryService.ministries | async">
                        {{ ministry.name }}
                      </option>
                    </select>
                    <span>
                      <i class="mdi mdi-chevron-down"></i>
                    </span>
                    <div [hidden]="!ministry.errors?.required || ministry.untouched || ministry.errors['server']"
                      class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="Ministry is required"></i>
                    </div>
                    <div [hidden]="ministry.errors ? (!ministry.errors['server']) : true" class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                        tooltip="{{serverErrorMessages['ministry']}}"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-4">
                <div class="form-group">
                  <label for="status">Status<span class="required__signal">*</span></label>
                  <div class="form-radio">
                    <div class="radio">
                      <input id="radio-1" name="active" type="radio" value="Y" [(ngModel)]="editProject.enabled"
                        required #status="ngModel" appServerError>
                      <label class="radio-label" for="radio-1">Active</label>
                    </div>
                    <div class="radio">
                      <input id="radio-2" name="blocked" type="radio" value="N" [(ngModel)]="editProject.enabled"
                        required appServerError>
                      <label for="radio-2" class="radio-label">InActive</label>
                    </div>
                  </div>
                </div>
              </div>
            </div>


            <div class="section-block-seperator"></div>
            <div class="section-block">
              <div class="section-header">
                <span class="section-heading">Donor</span>
              </div>

              <ng-container *ngFor="let list of editProject.donorList; let i = index;">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group--compact">
                      <div class="input-group select">
                        <select class="form-control" [(ngModel)]="list.donorId" name="donorId{{i}}" #donorId="ngModel"
                          required appServerError>
                          <option value="" disabled>Select Donor</option>
                          <option [value]="donor.id" *ngFor="let donor of ministryService.donors | async">
                            {{ donor.name }}
                          </option>
                        </select>
                        <span>
                          <i class="mdi mdi-chevron-down"></i>
                        </span>
                        <div [hidden]="!donorId.errors?.required || donorId.untouched || donorId.errors['server']"
                          class="form-validation">
                          <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                            tooltip="Donor is required"></i>
                        </div>
                        <div [hidden]="donorId.errors ? (!donorId.errors['server']) : true" class="form-validation">
                          <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                            tooltip="{{serverErrorMessages['donorId']}}"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div *ngIf="editProject.donorList.length > 1">
                      <button type="button" class="btn btn-link" (click)="removeDonor(i)">
                        <i class="mdi mdi-delete"></i>
                        Remove
                      </button>
                    </div>
                  </div>
                </div>
                <div class="section-block-seperator form-seperator"></div>
              </ng-container>
            </div>


            <div class="section-block-seperator"></div>


            <div class="admin-card-footer">
              <button *ngIf="!buttonPressed" type="submit" class="btn btn-gap btn-primary"
                [disabled]="editProjectForm.invalid || buttonPressed">Modify
              </button>
              <button *ngIf="!buttonPressed" type="button" class="btn btn-gap default" (click)="back()">Cancel</button>
              <button *ngIf="buttonPressed" class="btn btn-primary" [disabled]="true">Processing</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>