.page-not-found{
    background-color: $primary-color;
    color: #FFF;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    .page-not-found-content{
        position: relative;
        z-index: 9;
        display: inline-block;
        margin: 0 auto;
        h1{
            font-size: 7.5rem;
        }
        h6{
            font-size: 1.5rem;
        }
        .btn{
            background-color: lighten($primary-color, 60%);
            border-color: lighten($primary-color, 60%);
            color: $primary-color;
            &:hover, &:active, &:focus{
                background-color: lighten($primary-color, 70%);
            border-color: lighten($primary-color, 70%);
            color: $primary-color;
            }
        }
    }   
    .brand{
        margin-bottom: 3rem;
        img{
            max-width: 120px;
        }
    }
    .background-scroll{
        background-size: 30%;
    }
}