.login-app{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.login-left-side, .login-right-side{
    min-height: 100vh;
}

.login-left-side{
    background-color: $primary-color;
    overflow: hidden;
    // background-image: url('../assets/img/login-background.png');
    // background-image: url('../assets/img/login-background.svg');
    // background-repeat: repeat;
    // background-size: 150%;
}

.login-right-side{
    background-color: #FFF; 
}

.brand-login{
    display: flex;
    align-content: center;
    height: 100%;
    position: relative;
    z-index: 9;
    img{
        max-width: 120px;
    }
}

.login-card{
    width: 100%;
    max-width: 30rem;
    margin: 0 auto;
    padding: 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    .login-card-body{
        width: 100%;
    }
    .copyright{
        margin-top: 35px;
        color: $inputLabel-text-color;
        font-size: 14px;
        font-weight: 500;
    }
    .login-box-header{
        color: $primary-text-off;
        font-size: 1.2rem;
        text-align: center;
        margin-bottom: 4rem;
    }
}

.login-form-group{
    margin-bottom: 22px;
    position: relative;

    &.form-group{
        label{
            color: $primary-text-off;
            font-size: 12px;
            font-weight: 500;
            padding: 0 5px;
            i{
                font-size: 16px;
            }
            span{
                margin-left: 7px;
            }
        }

        .form-control{
            position: relative;
            width: 100%;
            height: 45px;
            border: 0;
            border-bottom: 1px solid $border-color;
            border-radius: 0;
            padding: 8px;
            background: none;

            &:focus{
                box-shadow: none;
                background: transparent;
                border-bottom-color: darken($border-color, 10%);
            }
        }
    }
    
    
    
    button.forget-password{
        width: 100%;
        margin-top: 12px;
        border: none;
        text-align: center;
        color: $inputLabel-text-color;
        font-weight: 400;
        background-color: transparent;
        outline: none;
    }
}

@keyframes scroll-background {
    0% {
      transform: translate3d(0,0,0);
    }
    100% {
      transform: translate3d(0,-320px,0);
    }
  }

.background-scroll {
    background-image: url('../assets/img/login-background.png');
    background-image: url('../assets/img/login-background.svg');
    background-position: center center;
    background-size: 70%;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 10000%;
    width: 100%;
    z-index: 1;
    animation: scroll-background 15s linear infinite;
  }

 