.user-image-wrapper{
  margin-bottom: 1.5rem;
  height: 10rem;
  width: 10rem;
  border: 1px solid lighten($secondary-text, 10%);
  padding: 0.2rem;
  background-color: #FFF;
  vertical-align: middle;
  overflow: hidden;
  display: inline-block;
}

.user-profile-block{
  position: relative;
  .user-image-wrapper{
    border-radius: 100rem;
    position: relative;
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
      border-radius: 100rem;
    }
  }
  .user-profile-primary-details{
    margin-bottom: 2rem;
    .username{
      color: $secondary-text;
    }
  }
  .user-profile-detail-block{

      .user-profile-secondary-details{
        margin-bottom: 1rem;
        h6{
          color: $secondary-text;
          text-transform: uppercase;
          font-size: 0.75rem;
          margin-bottom: 1.5rem;
          font-weight: $font-family-secondary-bold;
        }
        p{
          margin-bottom: 0.4rem;
          i{
            font-size: 1.2rem;
            vertical-align: sub;
            margin-right: 0.6rem;
          }
        }
      }

  }
}

.user-image-upload-button-wrapper{
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 0.4rem);
  height: calc(100% - 0.4rem);
  border-radius: 100rem;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0.2rem;
  transition: $transition-global;
  .user-image-upload-input-button{
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 100rem;
    cursor: pointer;
  }
  .user-image-upload-button{
    background-color: transparent;
    color: #FFF;
    text-align: center;
    width: 100%;
    height: 100%;
    border: 0;
    i{
      display: block;
      font-size: 3rem;
      margin-bottom: 1rem;
    }
    span{
      display: block;
      font-size: 0.85rem;

    }
  }

}

.user-image-wrapper{
  &:hover{
    .user-image-upload-button-wrapper{
      opacity: 1;
    }
  }
}

.editable-form-block{
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 2rem;
  .form-group{
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 0.2rem;
    i.editable-form-icon{
      display: inline-block;
      font-size: 1.4rem;
      color: $secondary-text;
    }
    .editable-form-label, .input-group{
      position: absolute;
      top: 0;
      left: 2.4rem;
    }
    .editable-form-label{
      font-size: 0.9rem;
      line-height: 1.6;
    }
    .input-group{
      max-width: 20rem;
    }
    .form-control{
      padding: 0.1rem 0.2rem;
      height: auto;
    }
  }
}



// CHANGE Password
.change-password-block{
  .container{
    max-width: none;
    padding: 0;
  }
  .card{
    border-radius: 0;
    box-shadow: none;
    .card-header{
      display: none;
    }
    .card-body{
      padding: 0;
    }
  }
  .change-password-card{
    max-width: 22rem;
  }

}


// ROLE BLOCKS

.profile-details-roles-block{
  margin-bottom: 1.5rem;
  .roles-management{
    text-transform: uppercase;
    color: $primary-text-off;
    font-size: 90%;
  }
  .profile-details-roles-parent{
    i{
      font-size: 1rem;
      position: relative;
      top: 0.1rem;
    }
  }
  .profile-details-roles-header{
    position: relative;
    margin-bottom: 0.4rem;    
    i{
      font-size: 0.75rem;
      position: absolute;
      top: 0.3rem;
    }
    span{
      padding-left: 1.2rem;
      display: block;
    }
  }
  .profile-details-roles{
    position: relative;
    i{
      font-size: 0.75rem;
      position: absolute;
      top: 0.3rem;
      // color: $primary-color;
    }
    span{
      padding-left: 1.2rem;
      display: block;
    }
    .profile-details-roles-child{

    }
    .profile-details-roles-subchild{
      margin-left: 1rem;
    }
  }
}