<div class="container">
  <div class="justify-content-center">
    <div class="row">
      <div class="col-sm-12">
        <div class="brand-central">

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 casba-change-password-wrapper">
        <div class="card change-password-card">
          <div class="card-header">
            <strong>Change Password</strong>
          </div>
          <div class="card-body casba-textbox-tooltip">
            <form #changePasswordForm="ngForm" (submit)="submit()">
              <div class="form-group">
                <label for="form-label">Old Password</label>
                <div class="input-group">
                  <input type="password" id="oldPassword" name="oldPassword" class="form-control"
                    [(ngModel)]="changePassword.oldPassword" #oldPassword="ngModel" required>
                  <div [hidden]="oldPassword.valid || oldPassword.untouched" class="form-validation">
                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="Old Password is required"
                      container="body"></i>
                  </div>
                </div>
              </div>
              
              <div class="form-group">
                <label for="form-label">New Password</label>
                <div class="input-group">
                  <input type="password" id="newPassword" name="newPassword" class="form-control"
                    [(ngModel)]="changePassword.newPassword" #newPassword="ngModel"
                    (keyup)="validate(changePassword.newPassword ,1)" validateEqual="confirmPassword" reverse="true"
                    required>
                  <div [hidden]="!newPassword.errors?.required || newPassword.untouched" class="form-validation">
                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip="New Password is required"
                      container="body"></i>
                  </div>
                  <div *ngIf="!newPassword.errors?.required">
                    <div [hidden]="validationResult[1] ? false : true || newPassword.untouched" class="form-validation">
                      <i class="mdi mdi-alert validation-icon alert" aria-hidden="true" tooltip={{validationResult[1]}}
                        container="body"></i>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group">
                <label for="form-label">Confirm New Password</label>
                <div class="input-group">
                  <input type="password" id="confirmPassword" name="confirmPassword" class="form-control"
                    [(ngModel)]="changePassword.confirmPassword" #confirmPassword="ngModel" required
                    validateEqual="newPassword" reverse="false">
                  <div [hidden]="!confirmPassword.errors?.required || confirmPassword.untouched"
                    class="form-validation">
                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                      tooltip="Confirm password is required" container="body"></i>
                  </div>

                  <div [hidden]="confirmPassword.valid || confirmPassword.pristine" class="form-validation">
                    <i class="mdi mdi-alert validation-icon alert" aria-hidden="true"
                      tooltip="Password and confirm password does not match" container="body"></i>
                  </div>
                </div>
              </div>

              <div class="form-group form-actions">
                <button *ngIf="!buttonPressed" type="submit" class="btn btn-primary"
                  [disabled]="changePasswordForm.invalid || validationResult[1] || buttonPressed">Change
                  Password</button>
                <button *ngIf="buttonPressed" class="btn btn-gap btn-primary" [disabled]="true">Processing</button>
              </div>
            </form>
          </div>
        </div>
      </div>

    </div>


  </div>
</div>